# Copyright 2017 Google Inc.
#
# Licensed under the Apache License, Version 2.0 (the &quot;License&quot;);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an &quot;AS IS&quot; BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# NOTE: This class is auto generated by the swagger code generator program.
# https://github.com/swagger-api/swagger-codegen.git
# Do not edit the class manually.

defmodule GoogleApi.GamesConfiguration.V1configuration.Api.ImageConfigurations do
  @moduledoc """
  API calls for all endpoints tagged `ImageConfigurations`.
  """

  alias GoogleApi.GamesConfiguration.V1configuration.Connection
  alias GoogleApi.Gax.{Request, Response}

  @doc """
  Uploads an image for a resource with the given ID and image type.

  ## Parameters

  - connection (GoogleApi.GamesConfiguration.V1configuration.Connection): Connection to server
  - resource_id (String.t): The ID of the resource used by this method.
  - image_type (String.t): Selects which image in a resource for this method.
  - optional_params (KeywordList): [optional] Optional parameters
    - :alt (String.t): Data format for the response.
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): An opaque string that represents a user for quota purposes. Must not exceed 40 characters.
    - :userIp (String.t): Deprecated. Please use quotaUser instead.

  ## Returns

  {:ok, %GoogleApi.GamesConfiguration.V1configuration.Model.ImageConfiguration{}} on success
  {:error, info} on failure
  """
  @spec games_configuration_image_configurations_upload(
          Tesla.Env.client(),
          String.t(),
          String.t(),
          keyword()
        ) ::
          {:ok, GoogleApi.GamesConfiguration.V1configuration.Model.ImageConfiguration.t()}
          | {:error, Tesla.Env.t()}
  def games_configuration_image_configurations_upload(
        connection,
        resource_id,
        image_type,
        optional_params \\ [],
        opts \\ []
      ) do
    optional_params_config = %{
      :alt => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :userIp => :query
    }

    request =
      Request.new()
      |> Request.method(:post)
      |> Request.url("/games/v1configuration/images/{resourceId}/imageType/{imageType}", %{
        "resourceId" => URI.encode_www_form(resource_id),
        "imageType" => URI.encode_www_form(image_type)
      })
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(
      opts ++ [struct: %GoogleApi.GamesConfiguration.V1configuration.Model.ImageConfiguration{}]
    )
  end

  @doc """
  Uploads an image for a resource with the given ID and image type.

  ## Parameters

  - connection (GoogleApi.GamesConfiguration.V1configuration.Connection): Connection to server
  - resource_id (String.t): The ID of the resource used by this method.
  - image_type (String.t): Selects which image in a resource for this method.
  - upload_type (String.t): Upload type. Must be \&quot;resumable\&quot;.
  - optional_params (KeywordList): [optional] Optional parameters
    - :alt (String.t): Data format for the response.
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): An opaque string that represents a user for quota purposes. Must not exceed 40 characters.
    - :userIp (String.t): Deprecated. Please use quotaUser instead.

  ## Returns

  {:ok, %{}} on success
  {:error, info} on failure
  """
  @spec games_configuration_image_configurations_upload_resumable(
          Tesla.Env.client(),
          String.t(),
          String.t(),
          String.t(),
          keyword()
        ) :: {:ok, nil} | {:error, Tesla.Env.t()}
  def games_configuration_image_configurations_upload_resumable(
        connection,
        resource_id,
        image_type,
        upload_type,
        optional_params \\ [],
        opts \\ []
      ) do
    optional_params_config = %{
      :alt => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :userIp => :query
    }

    request =
      Request.new()
      |> Request.method(:post)
      |> Request.url(
        "/resumable/upload/games/v1configuration/images/{resourceId}/imageType/{imageType}",
        %{
          "resourceId" => URI.encode_www_form(resource_id),
          "imageType" => URI.encode_www_form(image_type)
        }
      )
      |> Request.add_param(:query, :uploadType, upload_type)
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(opts ++ [decode: false])
  end

  @doc """
  Uploads an image for a resource with the given ID and image type.

  ## Parameters

  - connection (GoogleApi.GamesConfiguration.V1configuration.Connection): Connection to server
  - resource_id (String.t): The ID of the resource used by this method.
  - image_type (String.t): Selects which image in a resource for this method.
  - upload_type (String.t): Upload type. Must be \&quot;multipart\&quot;.
  - data (String.t): The file to upload.
  - optional_params (KeywordList): [optional] Optional parameters
    - :alt (String.t): Data format for the response.
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): An opaque string that represents a user for quota purposes. Must not exceed 40 characters.
    - :userIp (String.t): Deprecated. Please use quotaUser instead.

  ## Returns

  {:ok, %GoogleApi.GamesConfiguration.V1configuration.Model.ImageConfiguration{}} on success
  {:error, info} on failure
  """
  @spec games_configuration_image_configurations_upload_simple(
          Tesla.Env.client(),
          String.t(),
          String.t(),
          String.t(),
          String.t(),
          keyword()
        ) ::
          {:ok, GoogleApi.GamesConfiguration.V1configuration.Model.ImageConfiguration.t()}
          | {:error, Tesla.Env.t()}
  def games_configuration_image_configurations_upload_simple(
        connection,
        resource_id,
        image_type,
        upload_type,
        data,
        optional_params \\ [],
        opts \\ []
      ) do
    optional_params_config = %{
      :alt => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :userIp => :query
    }

    request =
      Request.new()
      |> Request.method(:post)
      |> Request.url("/upload/games/v1configuration/images/{resourceId}/imageType/{imageType}", %{
        "resourceId" => URI.encode_www_form(resource_id),
        "imageType" => URI.encode_www_form(image_type)
      })
      |> Request.add_param(:query, :uploadType, upload_type)
      |> Request.add_param(:file, :data, data)
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(
      opts ++ [struct: %GoogleApi.GamesConfiguration.V1configuration.Model.ImageConfiguration{}]
    )
  end
end
