{{>licenseInfo}}
defmodule {{moduleName}}.Deserializer do
  @moduledoc """
  Helper functions for deserializing responses into models.

  This module is no longer used. Please use GoogleApi.Gax.ModelBase instead.
  """
end
