# Copyright 2017 Google Inc.
#
# Licensed under the Apache License, Version 2.0 (the &quot;License&quot;);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an &quot;AS IS&quot; BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# NOTE: This class is auto generated by the swagger code generator program.
# https://github.com/swagger-api/swagger-codegen.git
# Do not edit the class manually.

defmodule GoogleApi.CloudDebugger.V2.Api.Controller do
  @moduledoc """
  API calls for all endpoints tagged `Controller`.
  """

  alias GoogleApi.CloudDebugger.V2.Connection
  alias GoogleApi.Gax.{Request, Response}

  @doc """
  Returns the list of all active breakpoints for the debuggee.  The breakpoint specification (&#x60;location&#x60;, &#x60;condition&#x60;, and &#x60;expressions&#x60; fields) is semantically immutable, although the field values may change. For example, an agent may update the location line number to reflect the actual line where the breakpoint was set, but this doesn&#39;t change the breakpoint semantics.  This means that an agent does not need to check if a breakpoint has changed when it encounters the same breakpoint on a successive call. Moreover, an agent should remember the breakpoints that are completed until the controller removes them from the active list to avoid setting those breakpoints again.

  ## Parameters

  - connection (GoogleApi.CloudDebugger.V2.Connection): Connection to server
  - debuggee_id (String.t): Identifies the debuggee.
  - optional_params (KeywordList): [optional] Optional parameters
    - :callback (String.t): JSONP
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :$.xgafv (String.t): V1 error format.
    - :alt (String.t): Data format for response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :access_token (String.t): OAuth access token.
    - :upload_protocol (String.t): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :quotaUser (String.t): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :uploadType (String.t): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :successOnTimeout (boolean()): If set to &#x60;true&#x60; (recommended), returns &#x60;google.rpc.Code.OK&#x60; status and sets the &#x60;wait_expired&#x60; response field to &#x60;true&#x60; when the server-selected timeout has expired.  If set to &#x60;false&#x60; (deprecated), returns &#x60;google.rpc.Code.ABORTED&#x60; status when the server-selected timeout has expired.
    - :waitToken (String.t): A token that, if specified, blocks the method call until the list of active breakpoints has changed, or a server-selected timeout has expired. The value should be set from the &#x60;next_wait_token&#x60; field in the last response. The initial value should be set to &#x60;\&quot;init\&quot;&#x60;.

  ## Returns

  {:ok, %GoogleApi.CloudDebugger.V2.Model.ListActiveBreakpointsResponse{}} on success
  {:error, info} on failure
  """
  @spec clouddebugger_controller_debuggees_breakpoints_list(
          Tesla.Env.client(),
          String.t(),
          keyword()
        ) ::
          {:ok, GoogleApi.CloudDebugger.V2.Model.ListActiveBreakpointsResponse.t()}
          | {:error, Tesla.Env.t()}
  def clouddebugger_controller_debuggees_breakpoints_list(
        connection,
        debuggee_id,
        optional_params \\ [],
        opts \\ []
      ) do
    optional_params_config = %{
      :callback => :query,
      :oauth_token => :query,
      :"$.xgafv" => :query,
      :alt => :query,
      :key => :query,
      :access_token => :query,
      :upload_protocol => :query,
      :quotaUser => :query,
      :prettyPrint => :query,
      :uploadType => :query,
      :fields => :query,
      :successOnTimeout => :query,
      :waitToken => :query
    }

    request =
      Request.new()
      |> Request.method(:get)
      |> Request.url("/v2/controller/debuggees/{debuggeeId}/breakpoints", %{
        "debuggeeId" => URI.encode_www_form(debuggee_id)
      })
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(
      opts ++ [struct: %GoogleApi.CloudDebugger.V2.Model.ListActiveBreakpointsResponse{}]
    )
  end

  @doc """
  Updates the breakpoint state or mutable fields. The entire Breakpoint message must be sent back to the controller service.  Updates to active breakpoint fields are only allowed if the new value does not change the breakpoint specification. Updates to the &#x60;location&#x60;, &#x60;condition&#x60; and &#x60;expressions&#x60; fields should not alter the breakpoint semantics. These may only make changes such as canonicalizing a value or snapping the location to the correct line of code.

  ## Parameters

  - connection (GoogleApi.CloudDebugger.V2.Connection): Connection to server
  - debuggee_id (String.t): Identifies the debuggee being debugged.
  - id (String.t): Breakpoint identifier, unique in the scope of the debuggee.
  - optional_params (KeywordList): [optional] Optional parameters
    - :callback (String.t): JSONP
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :$.xgafv (String.t): V1 error format.
    - :alt (String.t): Data format for response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :access_token (String.t): OAuth access token.
    - :upload_protocol (String.t): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :quotaUser (String.t): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :uploadType (String.t): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :body (UpdateActiveBreakpointRequest): 

  ## Returns

  {:ok, %GoogleApi.CloudDebugger.V2.Model.UpdateActiveBreakpointResponse{}} on success
  {:error, info} on failure
  """
  @spec clouddebugger_controller_debuggees_breakpoints_update(
          Tesla.Env.client(),
          String.t(),
          String.t(),
          keyword()
        ) ::
          {:ok, GoogleApi.CloudDebugger.V2.Model.UpdateActiveBreakpointResponse.t()}
          | {:error, Tesla.Env.t()}
  def clouddebugger_controller_debuggees_breakpoints_update(
        connection,
        debuggee_id,
        id,
        optional_params \\ [],
        opts \\ []
      ) do
    optional_params_config = %{
      :callback => :query,
      :oauth_token => :query,
      :"$.xgafv" => :query,
      :alt => :query,
      :key => :query,
      :access_token => :query,
      :upload_protocol => :query,
      :quotaUser => :query,
      :prettyPrint => :query,
      :uploadType => :query,
      :fields => :query,
      :body => :body
    }

    request =
      Request.new()
      |> Request.method(:put)
      |> Request.url("/v2/controller/debuggees/{debuggeeId}/breakpoints/{id}", %{
        "debuggeeId" => URI.encode_www_form(debuggee_id),
        "id" => URI.encode_www_form(id)
      })
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(
      opts ++ [struct: %GoogleApi.CloudDebugger.V2.Model.UpdateActiveBreakpointResponse{}]
    )
  end

  @doc """
  Registers the debuggee with the controller service.  All agents attached to the same application must call this method with exactly the same request content to get back the same stable &#x60;debuggee_id&#x60;. Agents should call this method again whenever &#x60;google.rpc.Code.NOT_FOUND&#x60; is returned from any controller method.  This protocol allows the controller service to disable debuggees, recover from data loss, or change the &#x60;debuggee_id&#x60; format. Agents must handle &#x60;debuggee_id&#x60; value changing upon re-registration.

  ## Parameters

  - connection (GoogleApi.CloudDebugger.V2.Connection): Connection to server
  - optional_params (KeywordList): [optional] Optional parameters
    - :callback (String.t): JSONP
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :$.xgafv (String.t): V1 error format.
    - :alt (String.t): Data format for response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :access_token (String.t): OAuth access token.
    - :upload_protocol (String.t): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :quotaUser (String.t): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :uploadType (String.t): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :body (RegisterDebuggeeRequest): 

  ## Returns

  {:ok, %GoogleApi.CloudDebugger.V2.Model.RegisterDebuggeeResponse{}} on success
  {:error, info} on failure
  """
  @spec clouddebugger_controller_debuggees_register(Tesla.Env.client(), keyword()) ::
          {:ok, GoogleApi.CloudDebugger.V2.Model.RegisterDebuggeeResponse.t()}
          | {:error, Tesla.Env.t()}
  def clouddebugger_controller_debuggees_register(connection, optional_params \\ [], opts \\ []) do
    optional_params_config = %{
      :callback => :query,
      :oauth_token => :query,
      :"$.xgafv" => :query,
      :alt => :query,
      :key => :query,
      :access_token => :query,
      :upload_protocol => :query,
      :quotaUser => :query,
      :prettyPrint => :query,
      :uploadType => :query,
      :fields => :query,
      :body => :body
    }

    request =
      Request.new()
      |> Request.method(:post)
      |> Request.url("/v2/controller/debuggees/register")
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(
      opts ++ [struct: %GoogleApi.CloudDebugger.V2.Model.RegisterDebuggeeResponse{}]
    )
  end
end
