# Copyright 2017 Google Inc.
#
# Licensed under the Apache License, Version 2.0 (the &quot;License&quot;);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an &quot;AS IS&quot; BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


# NOTE: This class is auto generated by the swagger code generator program.
# https://github.com/swagger-api/swagger-codegen.git
# Do not edit the class manually.

defmodule GoogleApi.Language.V1.Api.Documents do
  @moduledoc """
  API calls for all endpoints tagged `Documents`.
  """

  alias GoogleApi.Language.V1.Connection
  import GoogleApi.Language.V1.RequestBuilder


  @doc """
  Finds named entities (currently proper names and common nouns) in the text along with entity types, salience, mentions for each entity, and other properties.

  ## Parameters

  - connection (GoogleApi.Language.V1.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :access_token (String): OAuth access token.
    - :key (String): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :quota_user (String): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :pp (Boolean): Pretty-print response.
    - :oauth_token (String): OAuth 2.0 token for the current user.
    - :bearer_token (String): OAuth bearer token.
    - :upload_protocol (String): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :pretty_print (Boolean): Returns response with indentations and line breaks.
    - :upload_type (String): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :fields (String): Selector specifying which fields to include in a partial response.
    - :callback (String): JSONP
    - :__/xgafv (String): V1 error format.
    - :alt (String): Data format for response.
    - :body (AnalyzeEntitiesRequest): 

  ## Returns

  {:ok, %GoogleApi.Language.V1.Model.AnalyzeEntitiesResponse{}} on success
  {:error, info} on failure
  """
  @spec language_documents_analyze_entities(Tesla.Env.client, keyword()) :: {:ok, GoogleApi.Language.V1.Model.AnalyzeEntitiesResponse.t} | {:error, Tesla.Env.t}
  def language_documents_analyze_entities(connection, opts \\ []) do
    optional_params = %{
      :"access_token" => :query,
      :"key" => :query,
      :"quotaUser" => :query,
      :"pp" => :query,
      :"oauth_token" => :query,
      :"bearer_token" => :query,
      :"upload_protocol" => :query,
      :"prettyPrint" => :query,
      :"uploadType" => :query,
      :"fields" => :query,
      :"callback" => :query,
      :"$.xgafv" => :query,
      :"alt" => :query,
      :"body" => :body
    }
    %{}
    |> method(:post)
    |> url("/v1/documents:analyzeEntities")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%GoogleApi.Language.V1.Model.AnalyzeEntitiesResponse{})
  end

  @doc """
  Analyzes the sentiment of the provided text.

  ## Parameters

  - connection (GoogleApi.Language.V1.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :access_token (String): OAuth access token.
    - :key (String): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :quota_user (String): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :pp (Boolean): Pretty-print response.
    - :oauth_token (String): OAuth 2.0 token for the current user.
    - :bearer_token (String): OAuth bearer token.
    - :upload_protocol (String): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :pretty_print (Boolean): Returns response with indentations and line breaks.
    - :upload_type (String): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :fields (String): Selector specifying which fields to include in a partial response.
    - :callback (String): JSONP
    - :__/xgafv (String): V1 error format.
    - :alt (String): Data format for response.
    - :body (AnalyzeSentimentRequest): 

  ## Returns

  {:ok, %GoogleApi.Language.V1.Model.AnalyzeSentimentResponse{}} on success
  {:error, info} on failure
  """
  @spec language_documents_analyze_sentiment(Tesla.Env.client, keyword()) :: {:ok, GoogleApi.Language.V1.Model.AnalyzeSentimentResponse.t} | {:error, Tesla.Env.t}
  def language_documents_analyze_sentiment(connection, opts \\ []) do
    optional_params = %{
      :"access_token" => :query,
      :"key" => :query,
      :"quotaUser" => :query,
      :"pp" => :query,
      :"oauth_token" => :query,
      :"bearer_token" => :query,
      :"upload_protocol" => :query,
      :"prettyPrint" => :query,
      :"uploadType" => :query,
      :"fields" => :query,
      :"callback" => :query,
      :"$.xgafv" => :query,
      :"alt" => :query,
      :"body" => :body
    }
    %{}
    |> method(:post)
    |> url("/v1/documents:analyzeSentiment")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%GoogleApi.Language.V1.Model.AnalyzeSentimentResponse{})
  end

  @doc """
  Analyzes the syntax of the text and provides sentence boundaries and tokenization along with part of speech tags, dependency trees, and other properties.

  ## Parameters

  - connection (GoogleApi.Language.V1.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :access_token (String): OAuth access token.
    - :key (String): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :quota_user (String): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :pp (Boolean): Pretty-print response.
    - :oauth_token (String): OAuth 2.0 token for the current user.
    - :bearer_token (String): OAuth bearer token.
    - :upload_protocol (String): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :pretty_print (Boolean): Returns response with indentations and line breaks.
    - :upload_type (String): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :fields (String): Selector specifying which fields to include in a partial response.
    - :callback (String): JSONP
    - :__/xgafv (String): V1 error format.
    - :alt (String): Data format for response.
    - :body (AnalyzeSyntaxRequest): 

  ## Returns

  {:ok, %GoogleApi.Language.V1.Model.AnalyzeSyntaxResponse{}} on success
  {:error, info} on failure
  """
  @spec language_documents_analyze_syntax(Tesla.Env.client, keyword()) :: {:ok, GoogleApi.Language.V1.Model.AnalyzeSyntaxResponse.t} | {:error, Tesla.Env.t}
  def language_documents_analyze_syntax(connection, opts \\ []) do
    optional_params = %{
      :"access_token" => :query,
      :"key" => :query,
      :"quotaUser" => :query,
      :"pp" => :query,
      :"oauth_token" => :query,
      :"bearer_token" => :query,
      :"upload_protocol" => :query,
      :"prettyPrint" => :query,
      :"uploadType" => :query,
      :"fields" => :query,
      :"callback" => :query,
      :"$.xgafv" => :query,
      :"alt" => :query,
      :"body" => :body
    }
    %{}
    |> method(:post)
    |> url("/v1/documents:analyzeSyntax")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%GoogleApi.Language.V1.Model.AnalyzeSyntaxResponse{})
  end

  @doc """
  A convenience method that provides all the features that analyzeSentiment, analyzeEntities, and analyzeSyntax provide in one call.

  ## Parameters

  - connection (GoogleApi.Language.V1.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :access_token (String): OAuth access token.
    - :key (String): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :quota_user (String): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :pp (Boolean): Pretty-print response.
    - :oauth_token (String): OAuth 2.0 token for the current user.
    - :bearer_token (String): OAuth bearer token.
    - :upload_protocol (String): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :pretty_print (Boolean): Returns response with indentations and line breaks.
    - :upload_type (String): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :fields (String): Selector specifying which fields to include in a partial response.
    - :callback (String): JSONP
    - :__/xgafv (String): V1 error format.
    - :alt (String): Data format for response.
    - :body (AnnotateTextRequest): 

  ## Returns

  {:ok, %GoogleApi.Language.V1.Model.AnnotateTextResponse{}} on success
  {:error, info} on failure
  """
  @spec language_documents_annotate_text(Tesla.Env.client, keyword()) :: {:ok, GoogleApi.Language.V1.Model.AnnotateTextResponse.t} | {:error, Tesla.Env.t}
  def language_documents_annotate_text(connection, opts \\ []) do
    optional_params = %{
      :"access_token" => :query,
      :"key" => :query,
      :"quotaUser" => :query,
      :"pp" => :query,
      :"oauth_token" => :query,
      :"bearer_token" => :query,
      :"upload_protocol" => :query,
      :"prettyPrint" => :query,
      :"uploadType" => :query,
      :"fields" => :query,
      :"callback" => :query,
      :"$.xgafv" => :query,
      :"alt" => :query,
      :"body" => :body
    }
    %{}
    |> method(:post)
    |> url("/v1/documents:annotateText")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%GoogleApi.Language.V1.Model.AnnotateTextResponse{})
  end
end
