# Copyright 2017 Google Inc.
#
# Licensed under the Apache License, Version 2.0 (the &quot;License&quot;);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an &quot;AS IS&quot; BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


# NOTE: This class is auto generated by the swagger code generator program.
# https://github.com/swagger-api/swagger-codegen.git
# Do not edit the class manually.

defmodule GoogleApi.CloudBilling.V1.Api.BillingAccounts do
  @moduledoc """
  API calls for all endpoints tagged `BillingAccounts`.
  """

  alias GoogleApi.CloudBilling.V1.Connection
  import GoogleApi.CloudBilling.V1.RequestBuilder


  @doc """
  Gets information about a billing account. The current authenticated user must be an [owner of the billing account](https://support.google.com/cloud/answer/4430947).

  ## Parameters

  - connection (GoogleApi.CloudBilling.V1.Connection): Connection to server
  - name (String): The resource name of the billing account to retrieve. For example, &#x60;billingAccounts/012345-567890-ABCDEF&#x60;.
  - opts (KeywordList): [optional] Optional parameters
    - :access_token (String): OAuth access token.
    - :pretty_print (Boolean): Returns response with indentations and line breaks.
    - :key (String): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :quota_user (String): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :pp (Boolean): Pretty-print response.
    - :fields (String): Selector specifying which fields to include in a partial response.
    - :alt (String): Data format for response.
    - :__/xgafv (String): V1 error format.
    - :callback (String): JSONP
    - :oauth_token (String): OAuth 2.0 token for the current user.
    - :upload_type (String): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :bearer_token (String): OAuth bearer token.
    - :upload_protocol (String): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).

  ## Returns

  {:ok, %GoogleApi.CloudBilling.V1.Model.BillingAccount{}} on success
  {:error, info} on failure
  """
  @spec cloudbilling_billing_accounts_get(Tesla.Env.client, String.t, keyword()) :: {:ok, GoogleApi.CloudBilling.V1.Model.BillingAccount.t} | {:error, Tesla.Env.t}
  def cloudbilling_billing_accounts_get(connection, name, opts \\ []) do
    optional_params = %{
      :"access_token" => :query,
      :"prettyPrint" => :query,
      :"key" => :query,
      :"quotaUser" => :query,
      :"pp" => :query,
      :"fields" => :query,
      :"alt" => :query,
      :"$.xgafv" => :query,
      :"callback" => :query,
      :"oauth_token" => :query,
      :"uploadType" => :query,
      :"bearer_token" => :query,
      :"upload_protocol" => :query
    }
    %{}
    |> method(:get)
    |> url("/v1/#{+name}")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%GoogleApi.CloudBilling.V1.Model.BillingAccount{})
  end

  @doc """
  Lists the billing accounts that the current authenticated user [owns](https://support.google.com/cloud/answer/4430947).

  ## Parameters

  - connection (GoogleApi.CloudBilling.V1.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :access_token (String): OAuth access token.
    - :pretty_print (Boolean): Returns response with indentations and line breaks.
    - :key (String): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :quota_user (String): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :pp (Boolean): Pretty-print response.
    - :fields (String): Selector specifying which fields to include in a partial response.
    - :alt (String): Data format for response.
    - :__/xgafv (String): V1 error format.
    - :callback (String): JSONP
    - :oauth_token (String): OAuth 2.0 token for the current user.
    - :upload_type (String): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :bearer_token (String): OAuth bearer token.
    - :upload_protocol (String): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :page_size (Integer): Requested page size. The maximum page size is 100; this is also the default.
    - :page_token (String): A token identifying a page of results to return. This should be a &#x60;next_page_token&#x60; value returned from a previous &#x60;ListBillingAccounts&#x60; call. If unspecified, the first page of results is returned.

  ## Returns

  {:ok, %GoogleApi.CloudBilling.V1.Model.ListBillingAccountsResponse{}} on success
  {:error, info} on failure
  """
  @spec cloudbilling_billing_accounts_list(Tesla.Env.client, keyword()) :: {:ok, GoogleApi.CloudBilling.V1.Model.ListBillingAccountsResponse.t} | {:error, Tesla.Env.t}
  def cloudbilling_billing_accounts_list(connection, opts \\ []) do
    optional_params = %{
      :"access_token" => :query,
      :"prettyPrint" => :query,
      :"key" => :query,
      :"quotaUser" => :query,
      :"pp" => :query,
      :"fields" => :query,
      :"alt" => :query,
      :"$.xgafv" => :query,
      :"callback" => :query,
      :"oauth_token" => :query,
      :"uploadType" => :query,
      :"bearer_token" => :query,
      :"upload_protocol" => :query,
      :"pageSize" => :query,
      :"pageToken" => :query
    }
    %{}
    |> method(:get)
    |> url("/v1/billingAccounts")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%GoogleApi.CloudBilling.V1.Model.ListBillingAccountsResponse{})
  end

  @doc """
  Lists the projects associated with a billing account. The current authenticated user must be an [owner of the billing account](https://support.google.com/cloud/answer/4430947).

  ## Parameters

  - connection (GoogleApi.CloudBilling.V1.Connection): Connection to server
  - name (String): The resource name of the billing account associated with the projects that you want to list. For example, &#x60;billingAccounts/012345-567890-ABCDEF&#x60;.
  - opts (KeywordList): [optional] Optional parameters
    - :access_token (String): OAuth access token.
    - :pretty_print (Boolean): Returns response with indentations and line breaks.
    - :key (String): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :quota_user (String): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :pp (Boolean): Pretty-print response.
    - :fields (String): Selector specifying which fields to include in a partial response.
    - :alt (String): Data format for response.
    - :__/xgafv (String): V1 error format.
    - :callback (String): JSONP
    - :oauth_token (String): OAuth 2.0 token for the current user.
    - :upload_type (String): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :bearer_token (String): OAuth bearer token.
    - :upload_protocol (String): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :page_size (Integer): Requested page size. The maximum page size is 100; this is also the default.
    - :page_token (String): A token identifying a page of results to be returned. This should be a &#x60;next_page_token&#x60; value returned from a previous &#x60;ListProjectBillingInfo&#x60; call. If unspecified, the first page of results is returned.

  ## Returns

  {:ok, %GoogleApi.CloudBilling.V1.Model.ListProjectBillingInfoResponse{}} on success
  {:error, info} on failure
  """
  @spec cloudbilling_billing_accounts_projects_list(Tesla.Env.client, String.t, keyword()) :: {:ok, GoogleApi.CloudBilling.V1.Model.ListProjectBillingInfoResponse.t} | {:error, Tesla.Env.t}
  def cloudbilling_billing_accounts_projects_list(connection, name, opts \\ []) do
    optional_params = %{
      :"access_token" => :query,
      :"prettyPrint" => :query,
      :"key" => :query,
      :"quotaUser" => :query,
      :"pp" => :query,
      :"fields" => :query,
      :"alt" => :query,
      :"$.xgafv" => :query,
      :"callback" => :query,
      :"oauth_token" => :query,
      :"uploadType" => :query,
      :"bearer_token" => :query,
      :"upload_protocol" => :query,
      :"pageSize" => :query,
      :"pageToken" => :query
    }
    %{}
    |> method(:get)
    |> url("/v1/#{+name}/projects")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%GoogleApi.CloudBilling.V1.Model.ListProjectBillingInfoResponse{})
  end
end
