# Copyright 2017 Google Inc.
#
# Licensed under the Apache License, Version 2.0 (the &quot;License&quot;);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an &quot;AS IS&quot; BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# NOTE: This class is auto generated by the swagger code generator program.
# https://github.com/swagger-api/swagger-codegen.git
# Do not edit the class manually.

defmodule GoogleApi.Content.V2.Api.Orderinvoices do
  @moduledoc """
  API calls for all endpoints tagged `Orderinvoices`.
  """

  alias GoogleApi.Content.V2.Connection
  alias GoogleApi.Gax.{Request, Response}

  @doc """
  Creates a charge invoice for a shipment group, and triggers a charge capture for non-facilitated payment orders.

  ## Parameters

  - connection (GoogleApi.Content.V2.Connection): Connection to server
  - merchant_id (String.t): The ID of the account that manages the order. This cannot be a multi-client account.
  - order_id (String.t): The ID of the order.
  - opts (KeywordList): [optional] Optional parameters
    - :alt (String.t): Data format for the response.
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): An opaque string that represents a user for quota purposes. Must not exceed 40 characters.
    - :userIp (String.t): Deprecated. Please use quotaUser instead.
    - :body (OrderinvoicesCreateChargeInvoiceRequest): 

  ## Returns

  {:ok, %GoogleApi.Content.V2.Model.OrderinvoicesCreateChargeInvoiceResponse{}} on success
  {:error, info} on failure
  """
  @spec content_orderinvoices_createchargeinvoice(
          Tesla.Env.client(),
          String.t(),
          String.t(),
          keyword()
        ) ::
          {:ok, GoogleApi.Content.V2.Model.OrderinvoicesCreateChargeInvoiceResponse.t()}
          | {:error, Tesla.Env.t()}
  def content_orderinvoices_createchargeinvoice(connection, merchant_id, order_id, opts \\ []) do
    optional_params = %{
      :alt => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :userIp => :query,
      :body => :body
    }

    request =
      Request.new()
      |> Request.method(:post)
      |> Request.url("/{merchantId}/orderinvoices/{orderId}/createChargeInvoice", %{
        "merchantId" => URI.encode_www_form(merchant_id),
        "orderId" => URI.encode_www_form(order_id)
      })
      |> Request.add_optional_params(optional_params, opts)

    connection
    |> Connection.execute(request)
    |> Response.decode(
      struct: %GoogleApi.Content.V2.Model.OrderinvoicesCreateChargeInvoiceResponse{}
    )
  end

  @doc """
  Creates a refund invoice for one or more shipment groups, and triggers a refund for non-facilitated payment orders.

  ## Parameters

  - connection (GoogleApi.Content.V2.Connection): Connection to server
  - merchant_id (String.t): The ID of the account that manages the order. This cannot be a multi-client account.
  - order_id (String.t): The ID of the order.
  - opts (KeywordList): [optional] Optional parameters
    - :alt (String.t): Data format for the response.
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): An opaque string that represents a user for quota purposes. Must not exceed 40 characters.
    - :userIp (String.t): Deprecated. Please use quotaUser instead.
    - :body (OrderinvoicesCreateRefundInvoiceRequest): 

  ## Returns

  {:ok, %GoogleApi.Content.V2.Model.OrderinvoicesCreateRefundInvoiceResponse{}} on success
  {:error, info} on failure
  """
  @spec content_orderinvoices_createrefundinvoice(
          Tesla.Env.client(),
          String.t(),
          String.t(),
          keyword()
        ) ::
          {:ok, GoogleApi.Content.V2.Model.OrderinvoicesCreateRefundInvoiceResponse.t()}
          | {:error, Tesla.Env.t()}
  def content_orderinvoices_createrefundinvoice(connection, merchant_id, order_id, opts \\ []) do
    optional_params = %{
      :alt => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :userIp => :query,
      :body => :body
    }

    request =
      Request.new()
      |> Request.method(:post)
      |> Request.url("/{merchantId}/orderinvoices/{orderId}/createRefundInvoice", %{
        "merchantId" => URI.encode_www_form(merchant_id),
        "orderId" => URI.encode_www_form(order_id)
      })
      |> Request.add_optional_params(optional_params, opts)

    connection
    |> Connection.execute(request)
    |> Response.decode(
      struct: %GoogleApi.Content.V2.Model.OrderinvoicesCreateRefundInvoiceResponse{}
    )
  end
end
