# Copyright 2017 Google Inc.
#
# Licensed under the Apache License, Version 2.0 (the &quot;License&quot;);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an &quot;AS IS&quot; BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


# NOTE: This class is auto generated by the swagger code generator program.
# https://github.com/swagger-api/swagger-codegen.git
# Do not edit the class manually.

defmodule GoogleApi.DevProjects.V1.Api.ActivationLinks do
  @moduledoc """
  API calls for all endpoints tagged `ActivationLinks`.
  """

  alias GoogleApi.DevProjects.V1.Connection
  import GoogleApi.DevProjects.V1.RequestBuilder


  @doc """
  Generate activation links, a proper whitelist id is required.

  ## Parameters

  - connection (GoogleApi.DevProjects.V1.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :alt (String): Data format for the response.
    - :fields (String): Selector specifying which fields to include in a partial response.
    - :key (String): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String): OAuth 2.0 token for the current user.
    - :pretty_print (Boolean): Returns response with indentations and line breaks.
    - :quota_user (String): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.
    - :user_ip (String): IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    - :user (String): Use for access control temporarily
    - :whitelist_id (String): The whitelist project ID. See Projects.Insert.whitelist_id documentation for details.
    - :body (ActivationLinksCollection): 

  ## Returns

  {:ok, %GoogleApi.DevProjects.V1.Model.ActivationLinksCollection{}} on success
  {:error, info} on failure
  """
  @spec devprojects_activation_links_insert(Tesla.Env.client, keyword()) :: {:ok, GoogleApi.DevProjects.V1.Model.ActivationLinksCollection.t} | {:error, Tesla.Env.t}
  def devprojects_activation_links_insert(connection, opts \\ []) do
    optional_params = %{
      :"alt" => :query,
      :"fields" => :query,
      :"key" => :query,
      :"oauth_token" => :query,
      :"prettyPrint" => :query,
      :"quotaUser" => :query,
      :"userIp" => :query,
      :"user" => :query,
      :"whitelistId" => :query,
      :"body" => :body
    }
    %{}
    |> method(:post)
    |> url("/activationLinks")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%GoogleApi.DevProjects.V1.Model.ActivationLinksCollection{})
  end

  @doc """
  Validates an activation link. If successful, returns either the token OR type for the API OR respectively component being activated and the key value pairs contained in the signup token. For more details regarding sign-up tokens please see: - for first-party (Google) APIs - &#39;https://sites.google.com/a/google.com/developer-console/developer-console-services/the-devrel-shard#TOC-Creating-signup-urls-a.k.a.-activation-tokens-&#39; - for third-party (Swarm/Endpoint) APIs - the producer-initiated activation flow details here http://go/apiproduceconsume

  ## Parameters

  - connection (GoogleApi.DevProjects.V1.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :alt (String): Data format for the response.
    - :fields (String): Selector specifying which fields to include in a partial response.
    - :key (String): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String): OAuth 2.0 token for the current user.
    - :pretty_print (Boolean): Returns response with indentations and line breaks.
    - :quota_user (String): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.
    - :user_ip (String): IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    - :whitelist_id (String): The whitelist project ID. See Projects.Insert.whitelist_id documentation for details.
    - :body (ActivationLinksValidateRequest): 

  ## Returns

  {:ok, %GoogleApi.DevProjects.V1.Model.ActivationLinksValidateResponse{}} on success
  {:error, info} on failure
  """
  @spec devprojects_activation_links_validate(Tesla.Env.client, keyword()) :: {:ok, GoogleApi.DevProjects.V1.Model.ActivationLinksValidateResponse.t} | {:error, Tesla.Env.t}
  def devprojects_activation_links_validate(connection, opts \\ []) do
    optional_params = %{
      :"alt" => :query,
      :"fields" => :query,
      :"key" => :query,
      :"oauth_token" => :query,
      :"prettyPrint" => :query,
      :"quotaUser" => :query,
      :"userIp" => :query,
      :"whitelistId" => :query,
      :"body" => :body
    }
    %{}
    |> method(:post)
    |> url("/activationLinks/validate")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%GoogleApi.DevProjects.V1.Model.ActivationLinksValidateResponse{})
  end
end
