# Copyright 2017 Google Inc.
#
# Licensed under the Apache License, Version 2.0 (the &quot;License&quot;);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an &quot;AS IS&quot; BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


# NOTE: This class is auto generated by the swagger code generator program.
# https://github.com/swagger-api/swagger-codegen.git
# Do not edit the class manually.

defmodule GoogleApi.DevProjects.V1.Api.Toses do
  @moduledoc """
  API calls for all endpoints tagged `Toses`.
  """

  alias GoogleApi.DevProjects.V1.Connection
  import GoogleApi.DevProjects.V1.RequestBuilder


  @doc """
  A message to accept at least one terms of service within at least one context. Any number of contexts and terms can be provided, and each provided terms will be accepted in each provided context.

  ## Parameters

  - connection (GoogleApi.DevProjects.V1.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :alt (String): Data format for the response.
    - :fields (String): Selector specifying which fields to include in a partial response.
    - :key (String): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String): OAuth 2.0 token for the current user.
    - :pretty_print (Boolean): Returns response with indentations and line breaks.
    - :quota_user (String): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.
    - :user_ip (String): IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    - :whitelist_id (String): The whitelist project ID. See Projects.Insert.whitelist_id documentation for details.
    - :body (TosesAcceptRequest): 

  ## Returns

  {:ok, %GoogleApi.DevProjects.V1.Model.TosesAcceptResponse{}} on success
  {:error, info} on failure
  """
  @spec devprojects_toses_accept(Tesla.Env.client, keyword()) :: {:ok, GoogleApi.DevProjects.V1.Model.TosesAcceptResponse.t} | {:error, Tesla.Env.t}
  def devprojects_toses_accept(connection, opts \\ []) do
    optional_params = %{
      :"alt" => :query,
      :"fields" => :query,
      :"key" => :query,
      :"oauth_token" => :query,
      :"prettyPrint" => :query,
      :"quotaUser" => :query,
      :"userIp" => :query,
      :"whitelistId" => :query,
      :"body" => :body
    }
    %{}
    |> method(:post)
    |> url("/toses/accept")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%GoogleApi.DevProjects.V1.Model.TosesAcceptResponse{})
  end

  @doc """
  A message to check whether or not the provided terms have been accepted in any of the provided contexts. In most cases, the context will usually be just a user, just a project, or a user and a project.

  ## Parameters

  - connection (GoogleApi.DevProjects.V1.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :alt (String): Data format for the response.
    - :fields (String): Selector specifying which fields to include in a partial response.
    - :key (String): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String): OAuth 2.0 token for the current user.
    - :pretty_print (Boolean): Returns response with indentations and line breaks.
    - :quota_user (String): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.
    - :user_ip (String): IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    - :whitelist_id (String): The whitelist project ID. See Projects.Insert.whitelist_id documentation for details.
    - :body (TosesCheckRequest): 

  ## Returns

  {:ok, %GoogleApi.DevProjects.V1.Model.TosesCheckResponse{}} on success
  {:error, info} on failure
  """
  @spec devprojects_toses_check(Tesla.Env.client, keyword()) :: {:ok, GoogleApi.DevProjects.V1.Model.TosesCheckResponse.t} | {:error, Tesla.Env.t}
  def devprojects_toses_check(connection, opts \\ []) do
    optional_params = %{
      :"alt" => :query,
      :"fields" => :query,
      :"key" => :query,
      :"oauth_token" => :query,
      :"prettyPrint" => :query,
      :"quotaUser" => :query,
      :"userIp" => :query,
      :"whitelistId" => :query,
      :"body" => :body
    }
    %{}
    |> method(:post)
    |> url("/toses/check")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%GoogleApi.DevProjects.V1.Model.TosesCheckResponse{})
  end

  @doc """
  Get specific terms

  ## Parameters

  - connection (GoogleApi.DevProjects.V1.Connection): Connection to server
  - tos_id (String): The terms-of-service (TOS) ID.
  - opts (KeywordList): [optional] Optional parameters
    - :alt (String): Data format for the response.
    - :fields (String): Selector specifying which fields to include in a partial response.
    - :key (String): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String): OAuth 2.0 token for the current user.
    - :pretty_print (Boolean): Returns response with indentations and line breaks.
    - :quota_user (String): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.
    - :user_ip (String): IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    - :user_id (String): user for whom to get a tos url
    - :whitelist_id (String): The whitelist project ID. See Projects.Insert.whitelist_id documentation for details.

  ## Returns

  {:ok, %GoogleApi.DevProjects.V1.Model.TermsOfService{}} on success
  {:error, info} on failure
  """
  @spec devprojects_toses_get(Tesla.Env.client, String.t, keyword()) :: {:ok, GoogleApi.DevProjects.V1.Model.TermsOfService.t} | {:error, Tesla.Env.t}
  def devprojects_toses_get(connection, tos_id, opts \\ []) do
    optional_params = %{
      :"alt" => :query,
      :"fields" => :query,
      :"key" => :query,
      :"oauth_token" => :query,
      :"prettyPrint" => :query,
      :"quotaUser" => :query,
      :"userIp" => :query,
      :"userId" => :query,
      :"whitelistId" => :query
    }
    %{}
    |> method(:get)
    |> url("/toses/#{tos_id}")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%GoogleApi.DevProjects.V1.Model.TermsOfService{})
  end

  @doc """
  Obtain a list of ToSes meeting certain criteria

  ## Parameters

  - connection (GoogleApi.DevProjects.V1.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :alt (String): Data format for the response.
    - :fields (String): Selector specifying which fields to include in a partial response.
    - :key (String): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String): OAuth 2.0 token for the current user.
    - :pretty_print (Boolean): Returns response with indentations and line breaks.
    - :quota_user (String): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.
    - :user_ip (String): IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    - :api_key (List[String]): If this list is nonempty, only return ToSes for APIs in the list.
    - :project_id (String): Return only ToSes that apply to the given project
    - :user (String): Return only ToSes that the given user must accept
    - :whitelist_id (String): The whitelist project ID. See Projects.Insert.whitelist_id documentation for details.

  ## Returns

  {:ok, %GoogleApi.DevProjects.V1.Model.TosesListResponse{}} on success
  {:error, info} on failure
  """
  @spec devprojects_toses_list(Tesla.Env.client, keyword()) :: {:ok, GoogleApi.DevProjects.V1.Model.TosesListResponse.t} | {:error, Tesla.Env.t}
  def devprojects_toses_list(connection, opts \\ []) do
    optional_params = %{
      :"alt" => :query,
      :"fields" => :query,
      :"key" => :query,
      :"oauth_token" => :query,
      :"prettyPrint" => :query,
      :"quotaUser" => :query,
      :"userIp" => :query,
      :"apiKey" => :query,
      :"projectId" => :query,
      :"user" => :query,
      :"whitelistId" => :query
    }
    %{}
    |> method(:get)
    |> url("/toses")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%GoogleApi.DevProjects.V1.Model.TosesListResponse{})
  end
end
