# Copyright 2017 Google Inc.
#
# Licensed under the Apache License, Version 2.0 (the &quot;License&quot;);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an &quot;AS IS&quot; BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# NOTE: This class is auto generated by the swagger code generator program.
# https://github.com/swagger-api/swagger-codegen.git
# Do not edit the class manually.

defmodule GoogleApi.Storage.V1.Api.Projects do
  @moduledoc """
  API calls for all endpoints tagged `Projects`.
  """

  alias GoogleApi.Storage.V1.Connection
  import GoogleApi.Storage.V1.RequestBuilder

  @doc """
  Get the email address of this project&#39;s Google Cloud Storage service account.

  ## Parameters

  - connection (GoogleApi.Storage.V1.Connection): Connection to server
  - project_id (String.t): Project ID
  - opts (KeywordList): [optional] Optional parameters
    - :alt (String.t): Data format for the response.
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.
    - :userIp (String.t): IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    - :userProject (String.t): The project to be billed for this request.

  ## Returns

  {:ok, %GoogleApi.Storage.V1.Model.ServiceAccount{}} on success
  {:error, info} on failure
  """
  @spec storage_projects_service_account_get(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, GoogleApi.Storage.V1.Model.ServiceAccount.t()} | {:error, Tesla.Env.t()}
  def storage_projects_service_account_get(connection, project_id, opts \\ []) do
    optional_params = %{
      :alt => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :userIp => :query,
      :userProject => :query
    }

    %{}
    |> method(:get)
    |> url("/storage/v1/projects/{projectId}/serviceAccount", %{
      "projectId" => URI.encode_www_form(project_id)
    })
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%GoogleApi.Storage.V1.Model.ServiceAccount{})
  end
end
