# Copyright 2017 Google Inc.
#
# Licensed under the Apache License, Version 2.0 (the &quot;License&quot;);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an &quot;AS IS&quot; BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


# NOTE: This class is auto generated by the swagger code generator program.
# https://github.com/swagger-api/swagger-codegen.git
# Do not edit the class manually.

defmodule GoogleApi.AdSense.V14.Api.Reports do
  @moduledoc """
  API calls for all endpoints tagged `Reports`.
  """

  alias GoogleApi.AdSense.V14.Connection
  import GoogleApi.AdSense.V14.RequestBuilder


  @doc """
  Generate an AdSense report based on the report request sent in the query parameters. Returns the result as JSON; to retrieve output in CSV format specify \&quot;alt&#x3D;csv\&quot; as a query parameter.

  ## Parameters

  - connection (GoogleApi.AdSense.V14.Connection): Connection to server
  - start_date (String): Start of the date range to report on in \&quot;YYYY-MM-DD\&quot; format, inclusive.
  - end_date (String): End of the date range to report on in \&quot;YYYY-MM-DD\&quot; format, inclusive.
  - opts (KeywordList): [optional] Optional parameters
    - :alt (String): Data format for the response.
    - :fields (String): Selector specifying which fields to include in a partial response.
    - :key (String): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String): OAuth 2.0 token for the current user.
    - :pretty_print (Boolean): Returns response with indentations and line breaks.
    - :quota_user (String): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.
    - :user_ip (String): IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    - :account_id (List[String]): Accounts upon which to report.
    - :currency (String): Optional currency to use when reporting on monetary metrics. Defaults to the account&#39;s currency if not set.
    - :dimension (List[String]): Dimensions to base the report on.
    - :filter (List[String]): Filters to be run on the report.
    - :locale (String): Optional locale to use for translating report output to a local language. Defaults to \&quot;en_US\&quot; if not specified.
    - :max_results (Integer): The maximum number of rows of report data to return.
    - :metric (List[String]): Numeric columns to include in the report.
    - :sort (List[String]): The name of a dimension or metric to sort the resulting report on, optionally prefixed with \&quot;+\&quot; to sort ascending or \&quot;-\&quot; to sort descending. If no prefix is specified, the column is sorted ascending.
    - :start_index (Integer): Index of the first row of report data to return.
    - :use_timezone_reporting (Boolean): Whether the report should be generated in the AdSense account&#39;s local timezone. If false default PST/PDT timezone will be used.

  ## Returns

  {:ok, %GoogleApi.AdSense.V14.Model.AdsenseReportsGenerateResponse{}} on success
  {:error, info} on failure
  """
  @spec adsense_reports_generate(Tesla.Env.client, String.t, String.t, keyword()) :: {:ok, GoogleApi.AdSense.V14.Model.AdsenseReportsGenerateResponse.t} | {:error, Tesla.Env.t}
  def adsense_reports_generate(connection, start_date, end_date, opts \\ []) do
    optional_params = %{
      :"alt" => :query,
      :"fields" => :query,
      :"key" => :query,
      :"oauth_token" => :query,
      :"prettyPrint" => :query,
      :"quotaUser" => :query,
      :"userIp" => :query,
      :"accountId" => :query,
      :"currency" => :query,
      :"dimension" => :query,
      :"filter" => :query,
      :"locale" => :query,
      :"maxResults" => :query,
      :"metric" => :query,
      :"sort" => :query,
      :"startIndex" => :query,
      :"useTimezoneReporting" => :query
    }
    %{}
    |> method(:get)
    |> url("/reports")
    |> add_param(:query, :"startDate", start_date)
    |> add_param(:query, :"endDate", end_date)
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%GoogleApi.AdSense.V14.Model.AdsenseReportsGenerateResponse{})
  end

  @doc """
  Generate an AdSense report based on the saved report ID sent in the query parameters.

  ## Parameters

  - connection (GoogleApi.AdSense.V14.Connection): Connection to server
  - saved_report_id (String): The saved report to retrieve.
  - opts (KeywordList): [optional] Optional parameters
    - :alt (String): Data format for the response.
    - :fields (String): Selector specifying which fields to include in a partial response.
    - :key (String): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String): OAuth 2.0 token for the current user.
    - :pretty_print (Boolean): Returns response with indentations and line breaks.
    - :quota_user (String): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.
    - :user_ip (String): IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    - :locale (String): Optional locale to use for translating report output to a local language. Defaults to \&quot;en_US\&quot; if not specified.
    - :max_results (Integer): The maximum number of rows of report data to return.
    - :start_index (Integer): Index of the first row of report data to return.

  ## Returns

  {:ok, %GoogleApi.AdSense.V14.Model.AdsenseReportsGenerateResponse{}} on success
  {:error, info} on failure
  """
  @spec adsense_reports_saved_generate(Tesla.Env.client, String.t, keyword()) :: {:ok, GoogleApi.AdSense.V14.Model.AdsenseReportsGenerateResponse.t} | {:error, Tesla.Env.t}
  def adsense_reports_saved_generate(connection, saved_report_id, opts \\ []) do
    optional_params = %{
      :"alt" => :query,
      :"fields" => :query,
      :"key" => :query,
      :"oauth_token" => :query,
      :"prettyPrint" => :query,
      :"quotaUser" => :query,
      :"userIp" => :query,
      :"locale" => :query,
      :"maxResults" => :query,
      :"startIndex" => :query
    }
    %{}
    |> method(:get)
    |> url("/reports/{savedReportId}", %{
         "savedReportId" => URI.encode_www_form(saved_report_id)
       })
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%GoogleApi.AdSense.V14.Model.AdsenseReportsGenerateResponse{})
  end

  @doc """
  List all saved reports in this AdSense account.

  ## Parameters

  - connection (GoogleApi.AdSense.V14.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :alt (String): Data format for the response.
    - :fields (String): Selector specifying which fields to include in a partial response.
    - :key (String): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String): OAuth 2.0 token for the current user.
    - :pretty_print (Boolean): Returns response with indentations and line breaks.
    - :quota_user (String): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.
    - :user_ip (String): IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    - :max_results (Integer): The maximum number of saved reports to include in the response, used for paging.
    - :page_token (String): A continuation token, used to page through saved reports. To retrieve the next page, set this parameter to the value of \&quot;nextPageToken\&quot; from the previous response.

  ## Returns

  {:ok, %GoogleApi.AdSense.V14.Model.SavedReports{}} on success
  {:error, info} on failure
  """
  @spec adsense_reports_saved_list(Tesla.Env.client, keyword()) :: {:ok, GoogleApi.AdSense.V14.Model.SavedReports.t} | {:error, Tesla.Env.t}
  def adsense_reports_saved_list(connection, opts \\ []) do
    optional_params = %{
      :"alt" => :query,
      :"fields" => :query,
      :"key" => :query,
      :"oauth_token" => :query,
      :"prettyPrint" => :query,
      :"quotaUser" => :query,
      :"userIp" => :query,
      :"maxResults" => :query,
      :"pageToken" => :query
    }
    %{}
    |> method(:get)
    |> url("/reports/saved")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%GoogleApi.AdSense.V14.Model.SavedReports{})
  end
end
