# Copyright 2017 Google Inc.
#
# Licensed under the Apache License, Version 2.0 (the &quot;License&quot;);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an &quot;AS IS&quot; BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# NOTE: This class is auto generated by the swagger code generator program.
# https://github.com/swagger-api/swagger-codegen.git
# Do not edit the class manually.

defmodule GoogleApi.FirebaseDynamicLinks.V1.Api.V1 do
  @moduledoc """
  API calls for all endpoints tagged `V1`.
  """

  alias GoogleApi.FirebaseDynamicLinks.V1.Connection
  alias GoogleApi.Gax.{Request, Response}

  @doc """
  Fetches analytics stats of a short Dynamic Link for a given duration. Metrics include number of clicks, redirects, installs, app first opens, and app reopens.

  ## Parameters

  - connection (GoogleApi.FirebaseDynamicLinks.V1.Connection): Connection to server
  - dynamic_link (String.t): Dynamic Link URL. e.g. https://abcd.app.goo.gl/wxyz
  - opts (KeywordList): [optional] Optional parameters
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :uploadType (String.t): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :callback (String.t): JSONP
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :$.xgafv (String.t): V1 error format.
    - :alt (String.t): Data format for response.
    - :access_token (String.t): OAuth access token.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :upload_protocol (String.t): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :quotaUser (String.t): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :durationDays (String.t): The span of time requested in days.

  ## Returns

  {:ok, %GoogleApi.FirebaseDynamicLinks.V1.Model.DynamicLinkStats{}} on success
  {:error, info} on failure
  """
  @spec firebasedynamiclinks_get_link_stats(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, GoogleApi.FirebaseDynamicLinks.V1.Model.DynamicLinkStats.t()}
          | {:error, Tesla.Env.t()}
  def firebasedynamiclinks_get_link_stats(connection, dynamic_link, opts \\ []) do
    optional_params = %{
      :fields => :query,
      :uploadType => :query,
      :callback => :query,
      :oauth_token => :query,
      :"$.xgafv" => :query,
      :alt => :query,
      :access_token => :query,
      :key => :query,
      :upload_protocol => :query,
      :quotaUser => :query,
      :prettyPrint => :query,
      :durationDays => :query
    }

    request =
      Request.new()
      |> Request.method(:get)
      |> Request.url("/v1/{dynamicLink}/linkStats", %{
        "dynamicLink" => URI.encode_www_form(dynamic_link)
      })
      |> Request.add_optional_params(optional_params, opts)

    connection
    |> Connection.execute(request)
    |> Response.decode(struct: %GoogleApi.FirebaseDynamicLinks.V1.Model.DynamicLinkStats{})
  end

  @doc """
  Get iOS strong/weak-match info for post-install attribution.

  ## Parameters

  - connection (GoogleApi.FirebaseDynamicLinks.V1.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :uploadType (String.t): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :callback (String.t): JSONP
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :$.xgafv (String.t): V1 error format.
    - :alt (String.t): Data format for response.
    - :access_token (String.t): OAuth access token.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :upload_protocol (String.t): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :quotaUser (String.t): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :body (GetIosPostInstallAttributionRequest): 

  ## Returns

  {:ok, %GoogleApi.FirebaseDynamicLinks.V1.Model.GetIosPostInstallAttributionResponse{}} on success
  {:error, info} on failure
  """
  @spec firebasedynamiclinks_install_attribution(Tesla.Env.client(), keyword()) ::
          {:ok, GoogleApi.FirebaseDynamicLinks.V1.Model.GetIosPostInstallAttributionResponse.t()}
          | {:error, Tesla.Env.t()}
  def firebasedynamiclinks_install_attribution(connection, opts \\ []) do
    optional_params = %{
      :fields => :query,
      :uploadType => :query,
      :callback => :query,
      :oauth_token => :query,
      :"$.xgafv" => :query,
      :alt => :query,
      :access_token => :query,
      :key => :query,
      :upload_protocol => :query,
      :quotaUser => :query,
      :prettyPrint => :query,
      :body => :body
    }

    request =
      Request.new()
      |> Request.method(:post)
      |> Request.url("/v1/installAttribution")
      |> Request.add_optional_params(optional_params, opts)

    connection
    |> Connection.execute(request)
    |> Response.decode(
      struct: %GoogleApi.FirebaseDynamicLinks.V1.Model.GetIosPostInstallAttributionResponse{}
    )
  end
end
