# Copyright 2017 Google Inc.
#
# Licensed under the Apache License, Version 2.0 (the &quot;License&quot;);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an &quot;AS IS&quot; BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


# NOTE: This class is auto generated by the swagger code generator program.
# https://github.com/swagger-api/swagger-codegen.git
# Do not edit the class manually.

defmodule GoogleApi.FirebaseDynamicLinks.V1.Api.V1 do
  @moduledoc """
  API calls for all endpoints tagged `V1`.
  """

  alias GoogleApi.FirebaseDynamicLinks.V1.Connection
  import GoogleApi.FirebaseDynamicLinks.V1.RequestBuilder


  @doc """
  Fetches analytics stats of a short Dynamic Link for a given duration. Metrics include number of clicks, redirects, installs, app first opens, and app reopens.

  ## Parameters

  - connection (GoogleApi.FirebaseDynamicLinks.V1.Connection): Connection to server
  - dynamic_link (String): Dynamic Link URL. e.g. https://abcd.app.goo.gl/wxyz
  - opts (KeywordList): [optional] Optional parameters
    - :bearer_token (String): OAuth bearer token.
    - :oauth_token (String): OAuth 2.0 token for the current user.
    - :upload_protocol (String): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :pretty_print (Boolean): Returns response with indentations and line breaks.
    - :upload_type (String): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :fields (String): Selector specifying which fields to include in a partial response.
    - :callback (String): JSONP
    - :__/xgafv (String): V1 error format.
    - :alt (String): Data format for response.
    - :key (String): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :access_token (String): OAuth access token.
    - :quota_user (String): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :pp (Boolean): Pretty-print response.
    - :duration_days (String): The span of time requested in days.

  ## Returns

  {:ok, %GoogleApi.FirebaseDynamicLinks.V1.Model.DynamicLinkStats{}} on success
  {:error, info} on failure
  """
  @spec firebasedynamiclinks_get_link_stats(Tesla.Env.client, String.t, keyword()) :: {:ok, GoogleApi.FirebaseDynamicLinks.V1.Model.DynamicLinkStats.t} | {:error, Tesla.Env.t}
  def firebasedynamiclinks_get_link_stats(connection, dynamic_link, opts \\ []) do
    optional_params = %{
      :"bearer_token" => :query,
      :"oauth_token" => :query,
      :"upload_protocol" => :query,
      :"prettyPrint" => :query,
      :"uploadType" => :query,
      :"fields" => :query,
      :"callback" => :query,
      :"$.xgafv" => :query,
      :"alt" => :query,
      :"key" => :query,
      :"access_token" => :query,
      :"quotaUser" => :query,
      :"pp" => :query,
      :"durationDays" => :query
    }
    %{}
    |> method(:get)
    |> url("/v1/{dynamicLink}/linkStats", %{
         "dynamicLink" => URI.encode_www_form(dynamic_link)
       })
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%GoogleApi.FirebaseDynamicLinks.V1.Model.DynamicLinkStats{})
  end
end
