# Copyright 2017 Google Inc.
#
# Licensed under the Apache License, Version 2.0 (the &quot;License&quot;);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an &quot;AS IS&quot; BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


# NOTE: This class is auto generated by the swagger code generator program.
# https://github.com/swagger-api/swagger-codegen.git
# Do not edit the class manually.

defmodule GoogleApi.Books.V1.Api.Promooffer do
  @moduledoc """
  API calls for all endpoints tagged `Promooffer`.
  """

  alias GoogleApi.Books.V1.Connection
  import GoogleApi.Books.V1.RequestBuilder


  @doc """
  

  ## Parameters

  - connection (GoogleApi.Books.V1.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :alt (String): Data format for the response.
    - :fields (String): Selector specifying which fields to include in a partial response.
    - :key (String): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String): OAuth 2.0 token for the current user.
    - :pretty_print (Boolean): Returns response with indentations and line breaks.
    - :quota_user (String): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.
    - :user_ip (String): IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    - :android_id (String): device android_id
    - :device (String): device device
    - :manufacturer (String): device manufacturer
    - :model (String): device model
    - :offer_id (String): 
    - :product (String): device product
    - :serial (String): device serial
    - :volume_id (String): Volume id to exercise the offer

  ## Returns

  {:ok, %{}} on success
  {:error, info} on failure
  """
  @spec books_promooffer_accept(Tesla.Env.client, keyword()) :: {:ok, nil} | {:error, Tesla.Env.t}
  def books_promooffer_accept(connection, opts \\ []) do
    optional_params = %{
      :"alt" => :query,
      :"fields" => :query,
      :"key" => :query,
      :"oauth_token" => :query,
      :"prettyPrint" => :query,
      :"quotaUser" => :query,
      :"userIp" => :query,
      :"androidId" => :query,
      :"device" => :query,
      :"manufacturer" => :query,
      :"model" => :query,
      :"offerId" => :query,
      :"product" => :query,
      :"serial" => :query,
      :"volumeId" => :query
    }
    %{}
    |> method(:post)
    |> url("/promooffer/accept")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(false)
  end

  @doc """
  

  ## Parameters

  - connection (GoogleApi.Books.V1.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :alt (String): Data format for the response.
    - :fields (String): Selector specifying which fields to include in a partial response.
    - :key (String): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String): OAuth 2.0 token for the current user.
    - :pretty_print (Boolean): Returns response with indentations and line breaks.
    - :quota_user (String): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.
    - :user_ip (String): IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    - :android_id (String): device android_id
    - :device (String): device device
    - :manufacturer (String): device manufacturer
    - :model (String): device model
    - :offer_id (String): Offer to dimiss
    - :product (String): device product
    - :serial (String): device serial

  ## Returns

  {:ok, %{}} on success
  {:error, info} on failure
  """
  @spec books_promooffer_dismiss(Tesla.Env.client, keyword()) :: {:ok, nil} | {:error, Tesla.Env.t}
  def books_promooffer_dismiss(connection, opts \\ []) do
    optional_params = %{
      :"alt" => :query,
      :"fields" => :query,
      :"key" => :query,
      :"oauth_token" => :query,
      :"prettyPrint" => :query,
      :"quotaUser" => :query,
      :"userIp" => :query,
      :"androidId" => :query,
      :"device" => :query,
      :"manufacturer" => :query,
      :"model" => :query,
      :"offerId" => :query,
      :"product" => :query,
      :"serial" => :query
    }
    %{}
    |> method(:post)
    |> url("/promooffer/dismiss")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(false)
  end

  @doc """
  Returns a list of promo offers available to the user

  ## Parameters

  - connection (GoogleApi.Books.V1.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :alt (String): Data format for the response.
    - :fields (String): Selector specifying which fields to include in a partial response.
    - :key (String): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String): OAuth 2.0 token for the current user.
    - :pretty_print (Boolean): Returns response with indentations and line breaks.
    - :quota_user (String): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.
    - :user_ip (String): IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    - :android_id (String): device android_id
    - :device (String): device device
    - :manufacturer (String): device manufacturer
    - :model (String): device model
    - :product (String): device product
    - :serial (String): device serial

  ## Returns

  {:ok, %GoogleApi.Books.V1.Model.Offers{}} on success
  {:error, info} on failure
  """
  @spec books_promooffer_get(Tesla.Env.client, keyword()) :: {:ok, GoogleApi.Books.V1.Model.Offers.t} | {:error, Tesla.Env.t}
  def books_promooffer_get(connection, opts \\ []) do
    optional_params = %{
      :"alt" => :query,
      :"fields" => :query,
      :"key" => :query,
      :"oauth_token" => :query,
      :"prettyPrint" => :query,
      :"quotaUser" => :query,
      :"userIp" => :query,
      :"androidId" => :query,
      :"device" => :query,
      :"manufacturer" => :query,
      :"model" => :query,
      :"product" => :query,
      :"serial" => :query
    }
    %{}
    |> method(:get)
    |> url("/promooffer/get")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%GoogleApi.Books.V1.Model.Offers{})
  end
end
