# Copyright 2017 Google Inc.
#
# Licensed under the Apache License, Version 2.0 (the &quot;License&quot;);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an &quot;AS IS&quot; BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# NOTE: This class is auto generated by the swagger code generator program.
# https://github.com/swagger-api/swagger-codegen.git
# Do not edit the class manually.

defmodule GoogleApi.ReplicaPoolUpdater.V1beta1.Api.ZoneOperations do
  @moduledoc """
  API calls for all endpoints tagged `ZoneOperations`.
  """

  alias GoogleApi.ReplicaPoolUpdater.V1beta1.Connection
  alias GoogleApi.Gax.{Request, Response}

  @doc """
  Retrieves the specified zone-specific operation resource.

  ## Parameters

  - connection (GoogleApi.ReplicaPoolUpdater.V1beta1.Connection): Connection to server
  - project (String.t): Name of the project scoping this request.
  - zone (String.t): Name of the zone scoping this request.
  - operation (String.t): Name of the operation resource to return.
  - optional_params (KeywordList): [optional] Optional parameters
    - :alt (String.t): Data format for the response.
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): An opaque string that represents a user for quota purposes. Must not exceed 40 characters.
    - :userIp (String.t): Deprecated. Please use quotaUser instead.

  ## Returns

  {:ok, %GoogleApi.ReplicaPoolUpdater.V1beta1.Model.Operation{}} on success
  {:error, info} on failure
  """
  @spec replicapoolupdater_zone_operations_get(
          Tesla.Env.client(),
          String.t(),
          String.t(),
          String.t(),
          keyword()
        ) ::
          {:ok, GoogleApi.ReplicaPoolUpdater.V1beta1.Model.Operation.t()}
          | {:error, Tesla.Env.t()}
  def replicapoolupdater_zone_operations_get(
        connection,
        project,
        zone,
        operation,
        optional_params \\ [],
        opts \\ []
      ) do
    optional_params_config = %{
      :alt => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :userIp => :query
    }

    request =
      Request.new()
      |> Request.method(:get)
      |> Request.url("/{project}/zones/{zone}/operations/{operation}", %{
        "project" => URI.encode_www_form(project),
        "zone" => URI.encode_www_form(zone),
        "operation" => URI.encode_www_form(operation)
      })
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(opts ++ [struct: %GoogleApi.ReplicaPoolUpdater.V1beta1.Model.Operation{}])
  end

  @doc """
  Retrieves the list of Operation resources contained within the specified zone.

  ## Parameters

  - connection (GoogleApi.ReplicaPoolUpdater.V1beta1.Connection): Connection to server
  - project (String.t): Name of the project scoping this request.
  - zone (String.t): Name of the zone scoping this request.
  - optional_params (KeywordList): [optional] Optional parameters
    - :alt (String.t): Data format for the response.
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): An opaque string that represents a user for quota purposes. Must not exceed 40 characters.
    - :userIp (String.t): Deprecated. Please use quotaUser instead.
    - :filter (String.t): Optional. Filter expression for filtering listed resources.
    - :maxResults (integer()): Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.
    - :pageToken (String.t): Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.

  ## Returns

  {:ok, %GoogleApi.ReplicaPoolUpdater.V1beta1.Model.OperationList{}} on success
  {:error, info} on failure
  """
  @spec replicapoolupdater_zone_operations_list(
          Tesla.Env.client(),
          String.t(),
          String.t(),
          keyword()
        ) ::
          {:ok, GoogleApi.ReplicaPoolUpdater.V1beta1.Model.OperationList.t()}
          | {:error, Tesla.Env.t()}
  def replicapoolupdater_zone_operations_list(
        connection,
        project,
        zone,
        optional_params \\ [],
        opts \\ []
      ) do
    optional_params_config = %{
      :alt => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :userIp => :query,
      :filter => :query,
      :maxResults => :query,
      :pageToken => :query
    }

    request =
      Request.new()
      |> Request.method(:get)
      |> Request.url("/{project}/zones/{zone}/operations", %{
        "project" => URI.encode_www_form(project),
        "zone" => URI.encode_www_form(zone)
      })
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(
      opts ++ [struct: %GoogleApi.ReplicaPoolUpdater.V1beta1.Model.OperationList{}]
    )
  end
end
