# Copyright 2017 Google Inc.
#
# Licensed under the Apache License, Version 2.0 (the &quot;License&quot;);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an &quot;AS IS&quot; BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


# NOTE: This class is auto generated by the swagger code generator program.
# https://github.com/swagger-api/swagger-codegen.git
# Do not edit the class manually.

defmodule GoogleApi.FusionTables.V2.Api.Query do
  @moduledoc """
  API calls for all endpoints tagged `Query`.
  """

  alias GoogleApi.FusionTables.V2.Connection
  import GoogleApi.FusionTables.V2.RequestBuilder


  @doc """
  Executes a Fusion Tables SQL statement, which can be any of  - SELECT - INSERT - UPDATE - DELETE - SHOW - DESCRIBE - CREATE statement.

  ## Parameters

  - connection (GoogleApi.FusionTables.V2.Connection): Connection to server
  - sql (String): A Fusion Tables SQL statement, which can be any of  - SELECT - INSERT - UPDATE - DELETE - SHOW - DESCRIBE - CREATE
  - opts (KeywordList): [optional] Optional parameters
    - :alt (String): Data format for the response.
    - :fields (String): Selector specifying which fields to include in a partial response.
    - :key (String): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String): OAuth 2.0 token for the current user.
    - :pretty_print (Boolean): Returns response with indentations and line breaks.
    - :quota_user (String): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.
    - :user_ip (String): IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    - :hdrs (Boolean): Whether column names are included in the first row. Default is true.
    - :typed (Boolean): Whether typed values are returned in the (JSON) response: numbers for numeric values and parsed geometries for KML values. Default is true.

  ## Returns

  {:ok, %GoogleApi.FusionTables.V2.Model.Sqlresponse{}} on success
  {:error, info} on failure
  """
  @spec fusiontables_query_sql(Tesla.Env.client, String.t, keyword()) :: {:ok, GoogleApi.FusionTables.V2.Model.Sqlresponse.t} | {:error, Tesla.Env.t}
  def fusiontables_query_sql(connection, sql, opts \\ []) do
    optional_params = %{
      :"alt" => :query,
      :"fields" => :query,
      :"key" => :query,
      :"oauth_token" => :query,
      :"prettyPrint" => :query,
      :"quotaUser" => :query,
      :"userIp" => :query,
      :"hdrs" => :query,
      :"typed" => :query
    }
    %{}
    |> method(:post)
    |> url("/fusiontables/v2/query")
    |> add_param(:query, :"sql", sql)
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%GoogleApi.FusionTables.V2.Model.Sqlresponse{})
  end

  @doc """
  Executes a SQL statement which can be any of  - SELECT - SHOW - DESCRIBE

  ## Parameters

  - connection (GoogleApi.FusionTables.V2.Connection): Connection to server
  - sql (String): A SQL statement which can be any of  - SELECT - SHOW - DESCRIBE
  - opts (KeywordList): [optional] Optional parameters
    - :alt (String): Data format for the response.
    - :fields (String): Selector specifying which fields to include in a partial response.
    - :key (String): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String): OAuth 2.0 token for the current user.
    - :pretty_print (Boolean): Returns response with indentations and line breaks.
    - :quota_user (String): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.
    - :user_ip (String): IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    - :hdrs (Boolean): Whether column names are included (in the first row). Default is true.
    - :typed (Boolean): Whether typed values are returned in the (JSON) response: numbers for numeric values and parsed geometries for KML values. Default is true.

  ## Returns

  {:ok, %GoogleApi.FusionTables.V2.Model.Sqlresponse{}} on success
  {:error, info} on failure
  """
  @spec fusiontables_query_sql_get(Tesla.Env.client, String.t, keyword()) :: {:ok, GoogleApi.FusionTables.V2.Model.Sqlresponse.t} | {:error, Tesla.Env.t}
  def fusiontables_query_sql_get(connection, sql, opts \\ []) do
    optional_params = %{
      :"alt" => :query,
      :"fields" => :query,
      :"key" => :query,
      :"oauth_token" => :query,
      :"prettyPrint" => :query,
      :"quotaUser" => :query,
      :"userIp" => :query,
      :"hdrs" => :query,
      :"typed" => :query
    }
    %{}
    |> method(:get)
    |> url("/fusiontables/v2/query")
    |> add_param(:query, :"sql", sql)
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%GoogleApi.FusionTables.V2.Model.Sqlresponse{})
  end
end
