# Copyright 2017 Google Inc.
#
# Licensed under the Apache License, Version 2.0 (the &quot;License&quot;);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an &quot;AS IS&quot; BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# NOTE: This class is auto generated by the swagger code generator program.
# https://github.com/swagger-api/swagger-codegen.git
# Do not edit the class manually.

defmodule GoogleApi.Classroom.V1.Api.Courses do
  @moduledoc """
  API calls for all endpoints tagged `Courses`.
  """

  alias GoogleApi.Classroom.V1.Connection
  alias GoogleApi.Gax.{Request, Response}

  @doc """
  Creates an alias for a course.  This method returns the following error codes:  * &#x60;PERMISSION_DENIED&#x60; if the requesting user is not permitted to create the alias or for access errors. * &#x60;NOT_FOUND&#x60; if the course does not exist. * &#x60;ALREADY_EXISTS&#x60; if the alias already exists. * &#x60;FAILED_PRECONDITION&#x60; if the alias requested does not make sense for the   requesting user or course (for example, if a user not in a domain   attempts to access a domain-scoped alias).

  ## Parameters

  - connection (GoogleApi.Classroom.V1.Connection): Connection to server
  - course_id (String.t): Identifier of the course to alias. This identifier can be either the Classroom-assigned identifier or an alias.
  - optional_params (KeywordList): [optional] Optional parameters
    - :$.xgafv (String.t): V1 error format.
    - :access_token (String.t): OAuth access token.
    - :alt (String.t): Data format for response.
    - :callback (String.t): JSONP
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :upload_protocol (String.t): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :uploadType (String.t): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :body (CourseAlias): 

  ## Returns

  {:ok, %GoogleApi.Classroom.V1.Model.CourseAlias{}} on success
  {:error, info} on failure
  """
  @spec classroom_courses_aliases_create(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, GoogleApi.Classroom.V1.Model.CourseAlias.t()} | {:error, Tesla.Env.t()}
  def classroom_courses_aliases_create(connection, course_id, optional_params \\ [], opts \\ []) do
    optional_params_config = %{
      :"$.xgafv" => :query,
      :access_token => :query,
      :alt => :query,
      :callback => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :upload_protocol => :query,
      :uploadType => :query,
      :body => :body
    }

    request =
      Request.new()
      |> Request.method(:post)
      |> Request.url("/v1/courses/{courseId}/aliases", %{
        "courseId" => URI.encode(course_id, &URI.char_unreserved?/1)
      })
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(opts ++ [struct: %GoogleApi.Classroom.V1.Model.CourseAlias{}])
  end

  @doc """
  Deletes an alias of a course.  This method returns the following error codes:  * &#x60;PERMISSION_DENIED&#x60; if the requesting user is not permitted to remove the alias or for access errors. * &#x60;NOT_FOUND&#x60; if the alias does not exist. * &#x60;FAILED_PRECONDITION&#x60; if the alias requested does not make sense for the   requesting user or course (for example, if a user not in a domain   attempts to delete a domain-scoped alias).

  ## Parameters

  - connection (GoogleApi.Classroom.V1.Connection): Connection to server
  - course_id (String.t): Identifier of the course whose alias should be deleted. This identifier can be either the Classroom-assigned identifier or an alias.
  - alias (String.t): Alias to delete. This may not be the Classroom-assigned identifier.
  - optional_params (KeywordList): [optional] Optional parameters
    - :$.xgafv (String.t): V1 error format.
    - :access_token (String.t): OAuth access token.
    - :alt (String.t): Data format for response.
    - :callback (String.t): JSONP
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :upload_protocol (String.t): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :uploadType (String.t): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).

  ## Returns

  {:ok, %GoogleApi.Classroom.V1.Model.Empty{}} on success
  {:error, info} on failure
  """
  @spec classroom_courses_aliases_delete(Tesla.Env.client(), String.t(), String.t(), keyword()) ::
          {:ok, GoogleApi.Classroom.V1.Model.Empty.t()} | {:error, Tesla.Env.t()}
  def classroom_courses_aliases_delete(
        connection,
        course_id,
        alias,
        optional_params \\ [],
        opts \\ []
      ) do
    optional_params_config = %{
      :"$.xgafv" => :query,
      :access_token => :query,
      :alt => :query,
      :callback => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :upload_protocol => :query,
      :uploadType => :query
    }

    request =
      Request.new()
      |> Request.method(:delete)
      |> Request.url("/v1/courses/{courseId}/aliases/{alias}", %{
        "courseId" => URI.encode(course_id, &URI.char_unreserved?/1),
        "alias" => URI.encode(alias, &URI.char_unreserved?/1)
      })
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(opts ++ [struct: %GoogleApi.Classroom.V1.Model.Empty{}])
  end

  @doc """
  Returns a list of aliases for a course.  This method returns the following error codes:  * &#x60;PERMISSION_DENIED&#x60; if the requesting user is not permitted to access the course or for access errors. * &#x60;NOT_FOUND&#x60; if the course does not exist.

  ## Parameters

  - connection (GoogleApi.Classroom.V1.Connection): Connection to server
  - course_id (String.t): The identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.
  - optional_params (KeywordList): [optional] Optional parameters
    - :$.xgafv (String.t): V1 error format.
    - :access_token (String.t): OAuth access token.
    - :alt (String.t): Data format for response.
    - :callback (String.t): JSONP
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :upload_protocol (String.t): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :uploadType (String.t): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :pageSize (integer()): Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum.  The server may return fewer than the specified number of results.
    - :pageToken (String.t): nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned.  The list request must be otherwise identical to the one that resulted in this token.

  ## Returns

  {:ok, %GoogleApi.Classroom.V1.Model.ListCourseAliasesResponse{}} on success
  {:error, info} on failure
  """
  @spec classroom_courses_aliases_list(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, GoogleApi.Classroom.V1.Model.ListCourseAliasesResponse.t()}
          | {:error, Tesla.Env.t()}
  def classroom_courses_aliases_list(connection, course_id, optional_params \\ [], opts \\ []) do
    optional_params_config = %{
      :"$.xgafv" => :query,
      :access_token => :query,
      :alt => :query,
      :callback => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :upload_protocol => :query,
      :uploadType => :query,
      :pageSize => :query,
      :pageToken => :query
    }

    request =
      Request.new()
      |> Request.method(:get)
      |> Request.url("/v1/courses/{courseId}/aliases", %{
        "courseId" => URI.encode(course_id, &URI.char_unreserved?/1)
      })
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(
      opts ++ [struct: %GoogleApi.Classroom.V1.Model.ListCourseAliasesResponse{}]
    )
  end

  @doc """
  Creates an announcement.  This method returns the following error codes:  * &#x60;PERMISSION_DENIED&#x60; if the requesting user is not permitted to access the requested course, create announcements in the requested course, share a Drive attachment, or for access errors. * &#x60;INVALID_ARGUMENT&#x60; if the request is malformed. * &#x60;NOT_FOUND&#x60; if the requested course does not exist. * &#x60;FAILED_PRECONDITION&#x60; for the following request error:     * AttachmentNotVisible

  ## Parameters

  - connection (GoogleApi.Classroom.V1.Connection): Connection to server
  - course_id (String.t): Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.
  - optional_params (KeywordList): [optional] Optional parameters
    - :$.xgafv (String.t): V1 error format.
    - :access_token (String.t): OAuth access token.
    - :alt (String.t): Data format for response.
    - :callback (String.t): JSONP
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :upload_protocol (String.t): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :uploadType (String.t): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :body (Announcement): 

  ## Returns

  {:ok, %GoogleApi.Classroom.V1.Model.Announcement{}} on success
  {:error, info} on failure
  """
  @spec classroom_courses_announcements_create(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, GoogleApi.Classroom.V1.Model.Announcement.t()} | {:error, Tesla.Env.t()}
  def classroom_courses_announcements_create(
        connection,
        course_id,
        optional_params \\ [],
        opts \\ []
      ) do
    optional_params_config = %{
      :"$.xgafv" => :query,
      :access_token => :query,
      :alt => :query,
      :callback => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :upload_protocol => :query,
      :uploadType => :query,
      :body => :body
    }

    request =
      Request.new()
      |> Request.method(:post)
      |> Request.url("/v1/courses/{courseId}/announcements", %{
        "courseId" => URI.encode(course_id, &URI.char_unreserved?/1)
      })
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(opts ++ [struct: %GoogleApi.Classroom.V1.Model.Announcement{}])
  end

  @doc """
  Deletes an announcement.  This request must be made by the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to create the corresponding announcement item.  This method returns the following error codes:  * &#x60;PERMISSION_DENIED&#x60; if the requesting developer project did not create the corresponding announcement, if the requesting user is not permitted to delete the requested course or for access errors. * &#x60;FAILED_PRECONDITION&#x60; if the requested announcement has already been deleted. * &#x60;NOT_FOUND&#x60; if no course exists with the requested ID.

  ## Parameters

  - connection (GoogleApi.Classroom.V1.Connection): Connection to server
  - course_id (String.t): Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.
  - id (String.t): Identifier of the announcement to delete. This identifier is a Classroom-assigned identifier.
  - optional_params (KeywordList): [optional] Optional parameters
    - :$.xgafv (String.t): V1 error format.
    - :access_token (String.t): OAuth access token.
    - :alt (String.t): Data format for response.
    - :callback (String.t): JSONP
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :upload_protocol (String.t): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :uploadType (String.t): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).

  ## Returns

  {:ok, %GoogleApi.Classroom.V1.Model.Empty{}} on success
  {:error, info} on failure
  """
  @spec classroom_courses_announcements_delete(
          Tesla.Env.client(),
          String.t(),
          String.t(),
          keyword()
        ) :: {:ok, GoogleApi.Classroom.V1.Model.Empty.t()} | {:error, Tesla.Env.t()}
  def classroom_courses_announcements_delete(
        connection,
        course_id,
        id,
        optional_params \\ [],
        opts \\ []
      ) do
    optional_params_config = %{
      :"$.xgafv" => :query,
      :access_token => :query,
      :alt => :query,
      :callback => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :upload_protocol => :query,
      :uploadType => :query
    }

    request =
      Request.new()
      |> Request.method(:delete)
      |> Request.url("/v1/courses/{courseId}/announcements/{id}", %{
        "courseId" => URI.encode(course_id, &URI.char_unreserved?/1),
        "id" => URI.encode(id, &URI.char_unreserved?/1)
      })
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(opts ++ [struct: %GoogleApi.Classroom.V1.Model.Empty{}])
  end

  @doc """
  Returns an announcement.  This method returns the following error codes:  * &#x60;PERMISSION_DENIED&#x60; if the requesting user is not permitted to access the requested course or announcement, or for access errors. * &#x60;INVALID_ARGUMENT&#x60; if the request is malformed. * &#x60;NOT_FOUND&#x60; if the requested course or announcement does not exist.

  ## Parameters

  - connection (GoogleApi.Classroom.V1.Connection): Connection to server
  - course_id (String.t): Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.
  - id (String.t): Identifier of the announcement.
  - optional_params (KeywordList): [optional] Optional parameters
    - :$.xgafv (String.t): V1 error format.
    - :access_token (String.t): OAuth access token.
    - :alt (String.t): Data format for response.
    - :callback (String.t): JSONP
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :upload_protocol (String.t): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :uploadType (String.t): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).

  ## Returns

  {:ok, %GoogleApi.Classroom.V1.Model.Announcement{}} on success
  {:error, info} on failure
  """
  @spec classroom_courses_announcements_get(Tesla.Env.client(), String.t(), String.t(), keyword()) ::
          {:ok, GoogleApi.Classroom.V1.Model.Announcement.t()} | {:error, Tesla.Env.t()}
  def classroom_courses_announcements_get(
        connection,
        course_id,
        id,
        optional_params \\ [],
        opts \\ []
      ) do
    optional_params_config = %{
      :"$.xgafv" => :query,
      :access_token => :query,
      :alt => :query,
      :callback => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :upload_protocol => :query,
      :uploadType => :query
    }

    request =
      Request.new()
      |> Request.method(:get)
      |> Request.url("/v1/courses/{courseId}/announcements/{id}", %{
        "courseId" => URI.encode(course_id, &URI.char_unreserved?/1),
        "id" => URI.encode(id, &URI.char_unreserved?/1)
      })
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(opts ++ [struct: %GoogleApi.Classroom.V1.Model.Announcement{}])
  end

  @doc """
  Returns a list of announcements that the requester is permitted to view.  Course students may only view &#x60;PUBLISHED&#x60; announcements. Course teachers and domain administrators may view all announcements.  This method returns the following error codes:  * &#x60;PERMISSION_DENIED&#x60; if the requesting user is not permitted to access the requested course or for access errors. * &#x60;INVALID_ARGUMENT&#x60; if the request is malformed. * &#x60;NOT_FOUND&#x60; if the requested course does not exist.

  ## Parameters

  - connection (GoogleApi.Classroom.V1.Connection): Connection to server
  - course_id (String.t): Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.
  - optional_params (KeywordList): [optional] Optional parameters
    - :$.xgafv (String.t): V1 error format.
    - :access_token (String.t): OAuth access token.
    - :alt (String.t): Data format for response.
    - :callback (String.t): JSONP
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :upload_protocol (String.t): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :uploadType (String.t): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :announcementStates ([String.t]): Restriction on the &#x60;state&#x60; of announcements returned. If this argument is left unspecified, the default value is &#x60;PUBLISHED&#x60;.
    - :orderBy (String.t): Optional sort ordering for results. A comma-separated list of fields with an optional sort direction keyword. Supported field is &#x60;updateTime&#x60;. Supported direction keywords are &#x60;asc&#x60; and &#x60;desc&#x60;. If not specified, &#x60;updateTime desc&#x60; is the default behavior. Examples: &#x60;updateTime asc&#x60;, &#x60;updateTime&#x60;
    - :pageSize (integer()): Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum.  The server may return fewer than the specified number of results.
    - :pageToken (String.t): nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned.  The list request must be otherwise identical to the one that resulted in this token.

  ## Returns

  {:ok, %GoogleApi.Classroom.V1.Model.ListAnnouncementsResponse{}} on success
  {:error, info} on failure
  """
  @spec classroom_courses_announcements_list(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, GoogleApi.Classroom.V1.Model.ListAnnouncementsResponse.t()}
          | {:error, Tesla.Env.t()}
  def classroom_courses_announcements_list(
        connection,
        course_id,
        optional_params \\ [],
        opts \\ []
      ) do
    optional_params_config = %{
      :"$.xgafv" => :query,
      :access_token => :query,
      :alt => :query,
      :callback => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :upload_protocol => :query,
      :uploadType => :query,
      :announcementStates => :query,
      :orderBy => :query,
      :pageSize => :query,
      :pageToken => :query
    }

    request =
      Request.new()
      |> Request.method(:get)
      |> Request.url("/v1/courses/{courseId}/announcements", %{
        "courseId" => URI.encode(course_id, &URI.char_unreserved?/1)
      })
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(
      opts ++ [struct: %GoogleApi.Classroom.V1.Model.ListAnnouncementsResponse{}]
    )
  end

  @doc """
  Modifies assignee mode and options of an announcement.  Only a teacher of the course that contains the announcement may call this method.  This method returns the following error codes:  * &#x60;PERMISSION_DENIED&#x60; if the requesting user is not permitted to access the requested course or course work or for access errors. * &#x60;INVALID_ARGUMENT&#x60; if the request is malformed. * &#x60;NOT_FOUND&#x60; if the requested course or course work does not exist.

  ## Parameters

  - connection (GoogleApi.Classroom.V1.Connection): Connection to server
  - course_id (String.t): Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.
  - id (String.t): Identifier of the announcement.
  - optional_params (KeywordList): [optional] Optional parameters
    - :$.xgafv (String.t): V1 error format.
    - :access_token (String.t): OAuth access token.
    - :alt (String.t): Data format for response.
    - :callback (String.t): JSONP
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :upload_protocol (String.t): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :uploadType (String.t): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :body (ModifyAnnouncementAssigneesRequest): 

  ## Returns

  {:ok, %GoogleApi.Classroom.V1.Model.Announcement{}} on success
  {:error, info} on failure
  """
  @spec classroom_courses_announcements_modify_assignees(
          Tesla.Env.client(),
          String.t(),
          String.t(),
          keyword()
        ) :: {:ok, GoogleApi.Classroom.V1.Model.Announcement.t()} | {:error, Tesla.Env.t()}
  def classroom_courses_announcements_modify_assignees(
        connection,
        course_id,
        id,
        optional_params \\ [],
        opts \\ []
      ) do
    optional_params_config = %{
      :"$.xgafv" => :query,
      :access_token => :query,
      :alt => :query,
      :callback => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :upload_protocol => :query,
      :uploadType => :query,
      :body => :body
    }

    request =
      Request.new()
      |> Request.method(:post)
      |> Request.url("/v1/courses/{courseId}/announcements/{id}:modifyAssignees", %{
        "courseId" => URI.encode(course_id, &URI.char_unreserved?/1),
        "id" => URI.encode(id, &URI.char_unreserved?/1)
      })
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(opts ++ [struct: %GoogleApi.Classroom.V1.Model.Announcement{}])
  end

  @doc """
  Updates one or more fields of an announcement.  This method returns the following error codes:  * &#x60;PERMISSION_DENIED&#x60; if the requesting developer project did not create the corresponding announcement or for access errors. * &#x60;INVALID_ARGUMENT&#x60; if the request is malformed. * &#x60;FAILED_PRECONDITION&#x60; if the requested announcement has already been deleted. * &#x60;NOT_FOUND&#x60; if the requested course or announcement does not exist

  ## Parameters

  - connection (GoogleApi.Classroom.V1.Connection): Connection to server
  - course_id (String.t): Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.
  - id (String.t): Identifier of the announcement.
  - optional_params (KeywordList): [optional] Optional parameters
    - :$.xgafv (String.t): V1 error format.
    - :access_token (String.t): OAuth access token.
    - :alt (String.t): Data format for response.
    - :callback (String.t): JSONP
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :upload_protocol (String.t): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :uploadType (String.t): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :updateMask (String.t): Mask that identifies which fields on the announcement to update. This field is required to do an update. The update fails if invalid fields are specified. If a field supports empty values, it can be cleared by specifying it in the update mask and not in the Announcement object. If a field that does not support empty values is included in the update mask and not set in the Announcement object, an &#x60;INVALID_ARGUMENT&#x60; error will be returned.  The following fields may be specified by teachers:  * &#x60;text&#x60; * &#x60;state&#x60; * &#x60;scheduled_time&#x60;
    - :body (Announcement): 

  ## Returns

  {:ok, %GoogleApi.Classroom.V1.Model.Announcement{}} on success
  {:error, info} on failure
  """
  @spec classroom_courses_announcements_patch(
          Tesla.Env.client(),
          String.t(),
          String.t(),
          keyword()
        ) :: {:ok, GoogleApi.Classroom.V1.Model.Announcement.t()} | {:error, Tesla.Env.t()}
  def classroom_courses_announcements_patch(
        connection,
        course_id,
        id,
        optional_params \\ [],
        opts \\ []
      ) do
    optional_params_config = %{
      :"$.xgafv" => :query,
      :access_token => :query,
      :alt => :query,
      :callback => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :upload_protocol => :query,
      :uploadType => :query,
      :updateMask => :query,
      :body => :body
    }

    request =
      Request.new()
      |> Request.method(:patch)
      |> Request.url("/v1/courses/{courseId}/announcements/{id}", %{
        "courseId" => URI.encode(course_id, &URI.char_unreserved?/1),
        "id" => URI.encode(id, &URI.char_unreserved?/1)
      })
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(opts ++ [struct: %GoogleApi.Classroom.V1.Model.Announcement{}])
  end

  @doc """
  Creates course work.  The resulting course work (and corresponding student submissions) are associated with the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to make the request. Classroom API requests to modify course work and student submissions must be made with an OAuth client ID from the associated Developer Console project.  This method returns the following error codes:  * &#x60;PERMISSION_DENIED&#x60; if the requesting user is not permitted to access the requested course, create course work in the requested course, share a Drive attachment, or for access errors. * &#x60;INVALID_ARGUMENT&#x60; if the request is malformed. * &#x60;NOT_FOUND&#x60; if the requested course does not exist. * &#x60;FAILED_PRECONDITION&#x60; for the following request error:     * AttachmentNotVisible

  ## Parameters

  - connection (GoogleApi.Classroom.V1.Connection): Connection to server
  - course_id (String.t): Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.
  - optional_params (KeywordList): [optional] Optional parameters
    - :$.xgafv (String.t): V1 error format.
    - :access_token (String.t): OAuth access token.
    - :alt (String.t): Data format for response.
    - :callback (String.t): JSONP
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :upload_protocol (String.t): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :uploadType (String.t): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :body (CourseWork): 

  ## Returns

  {:ok, %GoogleApi.Classroom.V1.Model.CourseWork{}} on success
  {:error, info} on failure
  """
  @spec classroom_courses_course_work_create(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, GoogleApi.Classroom.V1.Model.CourseWork.t()} | {:error, Tesla.Env.t()}
  def classroom_courses_course_work_create(
        connection,
        course_id,
        optional_params \\ [],
        opts \\ []
      ) do
    optional_params_config = %{
      :"$.xgafv" => :query,
      :access_token => :query,
      :alt => :query,
      :callback => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :upload_protocol => :query,
      :uploadType => :query,
      :body => :body
    }

    request =
      Request.new()
      |> Request.method(:post)
      |> Request.url("/v1/courses/{courseId}/courseWork", %{
        "courseId" => URI.encode(course_id, &URI.char_unreserved?/1)
      })
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(opts ++ [struct: %GoogleApi.Classroom.V1.Model.CourseWork{}])
  end

  @doc """
  Deletes a course work.  This request must be made by the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to create the corresponding course work item.  This method returns the following error codes:  * &#x60;PERMISSION_DENIED&#x60; if the requesting developer project did not create the corresponding course work, if the requesting user is not permitted to delete the requested course or for access errors. * &#x60;FAILED_PRECONDITION&#x60; if the requested course work has already been deleted. * &#x60;NOT_FOUND&#x60; if no course exists with the requested ID.

  ## Parameters

  - connection (GoogleApi.Classroom.V1.Connection): Connection to server
  - course_id (String.t): Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.
  - id (String.t): Identifier of the course work to delete. This identifier is a Classroom-assigned identifier.
  - optional_params (KeywordList): [optional] Optional parameters
    - :$.xgafv (String.t): V1 error format.
    - :access_token (String.t): OAuth access token.
    - :alt (String.t): Data format for response.
    - :callback (String.t): JSONP
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :upload_protocol (String.t): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :uploadType (String.t): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).

  ## Returns

  {:ok, %GoogleApi.Classroom.V1.Model.Empty{}} on success
  {:error, info} on failure
  """
  @spec classroom_courses_course_work_delete(
          Tesla.Env.client(),
          String.t(),
          String.t(),
          keyword()
        ) :: {:ok, GoogleApi.Classroom.V1.Model.Empty.t()} | {:error, Tesla.Env.t()}
  def classroom_courses_course_work_delete(
        connection,
        course_id,
        id,
        optional_params \\ [],
        opts \\ []
      ) do
    optional_params_config = %{
      :"$.xgafv" => :query,
      :access_token => :query,
      :alt => :query,
      :callback => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :upload_protocol => :query,
      :uploadType => :query
    }

    request =
      Request.new()
      |> Request.method(:delete)
      |> Request.url("/v1/courses/{courseId}/courseWork/{id}", %{
        "courseId" => URI.encode(course_id, &URI.char_unreserved?/1),
        "id" => URI.encode(id, &URI.char_unreserved?/1)
      })
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(opts ++ [struct: %GoogleApi.Classroom.V1.Model.Empty{}])
  end

  @doc """
  Returns course work.  This method returns the following error codes:  * &#x60;PERMISSION_DENIED&#x60; if the requesting user is not permitted to access the requested course or course work, or for access errors. * &#x60;INVALID_ARGUMENT&#x60; if the request is malformed. * &#x60;NOT_FOUND&#x60; if the requested course or course work does not exist.

  ## Parameters

  - connection (GoogleApi.Classroom.V1.Connection): Connection to server
  - course_id (String.t): Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.
  - id (String.t): Identifier of the course work.
  - optional_params (KeywordList): [optional] Optional parameters
    - :$.xgafv (String.t): V1 error format.
    - :access_token (String.t): OAuth access token.
    - :alt (String.t): Data format for response.
    - :callback (String.t): JSONP
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :upload_protocol (String.t): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :uploadType (String.t): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).

  ## Returns

  {:ok, %GoogleApi.Classroom.V1.Model.CourseWork{}} on success
  {:error, info} on failure
  """
  @spec classroom_courses_course_work_get(Tesla.Env.client(), String.t(), String.t(), keyword()) ::
          {:ok, GoogleApi.Classroom.V1.Model.CourseWork.t()} | {:error, Tesla.Env.t()}
  def classroom_courses_course_work_get(
        connection,
        course_id,
        id,
        optional_params \\ [],
        opts \\ []
      ) do
    optional_params_config = %{
      :"$.xgafv" => :query,
      :access_token => :query,
      :alt => :query,
      :callback => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :upload_protocol => :query,
      :uploadType => :query
    }

    request =
      Request.new()
      |> Request.method(:get)
      |> Request.url("/v1/courses/{courseId}/courseWork/{id}", %{
        "courseId" => URI.encode(course_id, &URI.char_unreserved?/1),
        "id" => URI.encode(id, &URI.char_unreserved?/1)
      })
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(opts ++ [struct: %GoogleApi.Classroom.V1.Model.CourseWork{}])
  end

  @doc """
  Returns a list of course work that the requester is permitted to view.  Course students may only view &#x60;PUBLISHED&#x60; course work. Course teachers and domain administrators may view all course work.  This method returns the following error codes:  * &#x60;PERMISSION_DENIED&#x60; if the requesting user is not permitted to access the requested course or for access errors. * &#x60;INVALID_ARGUMENT&#x60; if the request is malformed. * &#x60;NOT_FOUND&#x60; if the requested course does not exist.

  ## Parameters

  - connection (GoogleApi.Classroom.V1.Connection): Connection to server
  - course_id (String.t): Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.
  - optional_params (KeywordList): [optional] Optional parameters
    - :$.xgafv (String.t): V1 error format.
    - :access_token (String.t): OAuth access token.
    - :alt (String.t): Data format for response.
    - :callback (String.t): JSONP
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :upload_protocol (String.t): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :uploadType (String.t): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :courseWorkStates ([String.t]): Restriction on the work status to return. Only courseWork that matches is returned. If unspecified, items with a work status of &#x60;PUBLISHED&#x60; is returned.
    - :orderBy (String.t): Optional sort ordering for results. A comma-separated list of fields with an optional sort direction keyword. Supported fields are &#x60;updateTime&#x60; and &#x60;dueDate&#x60;. Supported direction keywords are &#x60;asc&#x60; and &#x60;desc&#x60;. If not specified, &#x60;updateTime desc&#x60; is the default behavior. Examples: &#x60;dueDate asc,updateTime desc&#x60;, &#x60;updateTime,dueDate desc&#x60;
    - :pageSize (integer()): Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum.  The server may return fewer than the specified number of results.
    - :pageToken (String.t): nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned.  The list request must be otherwise identical to the one that resulted in this token.

  ## Returns

  {:ok, %GoogleApi.Classroom.V1.Model.ListCourseWorkResponse{}} on success
  {:error, info} on failure
  """
  @spec classroom_courses_course_work_list(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, GoogleApi.Classroom.V1.Model.ListCourseWorkResponse.t()} | {:error, Tesla.Env.t()}
  def classroom_courses_course_work_list(connection, course_id, optional_params \\ [], opts \\ []) do
    optional_params_config = %{
      :"$.xgafv" => :query,
      :access_token => :query,
      :alt => :query,
      :callback => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :upload_protocol => :query,
      :uploadType => :query,
      :courseWorkStates => :query,
      :orderBy => :query,
      :pageSize => :query,
      :pageToken => :query
    }

    request =
      Request.new()
      |> Request.method(:get)
      |> Request.url("/v1/courses/{courseId}/courseWork", %{
        "courseId" => URI.encode(course_id, &URI.char_unreserved?/1)
      })
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(opts ++ [struct: %GoogleApi.Classroom.V1.Model.ListCourseWorkResponse{}])
  end

  @doc """
  Modifies assignee mode and options of a coursework.  Only a teacher of the course that contains the coursework may call this method.  This method returns the following error codes:  * &#x60;PERMISSION_DENIED&#x60; if the requesting user is not permitted to access the requested course or course work or for access errors. * &#x60;INVALID_ARGUMENT&#x60; if the request is malformed. * &#x60;NOT_FOUND&#x60; if the requested course or course work does not exist.

  ## Parameters

  - connection (GoogleApi.Classroom.V1.Connection): Connection to server
  - course_id (String.t): Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.
  - id (String.t): Identifier of the coursework.
  - optional_params (KeywordList): [optional] Optional parameters
    - :$.xgafv (String.t): V1 error format.
    - :access_token (String.t): OAuth access token.
    - :alt (String.t): Data format for response.
    - :callback (String.t): JSONP
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :upload_protocol (String.t): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :uploadType (String.t): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :body (ModifyCourseWorkAssigneesRequest): 

  ## Returns

  {:ok, %GoogleApi.Classroom.V1.Model.CourseWork{}} on success
  {:error, info} on failure
  """
  @spec classroom_courses_course_work_modify_assignees(
          Tesla.Env.client(),
          String.t(),
          String.t(),
          keyword()
        ) :: {:ok, GoogleApi.Classroom.V1.Model.CourseWork.t()} | {:error, Tesla.Env.t()}
  def classroom_courses_course_work_modify_assignees(
        connection,
        course_id,
        id,
        optional_params \\ [],
        opts \\ []
      ) do
    optional_params_config = %{
      :"$.xgafv" => :query,
      :access_token => :query,
      :alt => :query,
      :callback => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :upload_protocol => :query,
      :uploadType => :query,
      :body => :body
    }

    request =
      Request.new()
      |> Request.method(:post)
      |> Request.url("/v1/courses/{courseId}/courseWork/{id}:modifyAssignees", %{
        "courseId" => URI.encode(course_id, &URI.char_unreserved?/1),
        "id" => URI.encode(id, &URI.char_unreserved?/1)
      })
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(opts ++ [struct: %GoogleApi.Classroom.V1.Model.CourseWork{}])
  end

  @doc """
  Updates one or more fields of a course work.  See google.classroom.v1.CourseWork for details of which fields may be updated and who may change them.  This request must be made by the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to create the corresponding course work item.  This method returns the following error codes:  * &#x60;PERMISSION_DENIED&#x60; if the requesting developer project did not create the corresponding course work, if the user is not permitted to make the requested modification to the student submission, or for access errors. * &#x60;INVALID_ARGUMENT&#x60; if the request is malformed. * &#x60;FAILED_PRECONDITION&#x60; if the requested course work has already been deleted. * &#x60;NOT_FOUND&#x60; if the requested course, course work, or student submission does not exist.

  ## Parameters

  - connection (GoogleApi.Classroom.V1.Connection): Connection to server
  - course_id (String.t): Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.
  - id (String.t): Identifier of the course work.
  - optional_params (KeywordList): [optional] Optional parameters
    - :$.xgafv (String.t): V1 error format.
    - :access_token (String.t): OAuth access token.
    - :alt (String.t): Data format for response.
    - :callback (String.t): JSONP
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :upload_protocol (String.t): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :uploadType (String.t): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :updateMask (String.t): Mask that identifies which fields on the course work to update. This field is required to do an update. The update fails if invalid fields are specified. If a field supports empty values, it can be cleared by specifying it in the update mask and not in the CourseWork object. If a field that does not support empty values is included in the update mask and not set in the CourseWork object, an &#x60;INVALID_ARGUMENT&#x60; error will be returned.  The following fields may be specified by teachers:  * &#x60;title&#x60; * &#x60;description&#x60; * &#x60;state&#x60; * &#x60;due_date&#x60; * &#x60;due_time&#x60; * &#x60;max_points&#x60; * &#x60;scheduled_time&#x60; * &#x60;submission_modification_mode&#x60;
    - :body (CourseWork): 

  ## Returns

  {:ok, %GoogleApi.Classroom.V1.Model.CourseWork{}} on success
  {:error, info} on failure
  """
  @spec classroom_courses_course_work_patch(Tesla.Env.client(), String.t(), String.t(), keyword()) ::
          {:ok, GoogleApi.Classroom.V1.Model.CourseWork.t()} | {:error, Tesla.Env.t()}
  def classroom_courses_course_work_patch(
        connection,
        course_id,
        id,
        optional_params \\ [],
        opts \\ []
      ) do
    optional_params_config = %{
      :"$.xgafv" => :query,
      :access_token => :query,
      :alt => :query,
      :callback => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :upload_protocol => :query,
      :uploadType => :query,
      :updateMask => :query,
      :body => :body
    }

    request =
      Request.new()
      |> Request.method(:patch)
      |> Request.url("/v1/courses/{courseId}/courseWork/{id}", %{
        "courseId" => URI.encode(course_id, &URI.char_unreserved?/1),
        "id" => URI.encode(id, &URI.char_unreserved?/1)
      })
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(opts ++ [struct: %GoogleApi.Classroom.V1.Model.CourseWork{}])
  end

  @doc """
  Returns a student submission.  * &#x60;PERMISSION_DENIED&#x60; if the requesting user is not permitted to access the requested course, course work, or student submission or for access errors. * &#x60;INVALID_ARGUMENT&#x60; if the request is malformed. * &#x60;NOT_FOUND&#x60; if the requested course, course work, or student submission does not exist.

  ## Parameters

  - connection (GoogleApi.Classroom.V1.Connection): Connection to server
  - course_id (String.t): Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.
  - course_work_id (String.t): Identifier of the course work.
  - id (String.t): Identifier of the student submission.
  - optional_params (KeywordList): [optional] Optional parameters
    - :$.xgafv (String.t): V1 error format.
    - :access_token (String.t): OAuth access token.
    - :alt (String.t): Data format for response.
    - :callback (String.t): JSONP
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :upload_protocol (String.t): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :uploadType (String.t): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).

  ## Returns

  {:ok, %GoogleApi.Classroom.V1.Model.StudentSubmission{}} on success
  {:error, info} on failure
  """
  @spec classroom_courses_course_work_student_submissions_get(
          Tesla.Env.client(),
          String.t(),
          String.t(),
          String.t(),
          keyword()
        ) :: {:ok, GoogleApi.Classroom.V1.Model.StudentSubmission.t()} | {:error, Tesla.Env.t()}
  def classroom_courses_course_work_student_submissions_get(
        connection,
        course_id,
        course_work_id,
        id,
        optional_params \\ [],
        opts \\ []
      ) do
    optional_params_config = %{
      :"$.xgafv" => :query,
      :access_token => :query,
      :alt => :query,
      :callback => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :upload_protocol => :query,
      :uploadType => :query
    }

    request =
      Request.new()
      |> Request.method(:get)
      |> Request.url(
        "/v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}",
        %{
          "courseId" => URI.encode(course_id, &URI.char_unreserved?/1),
          "courseWorkId" => URI.encode(course_work_id, &URI.char_unreserved?/1),
          "id" => URI.encode(id, &URI.char_unreserved?/1)
        }
      )
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(opts ++ [struct: %GoogleApi.Classroom.V1.Model.StudentSubmission{}])
  end

  @doc """
  Returns a list of student submissions that the requester is permitted to view, factoring in the OAuth scopes of the request. &#x60;-&#x60; may be specified as the &#x60;course_work_id&#x60; to include student submissions for multiple course work items.  Course students may only view their own work. Course teachers and domain administrators may view all student submissions.  This method returns the following error codes:  * &#x60;PERMISSION_DENIED&#x60; if the requesting user is not permitted to access the requested course or course work, or for access errors. * &#x60;INVALID_ARGUMENT&#x60; if the request is malformed. * &#x60;NOT_FOUND&#x60; if the requested course does not exist.

  ## Parameters

  - connection (GoogleApi.Classroom.V1.Connection): Connection to server
  - course_id (String.t): Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.
  - course_work_id (String.t): Identifier of the student work to request. This may be set to the string literal &#x60;\&quot;-\&quot;&#x60; to request student work for all course work in the specified course.
  - optional_params (KeywordList): [optional] Optional parameters
    - :$.xgafv (String.t): V1 error format.
    - :access_token (String.t): OAuth access token.
    - :alt (String.t): Data format for response.
    - :callback (String.t): JSONP
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :upload_protocol (String.t): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :uploadType (String.t): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :late (String.t): Requested lateness value. If specified, returned student submissions are restricted by the requested value. If unspecified, submissions are returned regardless of &#x60;late&#x60; value.
    - :pageSize (integer()): Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum.  The server may return fewer than the specified number of results.
    - :pageToken (String.t): nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned.  The list request must be otherwise identical to the one that resulted in this token.
    - :states ([String.t]): Requested submission states. If specified, returned student submissions match one of the specified submission states.
    - :userId (String.t): Optional argument to restrict returned student work to those owned by the student with the specified identifier. The identifier can be one of the following:  * the numeric identifier for the user * the email address of the user * the string literal &#x60;\&quot;me\&quot;&#x60;, indicating the requesting user

  ## Returns

  {:ok, %GoogleApi.Classroom.V1.Model.ListStudentSubmissionsResponse{}} on success
  {:error, info} on failure
  """
  @spec classroom_courses_course_work_student_submissions_list(
          Tesla.Env.client(),
          String.t(),
          String.t(),
          keyword()
        ) ::
          {:ok, GoogleApi.Classroom.V1.Model.ListStudentSubmissionsResponse.t()}
          | {:error, Tesla.Env.t()}
  def classroom_courses_course_work_student_submissions_list(
        connection,
        course_id,
        course_work_id,
        optional_params \\ [],
        opts \\ []
      ) do
    optional_params_config = %{
      :"$.xgafv" => :query,
      :access_token => :query,
      :alt => :query,
      :callback => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :upload_protocol => :query,
      :uploadType => :query,
      :late => :query,
      :pageSize => :query,
      :pageToken => :query,
      :states => :query,
      :userId => :query
    }

    request =
      Request.new()
      |> Request.method(:get)
      |> Request.url("/v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions", %{
        "courseId" => URI.encode(course_id, &URI.char_unreserved?/1),
        "courseWorkId" => URI.encode(course_work_id, &URI.char_unreserved?/1)
      })
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(
      opts ++ [struct: %GoogleApi.Classroom.V1.Model.ListStudentSubmissionsResponse{}]
    )
  end

  @doc """
  Modifies attachments of student submission.  Attachments may only be added to student submissions belonging to course work objects with a &#x60;workType&#x60; of &#x60;ASSIGNMENT&#x60;.  This request must be made by the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to create the corresponding course work item.  This method returns the following error codes:  * &#x60;PERMISSION_DENIED&#x60; if the requesting user is not permitted to access the requested course or course work, if the user is not permitted to modify attachments on the requested student submission, or for access errors. * &#x60;INVALID_ARGUMENT&#x60; if the request is malformed. * &#x60;NOT_FOUND&#x60; if the requested course, course work, or student submission does not exist.

  ## Parameters

  - connection (GoogleApi.Classroom.V1.Connection): Connection to server
  - course_id (String.t): Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.
  - course_work_id (String.t): Identifier of the course work.
  - id (String.t): Identifier of the student submission.
  - optional_params (KeywordList): [optional] Optional parameters
    - :$.xgafv (String.t): V1 error format.
    - :access_token (String.t): OAuth access token.
    - :alt (String.t): Data format for response.
    - :callback (String.t): JSONP
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :upload_protocol (String.t): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :uploadType (String.t): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :body (ModifyAttachmentsRequest): 

  ## Returns

  {:ok, %GoogleApi.Classroom.V1.Model.StudentSubmission{}} on success
  {:error, info} on failure
  """
  @spec classroom_courses_course_work_student_submissions_modify_attachments(
          Tesla.Env.client(),
          String.t(),
          String.t(),
          String.t(),
          keyword()
        ) :: {:ok, GoogleApi.Classroom.V1.Model.StudentSubmission.t()} | {:error, Tesla.Env.t()}
  def classroom_courses_course_work_student_submissions_modify_attachments(
        connection,
        course_id,
        course_work_id,
        id,
        optional_params \\ [],
        opts \\ []
      ) do
    optional_params_config = %{
      :"$.xgafv" => :query,
      :access_token => :query,
      :alt => :query,
      :callback => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :upload_protocol => :query,
      :uploadType => :query,
      :body => :body
    }

    request =
      Request.new()
      |> Request.method(:post)
      |> Request.url(
        "/v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}:modifyAttachments",
        %{
          "courseId" => URI.encode(course_id, &URI.char_unreserved?/1),
          "courseWorkId" => URI.encode(course_work_id, &URI.char_unreserved?/1),
          "id" => URI.encode(id, &URI.char_unreserved?/1)
        }
      )
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(opts ++ [struct: %GoogleApi.Classroom.V1.Model.StudentSubmission{}])
  end

  @doc """
  Updates one or more fields of a student submission.  See google.classroom.v1.StudentSubmission for details of which fields may be updated and who may change them.  This request must be made by the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to create the corresponding course work item.  This method returns the following error codes:  * &#x60;PERMISSION_DENIED&#x60; if the requesting developer project did not create the corresponding course work, if the user is not permitted to make the requested modification to the student submission, or for access errors. * &#x60;INVALID_ARGUMENT&#x60; if the request is malformed. * &#x60;NOT_FOUND&#x60; if the requested course, course work, or student submission does not exist.

  ## Parameters

  - connection (GoogleApi.Classroom.V1.Connection): Connection to server
  - course_id (String.t): Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.
  - course_work_id (String.t): Identifier of the course work.
  - id (String.t): Identifier of the student submission.
  - optional_params (KeywordList): [optional] Optional parameters
    - :$.xgafv (String.t): V1 error format.
    - :access_token (String.t): OAuth access token.
    - :alt (String.t): Data format for response.
    - :callback (String.t): JSONP
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :upload_protocol (String.t): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :uploadType (String.t): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :updateMask (String.t): Mask that identifies which fields on the student submission to update. This field is required to do an update. The update fails if invalid fields are specified.  The following fields may be specified by teachers:  * &#x60;draft_grade&#x60; * &#x60;assigned_grade&#x60;
    - :body (StudentSubmission): 

  ## Returns

  {:ok, %GoogleApi.Classroom.V1.Model.StudentSubmission{}} on success
  {:error, info} on failure
  """
  @spec classroom_courses_course_work_student_submissions_patch(
          Tesla.Env.client(),
          String.t(),
          String.t(),
          String.t(),
          keyword()
        ) :: {:ok, GoogleApi.Classroom.V1.Model.StudentSubmission.t()} | {:error, Tesla.Env.t()}
  def classroom_courses_course_work_student_submissions_patch(
        connection,
        course_id,
        course_work_id,
        id,
        optional_params \\ [],
        opts \\ []
      ) do
    optional_params_config = %{
      :"$.xgafv" => :query,
      :access_token => :query,
      :alt => :query,
      :callback => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :upload_protocol => :query,
      :uploadType => :query,
      :updateMask => :query,
      :body => :body
    }

    request =
      Request.new()
      |> Request.method(:patch)
      |> Request.url(
        "/v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}",
        %{
          "courseId" => URI.encode(course_id, &URI.char_unreserved?/1),
          "courseWorkId" => URI.encode(course_work_id, &URI.char_unreserved?/1),
          "id" => URI.encode(id, &URI.char_unreserved?/1)
        }
      )
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(opts ++ [struct: %GoogleApi.Classroom.V1.Model.StudentSubmission{}])
  end

  @doc """
  Reclaims a student submission on behalf of the student that owns it.  Reclaiming a student submission transfers ownership of attached Drive files to the student and updates the submission state.  Only the student that owns the requested student submission may call this method, and only for a student submission that has been turned in.  This request must be made by the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to create the corresponding course work item.  This method returns the following error codes:  * &#x60;PERMISSION_DENIED&#x60; if the requesting user is not permitted to access the requested course or course work, unsubmit the requested student submission, or for access errors. * &#x60;FAILED_PRECONDITION&#x60; if the student submission has not been turned in. * &#x60;INVALID_ARGUMENT&#x60; if the request is malformed. * &#x60;NOT_FOUND&#x60; if the requested course, course work, or student submission does not exist.

  ## Parameters

  - connection (GoogleApi.Classroom.V1.Connection): Connection to server
  - course_id (String.t): Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.
  - course_work_id (String.t): Identifier of the course work.
  - id (String.t): Identifier of the student submission.
  - optional_params (KeywordList): [optional] Optional parameters
    - :$.xgafv (String.t): V1 error format.
    - :access_token (String.t): OAuth access token.
    - :alt (String.t): Data format for response.
    - :callback (String.t): JSONP
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :upload_protocol (String.t): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :uploadType (String.t): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :body (ReclaimStudentSubmissionRequest): 

  ## Returns

  {:ok, %GoogleApi.Classroom.V1.Model.Empty{}} on success
  {:error, info} on failure
  """
  @spec classroom_courses_course_work_student_submissions_reclaim(
          Tesla.Env.client(),
          String.t(),
          String.t(),
          String.t(),
          keyword()
        ) :: {:ok, GoogleApi.Classroom.V1.Model.Empty.t()} | {:error, Tesla.Env.t()}
  def classroom_courses_course_work_student_submissions_reclaim(
        connection,
        course_id,
        course_work_id,
        id,
        optional_params \\ [],
        opts \\ []
      ) do
    optional_params_config = %{
      :"$.xgafv" => :query,
      :access_token => :query,
      :alt => :query,
      :callback => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :upload_protocol => :query,
      :uploadType => :query,
      :body => :body
    }

    request =
      Request.new()
      |> Request.method(:post)
      |> Request.url(
        "/v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}:reclaim",
        %{
          "courseId" => URI.encode(course_id, &URI.char_unreserved?/1),
          "courseWorkId" => URI.encode(course_work_id, &URI.char_unreserved?/1),
          "id" => URI.encode(id, &URI.char_unreserved?/1)
        }
      )
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(opts ++ [struct: %GoogleApi.Classroom.V1.Model.Empty{}])
  end

  @doc """
  Returns a student submission.  Returning a student submission transfers ownership of attached Drive files to the student and may also update the submission state. Unlike the Classroom application, returning a student submission does not set assignedGrade to the draftGrade value.  Only a teacher of the course that contains the requested student submission may call this method.  This request must be made by the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to create the corresponding course work item.  This method returns the following error codes:  * &#x60;PERMISSION_DENIED&#x60; if the requesting user is not permitted to access the requested course or course work, return the requested student submission, or for access errors. * &#x60;INVALID_ARGUMENT&#x60; if the request is malformed. * &#x60;NOT_FOUND&#x60; if the requested course, course work, or student submission does not exist.

  ## Parameters

  - connection (GoogleApi.Classroom.V1.Connection): Connection to server
  - course_id (String.t): Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.
  - course_work_id (String.t): Identifier of the course work.
  - id (String.t): Identifier of the student submission.
  - optional_params (KeywordList): [optional] Optional parameters
    - :$.xgafv (String.t): V1 error format.
    - :access_token (String.t): OAuth access token.
    - :alt (String.t): Data format for response.
    - :callback (String.t): JSONP
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :upload_protocol (String.t): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :uploadType (String.t): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :body (ReturnStudentSubmissionRequest): 

  ## Returns

  {:ok, %GoogleApi.Classroom.V1.Model.Empty{}} on success
  {:error, info} on failure
  """
  @spec classroom_courses_course_work_student_submissions_return(
          Tesla.Env.client(),
          String.t(),
          String.t(),
          String.t(),
          keyword()
        ) :: {:ok, GoogleApi.Classroom.V1.Model.Empty.t()} | {:error, Tesla.Env.t()}
  def classroom_courses_course_work_student_submissions_return(
        connection,
        course_id,
        course_work_id,
        id,
        optional_params \\ [],
        opts \\ []
      ) do
    optional_params_config = %{
      :"$.xgafv" => :query,
      :access_token => :query,
      :alt => :query,
      :callback => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :upload_protocol => :query,
      :uploadType => :query,
      :body => :body
    }

    request =
      Request.new()
      |> Request.method(:post)
      |> Request.url(
        "/v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}:return",
        %{
          "courseId" => URI.encode(course_id, &URI.char_unreserved?/1),
          "courseWorkId" => URI.encode(course_work_id, &URI.char_unreserved?/1),
          "id" => URI.encode(id, &URI.char_unreserved?/1)
        }
      )
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(opts ++ [struct: %GoogleApi.Classroom.V1.Model.Empty{}])
  end

  @doc """
  Turns in a student submission.  Turning in a student submission transfers ownership of attached Drive files to the teacher and may also update the submission state.  This may only be called by the student that owns the specified student submission.  This request must be made by the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to create the corresponding course work item.  This method returns the following error codes:  * &#x60;PERMISSION_DENIED&#x60; if the requesting user is not permitted to access the requested course or course work, turn in the requested student submission, or for access errors. * &#x60;INVALID_ARGUMENT&#x60; if the request is malformed. * &#x60;NOT_FOUND&#x60; if the requested course, course work, or student submission does not exist.

  ## Parameters

  - connection (GoogleApi.Classroom.V1.Connection): Connection to server
  - course_id (String.t): Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.
  - course_work_id (String.t): Identifier of the course work.
  - id (String.t): Identifier of the student submission.
  - optional_params (KeywordList): [optional] Optional parameters
    - :$.xgafv (String.t): V1 error format.
    - :access_token (String.t): OAuth access token.
    - :alt (String.t): Data format for response.
    - :callback (String.t): JSONP
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :upload_protocol (String.t): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :uploadType (String.t): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :body (TurnInStudentSubmissionRequest): 

  ## Returns

  {:ok, %GoogleApi.Classroom.V1.Model.Empty{}} on success
  {:error, info} on failure
  """
  @spec classroom_courses_course_work_student_submissions_turn_in(
          Tesla.Env.client(),
          String.t(),
          String.t(),
          String.t(),
          keyword()
        ) :: {:ok, GoogleApi.Classroom.V1.Model.Empty.t()} | {:error, Tesla.Env.t()}
  def classroom_courses_course_work_student_submissions_turn_in(
        connection,
        course_id,
        course_work_id,
        id,
        optional_params \\ [],
        opts \\ []
      ) do
    optional_params_config = %{
      :"$.xgafv" => :query,
      :access_token => :query,
      :alt => :query,
      :callback => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :upload_protocol => :query,
      :uploadType => :query,
      :body => :body
    }

    request =
      Request.new()
      |> Request.method(:post)
      |> Request.url(
        "/v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}:turnIn",
        %{
          "courseId" => URI.encode(course_id, &URI.char_unreserved?/1),
          "courseWorkId" => URI.encode(course_work_id, &URI.char_unreserved?/1),
          "id" => URI.encode(id, &URI.char_unreserved?/1)
        }
      )
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(opts ++ [struct: %GoogleApi.Classroom.V1.Model.Empty{}])
  end

  @doc """
  Creates a course.  The user specified in &#x60;ownerId&#x60; is the owner of the created course and added as a teacher.  This method returns the following error codes:  * &#x60;PERMISSION_DENIED&#x60; if the requesting user is not permitted to create courses or for access errors. * &#x60;NOT_FOUND&#x60; if the primary teacher is not a valid user. * &#x60;FAILED_PRECONDITION&#x60; if the course owner&#39;s account is disabled or for the following request errors:     * UserGroupsMembershipLimitReached * &#x60;ALREADY_EXISTS&#x60; if an alias was specified in the &#x60;id&#x60; and already exists.

  ## Parameters

  - connection (GoogleApi.Classroom.V1.Connection): Connection to server
  - optional_params (KeywordList): [optional] Optional parameters
    - :$.xgafv (String.t): V1 error format.
    - :access_token (String.t): OAuth access token.
    - :alt (String.t): Data format for response.
    - :callback (String.t): JSONP
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :upload_protocol (String.t): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :uploadType (String.t): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :body (Course): 

  ## Returns

  {:ok, %GoogleApi.Classroom.V1.Model.Course{}} on success
  {:error, info} on failure
  """
  @spec classroom_courses_create(Tesla.Env.client(), keyword()) ::
          {:ok, GoogleApi.Classroom.V1.Model.Course.t()} | {:error, Tesla.Env.t()}
  def classroom_courses_create(connection, optional_params \\ [], opts \\ []) do
    optional_params_config = %{
      :"$.xgafv" => :query,
      :access_token => :query,
      :alt => :query,
      :callback => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :upload_protocol => :query,
      :uploadType => :query,
      :body => :body
    }

    request =
      Request.new()
      |> Request.method(:post)
      |> Request.url("/v1/courses")
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(opts ++ [struct: %GoogleApi.Classroom.V1.Model.Course{}])
  end

  @doc """
  Deletes a course.  This method returns the following error codes:  * &#x60;PERMISSION_DENIED&#x60; if the requesting user is not permitted to delete the requested course or for access errors. * &#x60;NOT_FOUND&#x60; if no course exists with the requested ID.

  ## Parameters

  - connection (GoogleApi.Classroom.V1.Connection): Connection to server
  - id (String.t): Identifier of the course to delete. This identifier can be either the Classroom-assigned identifier or an alias.
  - optional_params (KeywordList): [optional] Optional parameters
    - :$.xgafv (String.t): V1 error format.
    - :access_token (String.t): OAuth access token.
    - :alt (String.t): Data format for response.
    - :callback (String.t): JSONP
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :upload_protocol (String.t): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :uploadType (String.t): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).

  ## Returns

  {:ok, %GoogleApi.Classroom.V1.Model.Empty{}} on success
  {:error, info} on failure
  """
  @spec classroom_courses_delete(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, GoogleApi.Classroom.V1.Model.Empty.t()} | {:error, Tesla.Env.t()}
  def classroom_courses_delete(connection, id, optional_params \\ [], opts \\ []) do
    optional_params_config = %{
      :"$.xgafv" => :query,
      :access_token => :query,
      :alt => :query,
      :callback => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :upload_protocol => :query,
      :uploadType => :query
    }

    request =
      Request.new()
      |> Request.method(:delete)
      |> Request.url("/v1/courses/{id}", %{
        "id" => URI.encode(id, &URI.char_unreserved?/1)
      })
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(opts ++ [struct: %GoogleApi.Classroom.V1.Model.Empty{}])
  end

  @doc """
  Returns a course.  This method returns the following error codes:  * &#x60;PERMISSION_DENIED&#x60; if the requesting user is not permitted to access the requested course or for access errors. * &#x60;NOT_FOUND&#x60; if no course exists with the requested ID.

  ## Parameters

  - connection (GoogleApi.Classroom.V1.Connection): Connection to server
  - id (String.t): Identifier of the course to return. This identifier can be either the Classroom-assigned identifier or an alias.
  - optional_params (KeywordList): [optional] Optional parameters
    - :$.xgafv (String.t): V1 error format.
    - :access_token (String.t): OAuth access token.
    - :alt (String.t): Data format for response.
    - :callback (String.t): JSONP
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :upload_protocol (String.t): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :uploadType (String.t): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).

  ## Returns

  {:ok, %GoogleApi.Classroom.V1.Model.Course{}} on success
  {:error, info} on failure
  """
  @spec classroom_courses_get(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, GoogleApi.Classroom.V1.Model.Course.t()} | {:error, Tesla.Env.t()}
  def classroom_courses_get(connection, id, optional_params \\ [], opts \\ []) do
    optional_params_config = %{
      :"$.xgafv" => :query,
      :access_token => :query,
      :alt => :query,
      :callback => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :upload_protocol => :query,
      :uploadType => :query
    }

    request =
      Request.new()
      |> Request.method(:get)
      |> Request.url("/v1/courses/{id}", %{
        "id" => URI.encode(id, &URI.char_unreserved?/1)
      })
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(opts ++ [struct: %GoogleApi.Classroom.V1.Model.Course{}])
  end

  @doc """
  Returns a list of courses that the requesting user is permitted to view, restricted to those that match the request. Returned courses are ordered by creation time, with the most recently created coming first.  This method returns the following error codes:  * &#x60;PERMISSION_DENIED&#x60; for access errors. * &#x60;INVALID_ARGUMENT&#x60; if the query argument is malformed. * &#x60;NOT_FOUND&#x60; if any users specified in the query arguments do not exist.

  ## Parameters

  - connection (GoogleApi.Classroom.V1.Connection): Connection to server
  - optional_params (KeywordList): [optional] Optional parameters
    - :$.xgafv (String.t): V1 error format.
    - :access_token (String.t): OAuth access token.
    - :alt (String.t): Data format for response.
    - :callback (String.t): JSONP
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :upload_protocol (String.t): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :uploadType (String.t): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :courseStates ([String.t]): Restricts returned courses to those in one of the specified states The default value is ACTIVE, ARCHIVED, PROVISIONED, DECLINED.
    - :pageSize (integer()): Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum.  The server may return fewer than the specified number of results.
    - :pageToken (String.t): nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned.  The list request must be otherwise identical to the one that resulted in this token.
    - :studentId (String.t): Restricts returned courses to those having a student with the specified identifier. The identifier can be one of the following:  * the numeric identifier for the user * the email address of the user * the string literal &#x60;\&quot;me\&quot;&#x60;, indicating the requesting user
    - :teacherId (String.t): Restricts returned courses to those having a teacher with the specified identifier. The identifier can be one of the following:  * the numeric identifier for the user * the email address of the user * the string literal &#x60;\&quot;me\&quot;&#x60;, indicating the requesting user

  ## Returns

  {:ok, %GoogleApi.Classroom.V1.Model.ListCoursesResponse{}} on success
  {:error, info} on failure
  """
  @spec classroom_courses_list(Tesla.Env.client(), keyword()) ::
          {:ok, GoogleApi.Classroom.V1.Model.ListCoursesResponse.t()} | {:error, Tesla.Env.t()}
  def classroom_courses_list(connection, optional_params \\ [], opts \\ []) do
    optional_params_config = %{
      :"$.xgafv" => :query,
      :access_token => :query,
      :alt => :query,
      :callback => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :upload_protocol => :query,
      :uploadType => :query,
      :courseStates => :query,
      :pageSize => :query,
      :pageToken => :query,
      :studentId => :query,
      :teacherId => :query
    }

    request =
      Request.new()
      |> Request.method(:get)
      |> Request.url("/v1/courses")
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(opts ++ [struct: %GoogleApi.Classroom.V1.Model.ListCoursesResponse{}])
  end

  @doc """
  Updates one or more fields in a course.  This method returns the following error codes:  * &#x60;PERMISSION_DENIED&#x60; if the requesting user is not permitted to modify the requested course or for access errors. * &#x60;NOT_FOUND&#x60; if no course exists with the requested ID. * &#x60;INVALID_ARGUMENT&#x60; if invalid fields are specified in the update mask or if no update mask is supplied. * &#x60;FAILED_PRECONDITION&#x60; for the following request errors:     * CourseNotModifiable

  ## Parameters

  - connection (GoogleApi.Classroom.V1.Connection): Connection to server
  - id (String.t): Identifier of the course to update. This identifier can be either the Classroom-assigned identifier or an alias.
  - optional_params (KeywordList): [optional] Optional parameters
    - :$.xgafv (String.t): V1 error format.
    - :access_token (String.t): OAuth access token.
    - :alt (String.t): Data format for response.
    - :callback (String.t): JSONP
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :upload_protocol (String.t): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :uploadType (String.t): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :updateMask (String.t): Mask that identifies which fields on the course to update. This field is required to do an update. The update will fail if invalid fields are specified. The following fields are valid:  * &#x60;name&#x60; * &#x60;section&#x60; * &#x60;descriptionHeading&#x60; * &#x60;description&#x60; * &#x60;room&#x60; * &#x60;courseState&#x60; * &#x60;ownerId&#x60;  Note: patches to ownerId are treated as being effective immediately, but in practice it may take some time for the ownership transfer of all affected resources to complete.  When set in a query parameter, this field should be specified as  &#x60;updateMask&#x3D;&lt;field1&gt;,&lt;field2&gt;,...&#x60;
    - :body (Course): 

  ## Returns

  {:ok, %GoogleApi.Classroom.V1.Model.Course{}} on success
  {:error, info} on failure
  """
  @spec classroom_courses_patch(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, GoogleApi.Classroom.V1.Model.Course.t()} | {:error, Tesla.Env.t()}
  def classroom_courses_patch(connection, id, optional_params \\ [], opts \\ []) do
    optional_params_config = %{
      :"$.xgafv" => :query,
      :access_token => :query,
      :alt => :query,
      :callback => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :upload_protocol => :query,
      :uploadType => :query,
      :updateMask => :query,
      :body => :body
    }

    request =
      Request.new()
      |> Request.method(:patch)
      |> Request.url("/v1/courses/{id}", %{
        "id" => URI.encode(id, &URI.char_unreserved?/1)
      })
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(opts ++ [struct: %GoogleApi.Classroom.V1.Model.Course{}])
  end

  @doc """
  Adds a user as a student of a course.  This method returns the following error codes:  * &#x60;PERMISSION_DENIED&#x60; if the requesting user is not permitted to create students in this course or for access errors. * &#x60;NOT_FOUND&#x60; if the requested course ID does not exist. * &#x60;FAILED_PRECONDITION&#x60; if the requested user&#39;s account is disabled, for the following request errors:     * CourseMemberLimitReached     * CourseNotModifiable     * UserGroupsMembershipLimitReached * &#x60;ALREADY_EXISTS&#x60; if the user is already a student or teacher in the course.

  ## Parameters

  - connection (GoogleApi.Classroom.V1.Connection): Connection to server
  - course_id (String.t): Identifier of the course to create the student in. This identifier can be either the Classroom-assigned identifier or an alias.
  - optional_params (KeywordList): [optional] Optional parameters
    - :$.xgafv (String.t): V1 error format.
    - :access_token (String.t): OAuth access token.
    - :alt (String.t): Data format for response.
    - :callback (String.t): JSONP
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :upload_protocol (String.t): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :uploadType (String.t): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :enrollmentCode (String.t): Enrollment code of the course to create the student in. This code is required if userId corresponds to the requesting user; it may be omitted if the requesting user has administrative permissions to create students for any user.
    - :body (Student): 

  ## Returns

  {:ok, %GoogleApi.Classroom.V1.Model.Student{}} on success
  {:error, info} on failure
  """
  @spec classroom_courses_students_create(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, GoogleApi.Classroom.V1.Model.Student.t()} | {:error, Tesla.Env.t()}
  def classroom_courses_students_create(connection, course_id, optional_params \\ [], opts \\ []) do
    optional_params_config = %{
      :"$.xgafv" => :query,
      :access_token => :query,
      :alt => :query,
      :callback => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :upload_protocol => :query,
      :uploadType => :query,
      :enrollmentCode => :query,
      :body => :body
    }

    request =
      Request.new()
      |> Request.method(:post)
      |> Request.url("/v1/courses/{courseId}/students", %{
        "courseId" => URI.encode(course_id, &URI.char_unreserved?/1)
      })
[...]
