# Copyright 2017 Google Inc.
#
# Licensed under the Apache License, Version 2.0 (the &quot;License&quot;);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an &quot;AS IS&quot; BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# NOTE: This class is auto generated by the swagger code generator program.
# https://github.com/swagger-api/swagger-codegen.git
# Do not edit the class manually.

defmodule GoogleApi.Classroom.V1.Api.Registrations do
  @moduledoc """
  API calls for all endpoints tagged `Registrations`.
  """

  alias GoogleApi.Classroom.V1.Connection
  alias GoogleApi.Gax.{Request, Response}

  @doc """
  Creates a &#x60;Registration&#x60;, causing Classroom to start sending notifications from the provided &#x60;feed&#x60; to the destination provided in &#x60;cloudPubSubTopic&#x60;.  Returns the created &#x60;Registration&#x60;. Currently, this will be the same as the argument, but with server-assigned fields such as &#x60;expiry_time&#x60; and &#x60;id&#x60; filled in.  Note that any value specified for the &#x60;expiry_time&#x60; or &#x60;id&#x60; fields will be ignored.  While Classroom may validate the &#x60;cloudPubSubTopic&#x60; and return errors on a best effort basis, it is the caller&#39;s responsibility to ensure that it exists and that Classroom has permission to publish to it.  This method may return the following error codes:  * &#x60;PERMISSION_DENIED&#x60; if:     * the authenticated user does not have permission to receive       notifications from the requested field; or     * the credential provided does not include the appropriate scope for       the requested feed.     * another access error is encountered. * &#x60;INVALID_ARGUMENT&#x60; if:     * no &#x60;cloudPubsubTopic&#x60; is specified, or the specified       &#x60;cloudPubsubTopic&#x60; is not valid; or     * no &#x60;feed&#x60; is specified, or the specified &#x60;feed&#x60; is not valid. * &#x60;NOT_FOUND&#x60; if:     * the specified &#x60;feed&#x60; cannot be located, or the requesting user does       not have permission to determine whether or not it exists; or     * the specified &#x60;cloudPubsubTopic&#x60; cannot be located, or Classroom has       not been granted permission to publish to it.

  ## Parameters

  - connection (GoogleApi.Classroom.V1.Connection): Connection to server
  - optional_params (KeywordList): [optional] Optional parameters
    - :$.xgafv (String.t): V1 error format.
    - :access_token (String.t): OAuth access token.
    - :alt (String.t): Data format for response.
    - :callback (String.t): JSONP
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :upload_protocol (String.t): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :uploadType (String.t): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :body (Registration): 

  ## Returns

  {:ok, %GoogleApi.Classroom.V1.Model.Registration{}} on success
  {:error, info} on failure
  """
  @spec classroom_registrations_create(Tesla.Env.client(), keyword()) ::
          {:ok, GoogleApi.Classroom.V1.Model.Registration.t()} | {:error, Tesla.Env.t()}
  def classroom_registrations_create(connection, optional_params \\ [], opts \\ []) do
    optional_params_config = %{
      :"$.xgafv" => :query,
      :access_token => :query,
      :alt => :query,
      :callback => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :upload_protocol => :query,
      :uploadType => :query,
      :body => :body
    }

    request =
      Request.new()
      |> Request.method(:post)
      |> Request.url("/v1/registrations")
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(opts ++ [struct: %GoogleApi.Classroom.V1.Model.Registration{}])
  end

  @doc """
  Deletes a &#x60;Registration&#x60;, causing Classroom to stop sending notifications for that &#x60;Registration&#x60;.

  ## Parameters

  - connection (GoogleApi.Classroom.V1.Connection): Connection to server
  - registration_id (String.t): The &#x60;registration_id&#x60; of the &#x60;Registration&#x60; to be deleted.
  - optional_params (KeywordList): [optional] Optional parameters
    - :$.xgafv (String.t): V1 error format.
    - :access_token (String.t): OAuth access token.
    - :alt (String.t): Data format for response.
    - :callback (String.t): JSONP
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :upload_protocol (String.t): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :uploadType (String.t): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).

  ## Returns

  {:ok, %GoogleApi.Classroom.V1.Model.Empty{}} on success
  {:error, info} on failure
  """
  @spec classroom_registrations_delete(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, GoogleApi.Classroom.V1.Model.Empty.t()} | {:error, Tesla.Env.t()}
  def classroom_registrations_delete(
        connection,
        registration_id,
        optional_params \\ [],
        opts \\ []
      ) do
    optional_params_config = %{
      :"$.xgafv" => :query,
      :access_token => :query,
      :alt => :query,
      :callback => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :upload_protocol => :query,
      :uploadType => :query
    }

    request =
      Request.new()
      |> Request.method(:delete)
      |> Request.url("/v1/registrations/{registrationId}", %{
        "registrationId" => URI.encode_www_form(registration_id)
      })
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(opts ++ [struct: %GoogleApi.Classroom.V1.Model.Empty{}])
  end
end
