# Copyright 2017 Google Inc.
#
# Licensed under the Apache License, Version 2.0 (the &quot;License&quot;);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an &quot;AS IS&quot; BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# NOTE: This class is auto generated by the swagger code generator program.
# https://github.com/swagger-api/swagger-codegen.git
# Do not edit the class manually.

defmodule GoogleApi.Classroom.V1.Api.UserProfiles do
  @moduledoc """
  API calls for all endpoints tagged `UserProfiles`.
  """

  alias GoogleApi.Classroom.V1.Connection
  alias GoogleApi.Gax.{Request, Response}

  @doc """
  Returns a user profile.  This method returns the following error codes:  * &#x60;PERMISSION_DENIED&#x60; if the requesting user is not permitted to access this user profile, if no profile exists with the requested ID, or for access errors.

  ## Parameters

  - connection (GoogleApi.Classroom.V1.Connection): Connection to server
  - user_id (String.t): Identifier of the profile to return. The identifier can be one of the following:  * the numeric identifier for the user * the email address of the user * the string literal &#x60;\&quot;me\&quot;&#x60;, indicating the requesting user
  - optional_params (KeywordList): [optional] Optional parameters
    - :$.xgafv (String.t): V1 error format.
    - :access_token (String.t): OAuth access token.
    - :alt (String.t): Data format for response.
    - :callback (String.t): JSONP
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :upload_protocol (String.t): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :uploadType (String.t): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).

  ## Returns

  {:ok, %GoogleApi.Classroom.V1.Model.UserProfile{}} on success
  {:error, info} on failure
  """
  @spec classroom_user_profiles_get(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, GoogleApi.Classroom.V1.Model.UserProfile.t()} | {:error, Tesla.Env.t()}
  def classroom_user_profiles_get(connection, user_id, optional_params \\ [], opts \\ []) do
    optional_params_config = %{
      :"$.xgafv" => :query,
      :access_token => :query,
      :alt => :query,
      :callback => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :upload_protocol => :query,
      :uploadType => :query
    }

    request =
      Request.new()
      |> Request.method(:get)
      |> Request.url("/v1/userProfiles/{userId}", %{
        "userId" => URI.encode_www_form(user_id)
      })
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(opts ++ [struct: %GoogleApi.Classroom.V1.Model.UserProfile{}])
  end

  @doc """
  Creates a guardian invitation, and sends an email to the guardian asking them to confirm that they are the student&#39;s guardian.  Once the guardian accepts the invitation, their &#x60;state&#x60; will change to &#x60;COMPLETED&#x60; and they will start receiving guardian notifications. A &#x60;Guardian&#x60; resource will also be created to represent the active guardian.  The request object must have the &#x60;student_id&#x60; and &#x60;invited_email_address&#x60; fields set. Failing to set these fields, or setting any other fields in the request, will result in an error.  This method returns the following error codes:  * &#x60;PERMISSION_DENIED&#x60; if the current user does not have permission to   manage guardians, if the guardian in question has already rejected   too many requests for that student, if guardians are not enabled for the   domain in question, or for other access errors. * &#x60;RESOURCE_EXHAUSTED&#x60; if the student or guardian has exceeded the guardian   link limit. * &#x60;INVALID_ARGUMENT&#x60; if the guardian email address is not valid (for   example, if it is too long), or if the format of the student ID provided   cannot be recognized (it is not an email address, nor a &#x60;user_id&#x60; from   this API). This error will also be returned if read-only fields are set,   or if the &#x60;state&#x60; field is set to to a value other than &#x60;PENDING&#x60;. * &#x60;NOT_FOUND&#x60; if the student ID provided is a valid student ID, but   Classroom has no record of that student. * &#x60;ALREADY_EXISTS&#x60; if there is already a pending guardian invitation for   the student and &#x60;invited_email_address&#x60; provided, or if the provided   &#x60;invited_email_address&#x60; matches the Google account of an existing   &#x60;Guardian&#x60; for this user.

  ## Parameters

  - connection (GoogleApi.Classroom.V1.Connection): Connection to server
  - student_id (String.t): ID of the student (in standard format)
  - optional_params (KeywordList): [optional] Optional parameters
    - :$.xgafv (String.t): V1 error format.
    - :access_token (String.t): OAuth access token.
    - :alt (String.t): Data format for response.
    - :callback (String.t): JSONP
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :upload_protocol (String.t): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :uploadType (String.t): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :body (GuardianInvitation): 

  ## Returns

  {:ok, %GoogleApi.Classroom.V1.Model.GuardianInvitation{}} on success
  {:error, info} on failure
  """
  @spec classroom_user_profiles_guardian_invitations_create(
          Tesla.Env.client(),
          String.t(),
          keyword()
        ) :: {:ok, GoogleApi.Classroom.V1.Model.GuardianInvitation.t()} | {:error, Tesla.Env.t()}
  def classroom_user_profiles_guardian_invitations_create(
        connection,
        student_id,
        optional_params \\ [],
        opts \\ []
      ) do
    optional_params_config = %{
      :"$.xgafv" => :query,
      :access_token => :query,
      :alt => :query,
      :callback => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :upload_protocol => :query,
      :uploadType => :query,
      :body => :body
    }

    request =
      Request.new()
      |> Request.method(:post)
      |> Request.url("/v1/userProfiles/{studentId}/guardianInvitations", %{
        "studentId" => URI.encode_www_form(student_id)
      })
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(opts ++ [struct: %GoogleApi.Classroom.V1.Model.GuardianInvitation{}])
  end

  @doc """
  Returns a specific guardian invitation.  This method returns the following error codes:  * &#x60;PERMISSION_DENIED&#x60; if the requesting user is not permitted to view   guardian invitations for the student identified by the &#x60;student_id&#x60;, if   guardians are not enabled for the domain in question, or for other   access errors. * &#x60;INVALID_ARGUMENT&#x60; if a &#x60;student_id&#x60; is specified, but its format cannot   be recognized (it is not an email address, nor a &#x60;student_id&#x60; from the   API, nor the literal string &#x60;me&#x60;). * &#x60;NOT_FOUND&#x60; if Classroom cannot find any record of the given student or   &#x60;invitation_id&#x60;. May also be returned if the student exists, but the   requesting user does not have access to see that student.

  ## Parameters

  - connection (GoogleApi.Classroom.V1.Connection): Connection to server
  - student_id (String.t): The ID of the student whose guardian invitation is being requested.
  - invitation_id (String.t): The &#x60;id&#x60; field of the &#x60;GuardianInvitation&#x60; being requested.
  - optional_params (KeywordList): [optional] Optional parameters
    - :$.xgafv (String.t): V1 error format.
    - :access_token (String.t): OAuth access token.
    - :alt (String.t): Data format for response.
    - :callback (String.t): JSONP
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :upload_protocol (String.t): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :uploadType (String.t): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).

  ## Returns

  {:ok, %GoogleApi.Classroom.V1.Model.GuardianInvitation{}} on success
  {:error, info} on failure
  """
  @spec classroom_user_profiles_guardian_invitations_get(
          Tesla.Env.client(),
          String.t(),
          String.t(),
          keyword()
        ) :: {:ok, GoogleApi.Classroom.V1.Model.GuardianInvitation.t()} | {:error, Tesla.Env.t()}
  def classroom_user_profiles_guardian_invitations_get(
        connection,
        student_id,
        invitation_id,
        optional_params \\ [],
        opts \\ []
      ) do
    optional_params_config = %{
      :"$.xgafv" => :query,
      :access_token => :query,
      :alt => :query,
      :callback => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :upload_protocol => :query,
      :uploadType => :query
    }

    request =
      Request.new()
      |> Request.method(:get)
      |> Request.url("/v1/userProfiles/{studentId}/guardianInvitations/{invitationId}", %{
        "studentId" => URI.encode_www_form(student_id),
        "invitationId" => URI.encode_www_form(invitation_id)
      })
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(opts ++ [struct: %GoogleApi.Classroom.V1.Model.GuardianInvitation{}])
  end

  @doc """
  Returns a list of guardian invitations that the requesting user is permitted to view, filtered by the parameters provided.  This method returns the following error codes:  * &#x60;PERMISSION_DENIED&#x60; if a &#x60;student_id&#x60; is specified, and the requesting   user is not permitted to view guardian invitations for that student, if   &#x60;\&quot;-\&quot;&#x60; is specified as the &#x60;student_id&#x60; and the user is not a domain   administrator, if guardians are not enabled for the domain in question,   or for other access errors. * &#x60;INVALID_ARGUMENT&#x60; if a &#x60;student_id&#x60; is specified, but its format cannot   be recognized (it is not an email address, nor a &#x60;student_id&#x60; from the   API, nor the literal string &#x60;me&#x60;). May also be returned if an invalid   &#x60;page_token&#x60; or &#x60;state&#x60; is provided. * &#x60;NOT_FOUND&#x60; if a &#x60;student_id&#x60; is specified, and its format can be   recognized, but Classroom has no record of that student.

  ## Parameters

  - connection (GoogleApi.Classroom.V1.Connection): Connection to server
  - student_id (String.t): The ID of the student whose guardian invitations are to be returned. The identifier can be one of the following:  * the numeric identifier for the user * the email address of the user * the string literal &#x60;\&quot;me\&quot;&#x60;, indicating the requesting user * the string literal &#x60;\&quot;-\&quot;&#x60;, indicating that results should be returned for   all students that the requesting user is permitted to view guardian   invitations.
  - optional_params (KeywordList): [optional] Optional parameters
    - :$.xgafv (String.t): V1 error format.
    - :access_token (String.t): OAuth access token.
    - :alt (String.t): Data format for response.
    - :callback (String.t): JSONP
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :upload_protocol (String.t): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :uploadType (String.t): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :pageToken (String.t): nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned.  The list request must be otherwise identical to the one that resulted in this token.
    - :invitedEmailAddress (String.t): If specified, only results with the specified &#x60;invited_email_address&#x60; will be returned.
    - :states ([String.t]): If specified, only results with the specified &#x60;state&#x60; values will be returned. Otherwise, results with a &#x60;state&#x60; of &#x60;PENDING&#x60; will be returned.
    - :pageSize (integer()): Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum.  The server may return fewer than the specified number of results.

  ## Returns

  {:ok, %GoogleApi.Classroom.V1.Model.ListGuardianInvitationsResponse{}} on success
  {:error, info} on failure
  """
  @spec classroom_user_profiles_guardian_invitations_list(
          Tesla.Env.client(),
          String.t(),
          keyword()
        ) ::
          {:ok, GoogleApi.Classroom.V1.Model.ListGuardianInvitationsResponse.t()}
          | {:error, Tesla.Env.t()}
  def classroom_user_profiles_guardian_invitations_list(
        connection,
        student_id,
        optional_params \\ [],
        opts \\ []
      ) do
    optional_params_config = %{
      :"$.xgafv" => :query,
      :access_token => :query,
      :alt => :query,
      :callback => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :upload_protocol => :query,
      :uploadType => :query,
      :pageToken => :query,
      :invitedEmailAddress => :query,
      :states => :query,
      :pageSize => :query
    }

    request =
      Request.new()
      |> Request.method(:get)
      |> Request.url("/v1/userProfiles/{studentId}/guardianInvitations", %{
        "studentId" => URI.encode_www_form(student_id)
      })
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(
      opts ++ [struct: %GoogleApi.Classroom.V1.Model.ListGuardianInvitationsResponse{}]
    )
  end

  @doc """
  Modifies a guardian invitation.  Currently, the only valid modification is to change the &#x60;state&#x60; from &#x60;PENDING&#x60; to &#x60;COMPLETE&#x60;. This has the effect of withdrawing the invitation.  This method returns the following error codes:  * &#x60;PERMISSION_DENIED&#x60; if the current user does not have permission to   manage guardians, if guardians are not enabled for the domain in question   or for other access errors. * &#x60;FAILED_PRECONDITION&#x60; if the guardian link is not in the &#x60;PENDING&#x60; state. * &#x60;INVALID_ARGUMENT&#x60; if the format of the student ID provided   cannot be recognized (it is not an email address, nor a &#x60;user_id&#x60; from   this API), or if the passed &#x60;GuardianInvitation&#x60; has a &#x60;state&#x60; other than   &#x60;COMPLETE&#x60;, or if it modifies fields other than &#x60;state&#x60;. * &#x60;NOT_FOUND&#x60; if the student ID provided is a valid student ID, but   Classroom has no record of that student, or if the &#x60;id&#x60; field does not   refer to a guardian invitation known to Classroom.

  ## Parameters

  - connection (GoogleApi.Classroom.V1.Connection): Connection to server
  - student_id (String.t): The ID of the student whose guardian invitation is to be modified.
  - invitation_id (String.t): The &#x60;id&#x60; field of the &#x60;GuardianInvitation&#x60; to be modified.
  - optional_params (KeywordList): [optional] Optional parameters
    - :$.xgafv (String.t): V1 error format.
    - :access_token (String.t): OAuth access token.
    - :alt (String.t): Data format for response.
    - :callback (String.t): JSONP
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :upload_protocol (String.t): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :uploadType (String.t): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :updateMask (String.t): Mask that identifies which fields on the course to update. This field is required to do an update. The update will fail if invalid fields are specified. The following fields are valid:  * &#x60;state&#x60;  When set in a query parameter, this field should be specified as  &#x60;updateMask&#x3D;&lt;field1&gt;,&lt;field2&gt;,...&#x60;
    - :body (GuardianInvitation): 

  ## Returns

  {:ok, %GoogleApi.Classroom.V1.Model.GuardianInvitation{}} on success
  {:error, info} on failure
  """
  @spec classroom_user_profiles_guardian_invitations_patch(
          Tesla.Env.client(),
          String.t(),
          String.t(),
          keyword()
        ) :: {:ok, GoogleApi.Classroom.V1.Model.GuardianInvitation.t()} | {:error, Tesla.Env.t()}
  def classroom_user_profiles_guardian_invitations_patch(
        connection,
        student_id,
        invitation_id,
        optional_params \\ [],
        opts \\ []
      ) do
    optional_params_config = %{
      :"$.xgafv" => :query,
      :access_token => :query,
      :alt => :query,
      :callback => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :upload_protocol => :query,
      :uploadType => :query,
      :updateMask => :query,
      :body => :body
    }

    request =
      Request.new()
      |> Request.method(:patch)
      |> Request.url("/v1/userProfiles/{studentId}/guardianInvitations/{invitationId}", %{
        "studentId" => URI.encode_www_form(student_id),
        "invitationId" => URI.encode_www_form(invitation_id)
      })
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(opts ++ [struct: %GoogleApi.Classroom.V1.Model.GuardianInvitation{}])
  end

  @doc """
  Deletes a guardian.  The guardian will no longer receive guardian notifications and the guardian will no longer be accessible via the API.  This method returns the following error codes:  * &#x60;PERMISSION_DENIED&#x60; if no user that matches the provided &#x60;student_id&#x60;   is visible to the requesting user, if the requesting user is not   permitted to manage guardians for the student identified by the   &#x60;student_id&#x60;, if guardians are not enabled for the domain in question,   or for other access errors. * &#x60;INVALID_ARGUMENT&#x60; if a &#x60;student_id&#x60; is specified, but its format cannot   be recognized (it is not an email address, nor a &#x60;student_id&#x60; from the   API). * &#x60;NOT_FOUND&#x60; if the requesting user is permitted to modify guardians for   the requested &#x60;student_id&#x60;, but no &#x60;Guardian&#x60; record exists for that   student with the provided &#x60;guardian_id&#x60;.

  ## Parameters

  - connection (GoogleApi.Classroom.V1.Connection): Connection to server
  - student_id (String.t): The student whose guardian is to be deleted. One of the following:  * the numeric identifier for the user * the email address of the user * the string literal &#x60;\&quot;me\&quot;&#x60;, indicating the requesting user
  - guardian_id (String.t): The &#x60;id&#x60; field from a &#x60;Guardian&#x60;.
  - optional_params (KeywordList): [optional] Optional parameters
    - :$.xgafv (String.t): V1 error format.
    - :access_token (String.t): OAuth access token.
    - :alt (String.t): Data format for response.
    - :callback (String.t): JSONP
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :upload_protocol (String.t): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :uploadType (String.t): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).

  ## Returns

  {:ok, %GoogleApi.Classroom.V1.Model.Empty{}} on success
  {:error, info} on failure
  """
  @spec classroom_user_profiles_guardians_delete(
          Tesla.Env.client(),
          String.t(),
          String.t(),
          keyword()
        ) :: {:ok, GoogleApi.Classroom.V1.Model.Empty.t()} | {:error, Tesla.Env.t()}
  def classroom_user_profiles_guardians_delete(
        connection,
        student_id,
        guardian_id,
        optional_params \\ [],
        opts \\ []
      ) do
    optional_params_config = %{
      :"$.xgafv" => :query,
      :access_token => :query,
      :alt => :query,
      :callback => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :upload_protocol => :query,
      :uploadType => :query
    }

    request =
      Request.new()
      |> Request.method(:delete)
      |> Request.url("/v1/userProfiles/{studentId}/guardians/{guardianId}", %{
        "studentId" => URI.encode_www_form(student_id),
        "guardianId" => URI.encode_www_form(guardian_id)
      })
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(opts ++ [struct: %GoogleApi.Classroom.V1.Model.Empty{}])
  end

  @doc """
  Returns a specific guardian.  This method returns the following error codes:  * &#x60;PERMISSION_DENIED&#x60; if no user that matches the provided &#x60;student_id&#x60;   is visible to the requesting user, if the requesting user is not   permitted to view guardian information for the student identified by the   &#x60;student_id&#x60;, if guardians are not enabled for the domain in question,   or for other access errors. * &#x60;INVALID_ARGUMENT&#x60; if a &#x60;student_id&#x60; is specified, but its format cannot   be recognized (it is not an email address, nor a &#x60;student_id&#x60; from the   API, nor the literal string &#x60;me&#x60;). * &#x60;NOT_FOUND&#x60; if the requesting user is permitted to view guardians for   the requested &#x60;student_id&#x60;, but no &#x60;Guardian&#x60; record exists for that   student that matches the provided &#x60;guardian_id&#x60;.

  ## Parameters

  - connection (GoogleApi.Classroom.V1.Connection): Connection to server
  - student_id (String.t): The student whose guardian is being requested. One of the following:  * the numeric identifier for the user * the email address of the user * the string literal &#x60;\&quot;me\&quot;&#x60;, indicating the requesting user
  - guardian_id (String.t): The &#x60;id&#x60; field from a &#x60;Guardian&#x60;.
  - optional_params (KeywordList): [optional] Optional parameters
    - :$.xgafv (String.t): V1 error format.
    - :access_token (String.t): OAuth access token.
    - :alt (String.t): Data format for response.
    - :callback (String.t): JSONP
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :upload_protocol (String.t): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :uploadType (String.t): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).

  ## Returns

  {:ok, %GoogleApi.Classroom.V1.Model.Guardian{}} on success
  {:error, info} on failure
  """
  @spec classroom_user_profiles_guardians_get(
          Tesla.Env.client(),
          String.t(),
          String.t(),
          keyword()
        ) :: {:ok, GoogleApi.Classroom.V1.Model.Guardian.t()} | {:error, Tesla.Env.t()}
  def classroom_user_profiles_guardians_get(
        connection,
        student_id,
        guardian_id,
        optional_params \\ [],
        opts \\ []
      ) do
    optional_params_config = %{
      :"$.xgafv" => :query,
      :access_token => :query,
      :alt => :query,
      :callback => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :upload_protocol => :query,
      :uploadType => :query
    }

    request =
      Request.new()
      |> Request.method(:get)
      |> Request.url("/v1/userProfiles/{studentId}/guardians/{guardianId}", %{
        "studentId" => URI.encode_www_form(student_id),
        "guardianId" => URI.encode_www_form(guardian_id)
      })
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(opts ++ [struct: %GoogleApi.Classroom.V1.Model.Guardian{}])
  end

  @doc """
  Returns a list of guardians that the requesting user is permitted to view, restricted to those that match the request.  To list guardians for any student that the requesting user may view guardians for, use the literal character &#x60;-&#x60; for the student ID.  This method returns the following error codes:  * &#x60;PERMISSION_DENIED&#x60; if a &#x60;student_id&#x60; is specified, and the requesting   user is not permitted to view guardian information for that student, if   &#x60;\&quot;-\&quot;&#x60; is specified as the &#x60;student_id&#x60; and the user is not a domain   administrator, if guardians are not enabled for the domain in question,   if the &#x60;invited_email_address&#x60; filter is set by a user who is not a   domain administrator, or for other access errors. * &#x60;INVALID_ARGUMENT&#x60; if a &#x60;student_id&#x60; is specified, but its format cannot   be recognized (it is not an email address, nor a &#x60;student_id&#x60; from the   API, nor the literal string &#x60;me&#x60;). May also be returned if an invalid   &#x60;page_token&#x60; is provided. * &#x60;NOT_FOUND&#x60; if a &#x60;student_id&#x60; is specified, and its format can be   recognized, but Classroom has no record of that student.

  ## Parameters

  - connection (GoogleApi.Classroom.V1.Connection): Connection to server
  - student_id (String.t): Filter results by the student who the guardian is linked to. The identifier can be one of the following:  * the numeric identifier for the user * the email address of the user * the string literal &#x60;\&quot;me\&quot;&#x60;, indicating the requesting user * the string literal &#x60;\&quot;-\&quot;&#x60;, indicating that results should be returned for   all students that the requesting user has access to view.
  - optional_params (KeywordList): [optional] Optional parameters
    - :$.xgafv (String.t): V1 error format.
    - :access_token (String.t): OAuth access token.
    - :alt (String.t): Data format for response.
    - :callback (String.t): JSONP
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :upload_protocol (String.t): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :uploadType (String.t): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :pageToken (String.t): nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned.  The list request must be otherwise identical to the one that resulted in this token.
    - :invitedEmailAddress (String.t): Filter results by the email address that the original invitation was sent to, resulting in this guardian link. This filter can only be used by domain administrators.
    - :pageSize (integer()): Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum.  The server may return fewer than the specified number of results.

  ## Returns

  {:ok, %GoogleApi.Classroom.V1.Model.ListGuardiansResponse{}} on success
  {:error, info} on failure
  """
  @spec classroom_user_profiles_guardians_list(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, GoogleApi.Classroom.V1.Model.ListGuardiansResponse.t()} | {:error, Tesla.Env.t()}
  def classroom_user_profiles_guardians_list(
        connection,
        student_id,
        optional_params \\ [],
        opts \\ []
      ) do
    optional_params_config = %{
      :"$.xgafv" => :query,
      :access_token => :query,
      :alt => :query,
      :callback => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :upload_protocol => :query,
      :uploadType => :query,
      :pageToken => :query,
      :invitedEmailAddress => :query,
      :pageSize => :query
    }

    request =
      Request.new()
      |> Request.method(:get)
      |> Request.url("/v1/userProfiles/{studentId}/guardians", %{
        "studentId" => URI.encode_www_form(student_id)
      })
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(opts ++ [struct: %GoogleApi.Classroom.V1.Model.ListGuardiansResponse{}])
  end
end
