# Copyright 2017 Google Inc.
#
# Licensed under the Apache License, Version 2.0 (the &quot;License&quot;);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an &quot;AS IS&quot; BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


# NOTE: This class is auto generated by the swagger code generator program.
# https://github.com/swagger-api/swagger-codegen.git
# Do not edit the class manually.

defmodule GoogleApi.Partners.V2.Api.Offers do
  @moduledoc """
  API calls for all endpoints tagged `Offers`.
  """

  alias GoogleApi.Partners.V2.Connection
  import GoogleApi.Partners.V2.RequestBuilder


  @doc """
  Lists the Historical Offers for the current user (or user&#39;s entire company)

  ## Parameters

  - connection (GoogleApi.Partners.V2.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :__/xgafv (String): V1 error format.
    - :callback (String): JSONP
    - :alt (String): Data format for response.
    - :access_token (String): OAuth access token.
    - :key (String): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :quota_user (String): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :pp (Boolean): Pretty-print response.
    - :bearer_token (String): OAuth bearer token.
    - :oauth_token (String): OAuth 2.0 token for the current user.
    - :upload_protocol (String): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :pretty_print (Boolean): Returns response with indentations and line breaks.
    - :upload_type (String): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :fields (String): Selector specifying which fields to include in a partial response.
    - :request_metadata/user_overrides/ip_address (String): IP address to use instead of the user&#39;s geo-located IP address.
    - :entire_company (Boolean): if true, show history for the entire company.  Requires user to be admin.
    - :request_metadata/experiment_ids (List[String]): Experiment IDs the current request belongs to.
    - :order_by (String): Comma-separated list of fields to order by, e.g.: \&quot;foo,bar,baz\&quot;. Use \&quot;foo desc\&quot; to sort descending. List of valid field names is: name, offer_code, expiration_time, status,     last_modified_time, sender_name, creation_time, country_code,     offer_type.
    - :request_metadata/traffic_source/traffic_sub_id (String): Second level identifier to indicate where the traffic comes from. An identifier has multiple letters created by a team which redirected the traffic to us.
    - :request_metadata/user_overrides/user_id (String): Logged-in user ID to impersonate instead of the user&#39;s ID.
    - :request_metadata/partners_session_id (String): Google Partners session ID.
    - :page_token (String): Token to retrieve a specific page.
    - :page_size (Integer): Maximum number of rows to return per page.
    - :request_metadata/traffic_source/traffic_source_id (String): Identifier to indicate where the traffic comes from. An identifier has multiple letters created by a team which redirected the traffic to us.
    - :request_metadata/locale (String): Locale to use for the current request.

  ## Returns

  {:ok, %GoogleApi.Partners.V2.Model.ListOffersHistoryResponse{}} on success
  {:error, info} on failure
  """
  @spec partners_offers_history_list(Tesla.Env.client, keyword()) :: {:ok, GoogleApi.Partners.V2.Model.ListOffersHistoryResponse.t} | {:error, Tesla.Env.t}
  def partners_offers_history_list(connection, opts \\ []) do
    optional_params = %{
      :"$.xgafv" => :query,
      :"callback" => :query,
      :"alt" => :query,
      :"access_token" => :query,
      :"key" => :query,
      :"quotaUser" => :query,
      :"pp" => :query,
      :"bearer_token" => :query,
      :"oauth_token" => :query,
      :"upload_protocol" => :query,
      :"prettyPrint" => :query,
      :"uploadType" => :query,
      :"fields" => :query,
      :"requestMetadata.userOverrides.ipAddress" => :query,
      :"entireCompany" => :query,
      :"requestMetadata.experimentIds" => :query,
      :"orderBy" => :query,
      :"requestMetadata.trafficSource.trafficSubId" => :query,
      :"requestMetadata.userOverrides.userId" => :query,
      :"requestMetadata.partnersSessionId" => :query,
      :"pageToken" => :query,
      :"pageSize" => :query,
      :"requestMetadata.trafficSource.trafficSourceId" => :query,
      :"requestMetadata.locale" => :query
    }
    %{}
    |> method(:get)
    |> url("/v2/offers/history")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%GoogleApi.Partners.V2.Model.ListOffersHistoryResponse{})
  end

  @doc """
  Lists the Offers available for the current user

  ## Parameters

  - connection (GoogleApi.Partners.V2.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :__/xgafv (String): V1 error format.
    - :callback (String): JSONP
    - :alt (String): Data format for response.
    - :access_token (String): OAuth access token.
    - :key (String): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :quota_user (String): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :pp (Boolean): Pretty-print response.
    - :bearer_token (String): OAuth bearer token.
    - :oauth_token (String): OAuth 2.0 token for the current user.
    - :upload_protocol (String): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :pretty_print (Boolean): Returns response with indentations and line breaks.
    - :upload_type (String): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :fields (String): Selector specifying which fields to include in a partial response.
    - :request_metadata/traffic_source/traffic_source_id (String): Identifier to indicate where the traffic comes from. An identifier has multiple letters created by a team which redirected the traffic to us.
    - :request_metadata/locale (String): Locale to use for the current request.
    - :request_metadata/user_overrides/ip_address (String): IP address to use instead of the user&#39;s geo-located IP address.
    - :request_metadata/experiment_ids (List[String]): Experiment IDs the current request belongs to.
    - :request_metadata/traffic_source/traffic_sub_id (String): Second level identifier to indicate where the traffic comes from. An identifier has multiple letters created by a team which redirected the traffic to us.
    - :request_metadata/partners_session_id (String): Google Partners session ID.
    - :request_metadata/user_overrides/user_id (String): Logged-in user ID to impersonate instead of the user&#39;s ID.

  ## Returns

  {:ok, %GoogleApi.Partners.V2.Model.ListOffersResponse{}} on success
  {:error, info} on failure
  """
  @spec partners_offers_list(Tesla.Env.client, keyword()) :: {:ok, GoogleApi.Partners.V2.Model.ListOffersResponse.t} | {:error, Tesla.Env.t}
  def partners_offers_list(connection, opts \\ []) do
    optional_params = %{
      :"$.xgafv" => :query,
      :"callback" => :query,
      :"alt" => :query,
      :"access_token" => :query,
      :"key" => :query,
      :"quotaUser" => :query,
      :"pp" => :query,
      :"bearer_token" => :query,
      :"oauth_token" => :query,
      :"upload_protocol" => :query,
      :"prettyPrint" => :query,
      :"uploadType" => :query,
      :"fields" => :query,
      :"requestMetadata.trafficSource.trafficSourceId" => :query,
      :"requestMetadata.locale" => :query,
      :"requestMetadata.userOverrides.ipAddress" => :query,
      :"requestMetadata.experimentIds" => :query,
      :"requestMetadata.trafficSource.trafficSubId" => :query,
      :"requestMetadata.partnersSessionId" => :query,
      :"requestMetadata.userOverrides.userId" => :query
    }
    %{}
    |> method(:get)
    |> url("/v2/offers")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%GoogleApi.Partners.V2.Model.ListOffersResponse{})
  end
end
