# Copyright 2017 Google Inc.
#
# Licensed under the Apache License, Version 2.0 (the &quot;License&quot;);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an &quot;AS IS&quot; BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


# NOTE: This class is auto generated by the swagger code generator program.
# https://github.com/swagger-api/swagger-codegen.git
# Do not edit the class manually.

defmodule GoogleApi.ServiceManagement.V1.Api.Operations do
  @moduledoc """
  API calls for all endpoints tagged `Operations`.
  """

  alias GoogleApi.ServiceManagement.V1.Connection
  import GoogleApi.ServiceManagement.V1.RequestBuilder


  @doc """
  Gets the latest state of a long-running operation.  Clients can use this method to poll the operation result at intervals as recommended by the API service.

  ## Parameters

  - connection (GoogleApi.ServiceManagement.V1.Connection): Connection to server
  - name (String): The name of the operation resource.
  - opts (KeywordList): [optional] Optional parameters
    - :upload_protocol (String): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :pretty_print (Boolean): Returns response with indentations and line breaks.
    - :fields (String): Selector specifying which fields to include in a partial response.
    - :upload_type (String): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :callback (String): JSONP
    - :__/xgafv (String): V1 error format.
    - :alt (String): Data format for response.
    - :access_token (String): OAuth access token.
    - :key (String): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :quota_user (String): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :pp (Boolean): Pretty-print response.
    - :bearer_token (String): OAuth bearer token.
    - :oauth_token (String): OAuth 2.0 token for the current user.

  ## Returns

  {:ok, %GoogleApi.ServiceManagement.V1.Model.Operation{}} on success
  {:error, info} on failure
  """
  @spec servicemanagement_operations_get(Tesla.Env.client, String.t, keyword()) :: {:ok, GoogleApi.ServiceManagement.V1.Model.Operation.t} | {:error, Tesla.Env.t}
  def servicemanagement_operations_get(connection, name, opts \\ []) do
    optional_params = %{
      :"upload_protocol" => :query,
      :"prettyPrint" => :query,
      :"fields" => :query,
      :"uploadType" => :query,
      :"callback" => :query,
      :"$.xgafv" => :query,
      :"alt" => :query,
      :"access_token" => :query,
      :"key" => :query,
      :"quotaUser" => :query,
      :"pp" => :query,
      :"bearer_token" => :query,
      :"oauth_token" => :query
    }
    %{}
    |> method(:get)
    |> url("/v1/#{name}")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%GoogleApi.ServiceManagement.V1.Model.Operation{})
  end

  @doc """
  Lists service operations that match the specified filter in the request.

  ## Parameters

  - connection (GoogleApi.ServiceManagement.V1.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :upload_protocol (String): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :pretty_print (Boolean): Returns response with indentations and line breaks.
    - :fields (String): Selector specifying which fields to include in a partial response.
    - :upload_type (String): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :callback (String): JSONP
    - :__/xgafv (String): V1 error format.
    - :alt (String): Data format for response.
    - :access_token (String): OAuth access token.
    - :key (String): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :quota_user (String): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :pp (Boolean): Pretty-print response.
    - :bearer_token (String): OAuth bearer token.
    - :oauth_token (String): OAuth 2.0 token for the current user.
    - :page_token (String): The standard list page token.
    - :name (String): Not used.
    - :page_size (Integer): The maximum number of operations to return. If unspecified, defaults to 50. The maximum value is 100.
    - :filter (String): A string for filtering Operations.   The following filter fields are supported&amp;#58;    * serviceName&amp;#58; Required. Only &#x60;&#x3D;&#x60; operator is allowed.   * startTime&amp;#58; The time this job was started, in ISO 8601 format.     Allowed operators are &#x60;&gt;&#x3D;&#x60;,  &#x60;&gt;&#x60;, &#x60;&lt;&#x3D;&#x60;, and &#x60;&lt;&#x60;.   * status&amp;#58; Can be &#x60;done&#x60;, &#x60;in_progress&#x60;, or &#x60;failed&#x60;. Allowed     operators are &#x60;&#x3D;&#x60;, and &#x60;!&#x3D;&#x60;.    Filter expression supports conjunction (AND) and disjunction (OR)   logical operators. However, the serviceName restriction must be at the   top-level and can only be combined with other restrictions via the AND   logical operator.    Examples&amp;#58;    * &#x60;serviceName&#x3D;{some-service}.googleapis.com&#x60;   * &#x60;serviceName&#x3D;{some-service}.googleapis.com AND startTime&gt;&#x3D;\&quot;2017-02-01\&quot;&#x60;   * &#x60;serviceName&#x3D;{some-service}.googleapis.com AND status&#x3D;done&#x60;   * &#x60;serviceName&#x3D;{some-service}.googleapis.com AND (status&#x3D;done OR startTime&gt;&#x3D;\&quot;2017-02-01\&quot;)&#x60;

  ## Returns

  {:ok, %GoogleApi.ServiceManagement.V1.Model.ListOperationsResponse{}} on success
  {:error, info} on failure
  """
  @spec servicemanagement_operations_list(Tesla.Env.client, keyword()) :: {:ok, GoogleApi.ServiceManagement.V1.Model.ListOperationsResponse.t} | {:error, Tesla.Env.t}
  def servicemanagement_operations_list(connection, opts \\ []) do
    optional_params = %{
      :"upload_protocol" => :query,
      :"prettyPrint" => :query,
      :"fields" => :query,
      :"uploadType" => :query,
      :"callback" => :query,
      :"$.xgafv" => :query,
      :"alt" => :query,
      :"access_token" => :query,
      :"key" => :query,
      :"quotaUser" => :query,
      :"pp" => :query,
      :"bearer_token" => :query,
      :"oauth_token" => :query,
      :"pageToken" => :query,
      :"name" => :query,
      :"pageSize" => :query,
      :"filter" => :query
    }
    %{}
    |> method(:get)
    |> url("/v1/operations")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%GoogleApi.ServiceManagement.V1.Model.ListOperationsResponse{})
  end
end
