# Copyright 2017 Google Inc.
#
# Licensed under the Apache License, Version 2.0 (the &quot;License&quot;);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an &quot;AS IS&quot; BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


# NOTE: This class is auto generated by the swagger code generator program.
# https://github.com/swagger-api/swagger-codegen.git
# Do not edit the class manually.

defmodule GoogleApi.ServiceControl.V1.Api.Services do
  @moduledoc """
  API calls for all endpoints tagged `Services`.
  """

  alias GoogleApi.ServiceControl.V1.Connection
  import GoogleApi.ServiceControl.V1.RequestBuilder


  @doc """
  Attempts to allocate quota for the specified consumer. It should be called before the operation is executed.  This method requires the &#x60;servicemanagement.services.quota&#x60; permission on the specified service. For more information, see [Google Cloud IAM](https://cloud.google.com/iam).  **NOTE:** the client code **must** fail-open if the server returns one of the following quota errors: -   &#x60;PROJECT_STATUS_UNAVAILABLE&#x60; -   &#x60;SERVICE_STATUS_UNAVAILABLE&#x60; -   &#x60;BILLING_STATUS_UNAVAILABLE&#x60; -   &#x60;QUOTA_SYSTEM_UNAVAILABLE&#x60;  The server may inject above errors to prohibit any hard dependency on the quota system.

  ## Parameters

  - connection (GoogleApi.ServiceControl.V1.Connection): Connection to server
  - service_name (String): Name of the service as specified in the service configuration. For example, &#x60;\&quot;pubsub.googleapis.com\&quot;&#x60;.  See google.api.Service for the definition of a service name.
  - opts (KeywordList): [optional] Optional parameters
    - :fields (String): Selector specifying which fields to include in a partial response.
    - :upload_type (String): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :callback (String): JSONP
    - :__/xgafv (String): V1 error format.
    - :alt (String): Data format for response.
    - :access_token (String): OAuth access token.
    - :key (String): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :quota_user (String): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :pp (Boolean): Pretty-print response.
    - :oauth_token (String): OAuth 2.0 token for the current user.
    - :bearer_token (String): OAuth bearer token.
    - :upload_protocol (String): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :pretty_print (Boolean): Returns response with indentations and line breaks.
    - :body (AllocateQuotaRequest): 

  ## Returns

  {:ok, %GoogleApi.ServiceControl.V1.Model.AllocateQuotaResponse{}} on success
  {:error, info} on failure
  """
  @spec servicecontrol_services_allocate_quota(Tesla.Env.client, String.t, keyword()) :: {:ok, GoogleApi.ServiceControl.V1.Model.AllocateQuotaResponse.t} | {:error, Tesla.Env.t}
  def servicecontrol_services_allocate_quota(connection, service_name, opts \\ []) do
    optional_params = %{
      :"fields" => :query,
      :"uploadType" => :query,
      :"callback" => :query,
      :"$.xgafv" => :query,
      :"alt" => :query,
      :"access_token" => :query,
      :"key" => :query,
      :"quotaUser" => :query,
      :"pp" => :query,
      :"oauth_token" => :query,
      :"bearer_token" => :query,
      :"upload_protocol" => :query,
      :"prettyPrint" => :query,
      :"body" => :body
    }
    %{}
    |> method(:post)
    |> url("/v1/services/{serviceName}:allocateQuota", %{
         "serviceName" => URI.encode_www_form(service_name)
       })
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%GoogleApi.ServiceControl.V1.Model.AllocateQuotaResponse{})
  end

  @doc """
  Checks an operation with Google Service Control to decide whether the given operation should proceed. It should be called before the operation is executed.  If feasible, the client should cache the check results and reuse them for 60 seconds. In case of server errors, the client can rely on the cached results for longer time.  NOTE: the CheckRequest has the size limit of 64KB.  This method requires the &#x60;servicemanagement.services.check&#x60; permission on the specified service. For more information, see [Google Cloud IAM](https://cloud.google.com/iam).

  ## Parameters

  - connection (GoogleApi.ServiceControl.V1.Connection): Connection to server
  - service_name (String): The service name as specified in its service configuration. For example, &#x60;\&quot;pubsub.googleapis.com\&quot;&#x60;.  See [google.api.Service](https://cloud.google.com/service-management/reference/rpc/google.api#google.api.Service) for the definition of a service name.
  - opts (KeywordList): [optional] Optional parameters
    - :fields (String): Selector specifying which fields to include in a partial response.
    - :upload_type (String): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :callback (String): JSONP
    - :__/xgafv (String): V1 error format.
    - :alt (String): Data format for response.
    - :access_token (String): OAuth access token.
    - :key (String): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :quota_user (String): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :pp (Boolean): Pretty-print response.
    - :oauth_token (String): OAuth 2.0 token for the current user.
    - :bearer_token (String): OAuth bearer token.
    - :upload_protocol (String): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :pretty_print (Boolean): Returns response with indentations and line breaks.
    - :body (CheckRequest): 

  ## Returns

  {:ok, %GoogleApi.ServiceControl.V1.Model.CheckResponse{}} on success
  {:error, info} on failure
  """
  @spec servicecontrol_services_check(Tesla.Env.client, String.t, keyword()) :: {:ok, GoogleApi.ServiceControl.V1.Model.CheckResponse.t} | {:error, Tesla.Env.t}
  def servicecontrol_services_check(connection, service_name, opts \\ []) do
    optional_params = %{
      :"fields" => :query,
      :"uploadType" => :query,
      :"callback" => :query,
      :"$.xgafv" => :query,
      :"alt" => :query,
      :"access_token" => :query,
      :"key" => :query,
      :"quotaUser" => :query,
      :"pp" => :query,
      :"oauth_token" => :query,
      :"bearer_token" => :query,
      :"upload_protocol" => :query,
      :"prettyPrint" => :query,
      :"body" => :body
    }
    %{}
    |> method(:post)
    |> url("/v1/services/{serviceName}:check", %{
         "serviceName" => URI.encode_www_form(service_name)
       })
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%GoogleApi.ServiceControl.V1.Model.CheckResponse{})
  end

  @doc """
  Signals the quota controller that service ends the ongoing usage reconciliation.  This method requires the &#x60;servicemanagement.services.quota&#x60; permission on the specified service. For more information, see [Google Cloud IAM](https://cloud.google.com/iam).

  ## Parameters

  - connection (GoogleApi.ServiceControl.V1.Connection): Connection to server
  - service_name (String): Name of the service as specified in the service configuration. For example, &#x60;\&quot;pubsub.googleapis.com\&quot;&#x60;.  See google.api.Service for the definition of a service name.
  - opts (KeywordList): [optional] Optional parameters
    - :fields (String): Selector specifying which fields to include in a partial response.
    - :upload_type (String): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :callback (String): JSONP
    - :__/xgafv (String): V1 error format.
    - :alt (String): Data format for response.
    - :access_token (String): OAuth access token.
    - :key (String): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :quota_user (String): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :pp (Boolean): Pretty-print response.
    - :oauth_token (String): OAuth 2.0 token for the current user.
    - :bearer_token (String): OAuth bearer token.
    - :upload_protocol (String): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :pretty_print (Boolean): Returns response with indentations and line breaks.
    - :body (EndReconciliationRequest): 

  ## Returns

  {:ok, %GoogleApi.ServiceControl.V1.Model.EndReconciliationResponse{}} on success
  {:error, info} on failure
  """
  @spec servicecontrol_services_end_reconciliation(Tesla.Env.client, String.t, keyword()) :: {:ok, GoogleApi.ServiceControl.V1.Model.EndReconciliationResponse.t} | {:error, Tesla.Env.t}
  def servicecontrol_services_end_reconciliation(connection, service_name, opts \\ []) do
    optional_params = %{
      :"fields" => :query,
      :"uploadType" => :query,
      :"callback" => :query,
      :"$.xgafv" => :query,
      :"alt" => :query,
      :"access_token" => :query,
      :"key" => :query,
      :"quotaUser" => :query,
      :"pp" => :query,
      :"oauth_token" => :query,
      :"bearer_token" => :query,
      :"upload_protocol" => :query,
      :"prettyPrint" => :query,
      :"body" => :body
    }
    %{}
    |> method(:post)
    |> url("/v1/services/{serviceName}:endReconciliation", %{
         "serviceName" => URI.encode_www_form(service_name)
       })
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%GoogleApi.ServiceControl.V1.Model.EndReconciliationResponse{})
  end

  @doc """
  Releases previously allocated quota done through AllocateQuota method.  This method requires the &#x60;servicemanagement.services.quota&#x60; permission on the specified service. For more information, see [Google Cloud IAM](https://cloud.google.com/iam).  **NOTE:** the client code **must** fail-open if the server returns one of the following quota errors: -   &#x60;PROJECT_STATUS_UNAVAILABLE&#x60; -   &#x60;SERVICE_STATUS_UNAVAILABLE&#x60; -   &#x60;BILLING_STATUS_UNAVAILABLE&#x60; -   &#x60;QUOTA_SYSTEM_UNAVAILABLE&#x60;  The server may inject above errors to prohibit any hard dependency on the quota system.

  ## Parameters

  - connection (GoogleApi.ServiceControl.V1.Connection): Connection to server
  - service_name (String): Name of the service as specified in the service configuration. For example, &#x60;\&quot;pubsub.googleapis.com\&quot;&#x60;.  See google.api.Service for the definition of a service name.
  - opts (KeywordList): [optional] Optional parameters
    - :fields (String): Selector specifying which fields to include in a partial response.
    - :upload_type (String): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :callback (String): JSONP
    - :__/xgafv (String): V1 error format.
    - :alt (String): Data format for response.
    - :access_token (String): OAuth access token.
    - :key (String): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :quota_user (String): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :pp (Boolean): Pretty-print response.
    - :oauth_token (String): OAuth 2.0 token for the current user.
    - :bearer_token (String): OAuth bearer token.
    - :upload_protocol (String): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :pretty_print (Boolean): Returns response with indentations and line breaks.
    - :body (ReleaseQuotaRequest): 

  ## Returns

  {:ok, %GoogleApi.ServiceControl.V1.Model.ReleaseQuotaResponse{}} on success
  {:error, info} on failure
  """
  @spec servicecontrol_services_release_quota(Tesla.Env.client, String.t, keyword()) :: {:ok, GoogleApi.ServiceControl.V1.Model.ReleaseQuotaResponse.t} | {:error, Tesla.Env.t}
  def servicecontrol_services_release_quota(connection, service_name, opts \\ []) do
    optional_params = %{
      :"fields" => :query,
      :"uploadType" => :query,
      :"callback" => :query,
      :"$.xgafv" => :query,
      :"alt" => :query,
      :"access_token" => :query,
      :"key" => :query,
      :"quotaUser" => :query,
      :"pp" => :query,
      :"oauth_token" => :query,
      :"bearer_token" => :query,
      :"upload_protocol" => :query,
      :"prettyPrint" => :query,
      :"body" => :body
    }
    %{}
    |> method(:post)
    |> url("/v1/services/{serviceName}:releaseQuota", %{
         "serviceName" => URI.encode_www_form(service_name)
       })
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%GoogleApi.ServiceControl.V1.Model.ReleaseQuotaResponse{})
  end

  @doc """
  Reports operation results to Google Service Control, such as logs and metrics. It should be called after an operation is completed.  If feasible, the client should aggregate reporting data for up to 5 seconds to reduce API traffic. Limiting aggregation to 5 seconds is to reduce data loss during client crashes. Clients should carefully choose the aggregation time window to avoid data loss risk more than 0.01% for business and compliance reasons.  NOTE: the ReportRequest has the size limit of 1MB.  This method requires the &#x60;servicemanagement.services.report&#x60; permission on the specified service. For more information, see [Google Cloud IAM](https://cloud.google.com/iam).

  ## Parameters

  - connection (GoogleApi.ServiceControl.V1.Connection): Connection to server
  - service_name (String): The service name as specified in its service configuration. For example, &#x60;\&quot;pubsub.googleapis.com\&quot;&#x60;.  See [google.api.Service](https://cloud.google.com/service-management/reference/rpc/google.api#google.api.Service) for the definition of a service name.
  - opts (KeywordList): [optional] Optional parameters
    - :fields (String): Selector specifying which fields to include in a partial response.
    - :upload_type (String): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :callback (String): JSONP
    - :__/xgafv (String): V1 error format.
    - :alt (String): Data format for response.
    - :access_token (String): OAuth access token.
    - :key (String): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :quota_user (String): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :pp (Boolean): Pretty-print response.
    - :oauth_token (String): OAuth 2.0 token for the current user.
    - :bearer_token (String): OAuth bearer token.
    - :upload_protocol (String): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :pretty_print (Boolean): Returns response with indentations and line breaks.
    - :body (ReportRequest): 

  ## Returns

  {:ok, %GoogleApi.ServiceControl.V1.Model.ReportResponse{}} on success
  {:error, info} on failure
  """
  @spec servicecontrol_services_report(Tesla.Env.client, String.t, keyword()) :: {:ok, GoogleApi.ServiceControl.V1.Model.ReportResponse.t} | {:error, Tesla.Env.t}
  def servicecontrol_services_report(connection, service_name, opts \\ []) do
    optional_params = %{
      :"fields" => :query,
      :"uploadType" => :query,
      :"callback" => :query,
      :"$.xgafv" => :query,
      :"alt" => :query,
      :"access_token" => :query,
      :"key" => :query,
      :"quotaUser" => :query,
      :"pp" => :query,
      :"oauth_token" => :query,
      :"bearer_token" => :query,
      :"upload_protocol" => :query,
      :"prettyPrint" => :query,
      :"body" => :body
    }
    %{}
    |> method(:post)
    |> url("/v1/services/{serviceName}:report", %{
         "serviceName" => URI.encode_www_form(service_name)
       })
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%GoogleApi.ServiceControl.V1.Model.ReportResponse{})
  end

  @doc """
  Unlike rate quota, allocation quota does not get refilled periodically. So, it is possible that the quota usage as seen by the service differs from what the One Platform considers the usage is. This is expected to happen only rarely, but over time this can accumulate. Services can invoke StartReconciliation and EndReconciliation to correct this usage drift, as described below: 1. Service sends StartReconciliation with a timestamp in future for each    metric that needs to be reconciled. The timestamp being in future allows    to account for in-flight AllocateQuota and ReleaseQuota requests for the    same metric. 2. One Platform records this timestamp and starts tracking subsequent    AllocateQuota and ReleaseQuota requests until EndReconciliation is    called. 3. At or after the time specified in the StartReconciliation, service    sends EndReconciliation with the usage that needs to be reconciled to. 4. One Platform adjusts its own record of usage for that metric to the    value specified in EndReconciliation by taking in to account any    allocation or release between StartReconciliation and EndReconciliation.  Signals the quota controller that the service wants to perform a usage reconciliation as specified in the request.  This method requires the &#x60;servicemanagement.services.quota&#x60; permission on the specified service. For more information, see [Google Cloud IAM](https://cloud.google.com/iam).

  ## Parameters

  - connection (GoogleApi.ServiceControl.V1.Connection): Connection to server
  - service_name (String): Name of the service as specified in the service configuration. For example, &#x60;\&quot;pubsub.googleapis.com\&quot;&#x60;.  See google.api.Service for the definition of a service name.
  - opts (KeywordList): [optional] Optional parameters
    - :fields (String): Selector specifying which fields to include in a partial response.
    - :upload_type (String): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :callback (String): JSONP
    - :__/xgafv (String): V1 error format.
    - :alt (String): Data format for response.
    - :access_token (String): OAuth access token.
    - :key (String): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :quota_user (String): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :pp (Boolean): Pretty-print response.
    - :oauth_token (String): OAuth 2.0 token for the current user.
    - :bearer_token (String): OAuth bearer token.
    - :upload_protocol (String): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :pretty_print (Boolean): Returns response with indentations and line breaks.
    - :body (StartReconciliationRequest): 

  ## Returns

  {:ok, %GoogleApi.ServiceControl.V1.Model.StartReconciliationResponse{}} on success
  {:error, info} on failure
  """
  @spec servicecontrol_services_start_reconciliation(Tesla.Env.client, String.t, keyword()) :: {:ok, GoogleApi.ServiceControl.V1.Model.StartReconciliationResponse.t} | {:error, Tesla.Env.t}
  def servicecontrol_services_start_reconciliation(connection, service_name, opts \\ []) do
    optional_params = %{
      :"fields" => :query,
      :"uploadType" => :query,
      :"callback" => :query,
      :"$.xgafv" => :query,
      :"alt" => :query,
      :"access_token" => :query,
      :"key" => :query,
      :"quotaUser" => :query,
      :"pp" => :query,
      :"oauth_token" => :query,
      :"bearer_token" => :query,
      :"upload_protocol" => :query,
      :"prettyPrint" => :query,
      :"body" => :body
    }
    %{}
    |> method(:post)
    |> url("/v1/services/{serviceName}:startReconciliation", %{
         "serviceName" => URI.encode_www_form(service_name)
       })
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%GoogleApi.ServiceControl.V1.Model.StartReconciliationResponse{})
  end
end
