# Copyright 2017 Google Inc.
#
# Licensed under the Apache License, Version 2.0 (the &quot;License&quot;);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an &quot;AS IS&quot; BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


# NOTE: This class is auto generated by the swagger code generator program.
# https://github.com/swagger-api/swagger-codegen.git
# Do not edit the class manually.

defmodule GoogleApi.CloudResourceManager.V1.Api.Liens do
  @moduledoc """
  API calls for all endpoints tagged `Liens`.
  """

  alias GoogleApi.CloudResourceManager.V1.Connection
  import GoogleApi.CloudResourceManager.V1.RequestBuilder


  @doc """
  Create a Lien which applies to the resource denoted by the &#x60;parent&#x60; field.  Callers of this method will require permission on the &#x60;parent&#x60; resource. For example, applying to &#x60;projects/1234&#x60; requires permission &#x60;resourcemanager.projects.updateLiens&#x60;.  NOTE: Some resources may limit the number of Liens which may be applied.

  ## Parameters

  - connection (GoogleApi.CloudResourceManager.V1.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :upload_protocol (String): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :pretty_print (Boolean): Returns response with indentations and line breaks.
    - :fields (String): Selector specifying which fields to include in a partial response.
    - :upload_type (String): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :__/xgafv (String): V1 error format.
    - :callback (String): JSONP
    - :alt (String): Data format for response.
    - :key (String): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :access_token (String): OAuth access token.
    - :quota_user (String): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :pp (Boolean): Pretty-print response.
    - :bearer_token (String): OAuth bearer token.
    - :oauth_token (String): OAuth 2.0 token for the current user.
    - :body (Lien): 

  ## Returns

  {:ok, %GoogleApi.CloudResourceManager.V1.Model.Lien{}} on success
  {:error, info} on failure
  """
  @spec cloudresourcemanager_liens_create(Tesla.Env.client, keyword()) :: {:ok, GoogleApi.CloudResourceManager.V1.Model.Lien.t} | {:error, Tesla.Env.t}
  def cloudresourcemanager_liens_create(connection, opts \\ []) do
    optional_params = %{
      :"upload_protocol" => :query,
      :"prettyPrint" => :query,
      :"fields" => :query,
      :"uploadType" => :query,
      :"$.xgafv" => :query,
      :"callback" => :query,
      :"alt" => :query,
      :"key" => :query,
      :"access_token" => :query,
      :"quotaUser" => :query,
      :"pp" => :query,
      :"bearer_token" => :query,
      :"oauth_token" => :query,
      :"body" => :body
    }
    %{}
    |> method(:post)
    |> url("/v1/liens")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%GoogleApi.CloudResourceManager.V1.Model.Lien{})
  end

  @doc """
  Delete a Lien by &#x60;name&#x60;.  Callers of this method will require permission on the &#x60;parent&#x60; resource. For example, a Lien with a &#x60;parent&#x60; of &#x60;projects/1234&#x60; requires permission &#x60;resourcemanager.projects.updateLiens&#x60;.

  ## Parameters

  - connection (GoogleApi.CloudResourceManager.V1.Connection): Connection to server
  - liens_id (String): Part of &#x60;name&#x60;. The name/identifier of the Lien to delete.
  - opts (KeywordList): [optional] Optional parameters
    - :upload_protocol (String): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :pretty_print (Boolean): Returns response with indentations and line breaks.
    - :fields (String): Selector specifying which fields to include in a partial response.
    - :upload_type (String): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :__/xgafv (String): V1 error format.
    - :callback (String): JSONP
    - :alt (String): Data format for response.
    - :key (String): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :access_token (String): OAuth access token.
    - :quota_user (String): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :pp (Boolean): Pretty-print response.
    - :bearer_token (String): OAuth bearer token.
    - :oauth_token (String): OAuth 2.0 token for the current user.

  ## Returns

  {:ok, %GoogleApi.CloudResourceManager.V1.Model.Empty{}} on success
  {:error, info} on failure
  """
  @spec cloudresourcemanager_liens_delete(Tesla.Env.client, String.t, keyword()) :: {:ok, GoogleApi.CloudResourceManager.V1.Model.Empty.t} | {:error, Tesla.Env.t}
  def cloudresourcemanager_liens_delete(connection, liens_id, opts \\ []) do
    optional_params = %{
      :"upload_protocol" => :query,
      :"prettyPrint" => :query,
      :"fields" => :query,
      :"uploadType" => :query,
      :"$.xgafv" => :query,
      :"callback" => :query,
      :"alt" => :query,
      :"key" => :query,
      :"access_token" => :query,
      :"quotaUser" => :query,
      :"pp" => :query,
      :"bearer_token" => :query,
      :"oauth_token" => :query
    }
    %{}
    |> method(:delete)
    |> url("/v1/liens/#{liens_id}")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%GoogleApi.CloudResourceManager.V1.Model.Empty{})
  end

  @doc """
  List all Liens applied to the &#x60;parent&#x60; resource.  Callers of this method will require permission on the &#x60;parent&#x60; resource. For example, a Lien with a &#x60;parent&#x60; of &#x60;projects/1234&#x60; requires permission &#x60;resourcemanager.projects.get&#x60;.

  ## Parameters

  - connection (GoogleApi.CloudResourceManager.V1.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :upload_protocol (String): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :pretty_print (Boolean): Returns response with indentations and line breaks.
    - :fields (String): Selector specifying which fields to include in a partial response.
    - :upload_type (String): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :__/xgafv (String): V1 error format.
    - :callback (String): JSONP
    - :alt (String): Data format for response.
    - :key (String): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :access_token (String): OAuth access token.
    - :quota_user (String): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :pp (Boolean): Pretty-print response.
    - :bearer_token (String): OAuth bearer token.
    - :oauth_token (String): OAuth 2.0 token for the current user.
    - :page_size (Integer): The maximum number of items to return. This is a suggestion for the server.
    - :parent (String): The name of the resource to list all attached Liens. For example, &#x60;projects/1234&#x60;.
    - :page_token (String): The &#x60;next_page_token&#x60; value returned from a previous List request, if any.

  ## Returns

  {:ok, %GoogleApi.CloudResourceManager.V1.Model.ListLiensResponse{}} on success
  {:error, info} on failure
  """
  @spec cloudresourcemanager_liens_list(Tesla.Env.client, keyword()) :: {:ok, GoogleApi.CloudResourceManager.V1.Model.ListLiensResponse.t} | {:error, Tesla.Env.t}
  def cloudresourcemanager_liens_list(connection, opts \\ []) do
    optional_params = %{
      :"upload_protocol" => :query,
      :"prettyPrint" => :query,
      :"fields" => :query,
      :"uploadType" => :query,
      :"$.xgafv" => :query,
      :"callback" => :query,
      :"alt" => :query,
      :"key" => :query,
      :"access_token" => :query,
      :"quotaUser" => :query,
      :"pp" => :query,
      :"bearer_token" => :query,
      :"oauth_token" => :query,
      :"pageSize" => :query,
      :"parent" => :query,
      :"pageToken" => :query
    }
    %{}
    |> method(:get)
    |> url("/v1/liens")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%GoogleApi.CloudResourceManager.V1.Model.ListLiensResponse{})
  end
end
