{{>licenseInfo}}
defmodule {{moduleName}}.Connection do
  @moduledoc """
  Handle Tesla connections for {{moduleName}}.
  """

  use GoogleApi.Gax.Connection, scopes: [
{{#authMethods}}
  {{#isOAuth}}
    {{#scopes}}
    "{{scope}}"{{#hasMore}},{{/hasMore}} {{#description}}# {{description}}{{/description}}
    {{/scopes}}
  {{/isOAuth}}
{{/authMethods}}
  ],
  otp_app, :{{#underscored}}{{packageName}}{{/underscored}},
  base_url: "{{{basePath}}}"
end
