{{>licenseInfo}}
defmodule {{moduleName}}.RequestBuilder do
  @moduledoc """
  Helper functions for building Tesla requests.

  This module is no longer used. Please use GoogleApi.Gax.Request instead.
  """
end
