# Copyright 2017 Google Inc.
#
# Licensed under the Apache License, Version 2.0 (the &quot;License&quot;);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an &quot;AS IS&quot; BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# NOTE: This class is auto generated by the swagger code generator program.
# https://github.com/swagger-api/swagger-codegen.git
# Do not edit the class manually.

defmodule GoogleApi.DigitalAssetLinks.V1.Api.Statements do
  @moduledoc """
  API calls for all endpoints tagged `Statements`.
  """

  alias GoogleApi.DigitalAssetLinks.V1.Connection
  alias GoogleApi.Gax.{Request, Response}

  @doc """
  Retrieves a list of all statements from a given source that match the specified target and statement string.  The API guarantees that all statements with secure source assets, such as HTTPS websites or Android apps, have been made in a secure way by the owner of those assets, as described in the [Digital Asset Links technical design specification](https://github.com/google/digitalassetlinks/blob/master/well-known/details.md). Specifically, you should consider that for insecure websites (that is, where the URL starts with &#x60;http://&#x60; instead of &#x60;https://&#x60;), this guarantee cannot be made.  The &#x60;List&#x60; command is most useful in cases where the API client wants to know all the ways in which two assets are related, or enumerate all the relationships from a particular source asset.  Example: a feature that helps users navigate to related items.  When a mobile app is running on a device, the feature would make it easy to navigate to the corresponding web site or Google+ profile.

  ## Parameters

  - connection (GoogleApi.DigitalAssetLinks.V1.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :uploadType (String.t): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :callback (String.t): JSONP
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :$.xgafv (String.t): V1 error format.
    - :alt (String.t): Data format for response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :access_token (String.t): OAuth access token.
    - :upload_protocol (String.t): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :quotaUser (String.t): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :source.web.site (String.t): Web assets are identified by a URL that contains only the scheme, hostname and port parts.  The format is      http[s]://&lt;hostname&gt;[:&lt;port&gt;]  Hostnames must be fully qualified: they must end in a single period (\&quot;&#x60;.&#x60;\&quot;).  Only the schemes \&quot;http\&quot; and \&quot;https\&quot; are currently allowed.  Port numbers are given as a decimal number, and they must be omitted if the standard port numbers are used: 80 for http and 443 for https.  We call this limited URL the \&quot;site\&quot;.  All URLs that share the same scheme, hostname and port are considered to be a part of the site and thus belong to the web asset.  Example: the asset with the site &#x60;https://www.google.com&#x60; contains all these URLs:    *   &#x60;https://www.google.com/&#x60;   *   &#x60;https://www.google.com:443/&#x60;   *   &#x60;https://www.google.com/foo&#x60;   *   &#x60;https://www.google.com/foo?bar&#x60;   *   &#x60;https://www.google.com/foo#bar&#x60;   *   &#x60;https://user@password:www.google.com/&#x60;  But it does not contain these URLs:    *   &#x60;http://www.google.com/&#x60;       (wrong scheme)   *   &#x60;https://google.com/&#x60;          (hostname does not match)   *   &#x60;https://www.google.com:444/&#x60;  (port does not match) REQUIRED
    - :source.androidApp.packageName (String.t): Android App assets are naturally identified by their Java package name. For example, the Google Maps app uses the package name &#x60;com.google.android.apps.maps&#x60;. REQUIRED
    - :source.androidApp.certificate.sha256Fingerprint (String.t): The uppercase SHA-265 fingerprint of the certificate.  From the PEM  certificate, it can be acquired like this:      $ keytool -printcert -file $CERTFILE | grep SHA256:     SHA256: 14:6D:E9:83:C5:73:06:50:D8:EE:B9:95:2F:34:FC:64:16:A0:83: \\         42:E6:1D:BE:A8:8A:04:96:B2:3F:CF:44:E5  or like this:      $ openssl x509 -in $CERTFILE -noout -fingerprint -sha256     SHA256 Fingerprint&#x3D;14:6D:E9:83:C5:73:06:50:D8:EE:B9:95:2F:34:FC:64: \\         16:A0:83:42:E6:1D:BE:A8:8A:04:96:B2:3F:CF:44:E5  In this example, the contents of this field would be &#x60;14:6D:E9:83:C5:73: 06:50:D8:EE:B9:95:2F:34:FC:64:16:A0:83:42:E6:1D:BE:A8:8A:04:96:B2:3F:CF: 44:E5&#x60;.  If these tools are not available to you, you can convert the PEM certificate into the DER format, compute the SHA-256 hash of that string and represent the result as a hexstring (that is, uppercase hexadecimal representations of each octet, separated by colons).
    - :relation (String.t): Use only associations that match the specified relation.  See the [&#x60;Statement&#x60;](#Statement) message for a detailed definition of relation strings.  For a query to match a statement, one of the following must be true:  *    both the query&#39;s and the statement&#39;s relation strings match exactly,      or *    the query&#39;s relation string is empty or missing.  Example: A query with relation &#x60;delegate_permission/common.handle_all_urls&#x60; matches an asset link with relation &#x60;delegate_permission/common.handle_all_urls&#x60;.

  ## Returns

  {:ok, %GoogleApi.DigitalAssetLinks.V1.Model.ListResponse{}} on success
  {:error, info} on failure
  """
  @spec digitalassetlinks_statements_list(Tesla.Env.client(), keyword()) ::
          {:ok, GoogleApi.DigitalAssetLinks.V1.Model.ListResponse.t()} | {:error, Tesla.Env.t()}
  def digitalassetlinks_statements_list(connection, opts \\ []) do
    optional_params = %{
      :uploadType => :query,
      :fields => :query,
      :callback => :query,
      :oauth_token => :query,
      :"$.xgafv" => :query,
      :alt => :query,
      :key => :query,
      :access_token => :query,
      :upload_protocol => :query,
      :quotaUser => :query,
      :prettyPrint => :query,
      :"source.web.site" => :query,
      :"source.androidApp.packageName" => :query,
      :"source.androidApp.certificate.sha256Fingerprint" => :query,
      :relation => :query
    }

    request =
      Request.new()
      |> Request.method(:get)
      |> Request.url("/v1/statements:list")
      |> Request.add_optional_params(optional_params, opts)

    connection
    |> Connection.execute(request)
    |> Response.decode(struct: %GoogleApi.DigitalAssetLinks.V1.Model.ListResponse{})
  end
end
