# Copyright 2017 Google Inc.
#
# Licensed under the Apache License, Version 2.0 (the &quot;License&quot;);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an &quot;AS IS&quot; BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# NOTE: This class is auto generated by the swagger code generator program.
# https://github.com/swagger-api/swagger-codegen.git
# Do not edit the class manually.

defmodule GoogleApi.Drive.V3.Api.Changes do
  @moduledoc """
  API calls for all endpoints tagged `Changes`.
  """

  alias GoogleApi.Drive.V3.Connection
  alias GoogleApi.Gax.{Request, Response}

  @doc """
  Gets the starting pageToken for listing future changes.

  ## Parameters

  - connection (GoogleApi.Drive.V3.Connection): Connection to server
  - optional_params (KeywordList): [optional] Optional parameters
    - :alt (String.t): Data format for the response.
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): An opaque string that represents a user for quota purposes. Must not exceed 40 characters.
    - :userIp (String.t): Deprecated. Please use quotaUser instead.
    - :supportsTeamDrives (boolean()): Whether the requesting application supports Team Drives.
    - :teamDriveId (String.t): The ID of the Team Drive for which the starting pageToken for listing future changes from that Team Drive will be returned.

  ## Returns

  {:ok, %GoogleApi.Drive.V3.Model.StartPageToken{}} on success
  {:error, info} on failure
  """
  @spec drive_changes_get_start_page_token(Tesla.Env.client(), keyword()) ::
          {:ok, GoogleApi.Drive.V3.Model.StartPageToken.t()} | {:error, Tesla.Env.t()}
  def drive_changes_get_start_page_token(connection, optional_params \\ [], opts \\ []) do
    optional_params_config = %{
      :alt => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :userIp => :query,
      :supportsTeamDrives => :query,
      :teamDriveId => :query
    }

    request =
      Request.new()
      |> Request.method(:get)
      |> Request.url("/drive/v3/changes/startPageToken")
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(opts ++ [struct: %GoogleApi.Drive.V3.Model.StartPageToken{}])
  end

  @doc """
  Lists the changes for a user or Team Drive.

  ## Parameters

  - connection (GoogleApi.Drive.V3.Connection): Connection to server
  - page_token (String.t): The token for continuing a previous list request on the next page. This should be set to the value of &#39;nextPageToken&#39; from the previous response or to the response from the getStartPageToken method.
  - optional_params (KeywordList): [optional] Optional parameters
    - :alt (String.t): Data format for the response.
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): An opaque string that represents a user for quota purposes. Must not exceed 40 characters.
    - :userIp (String.t): Deprecated. Please use quotaUser instead.
    - :includeCorpusRemovals (boolean()): Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.
    - :includeRemoved (boolean()): Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access.
    - :includeTeamDriveItems (boolean()): Whether Team Drive files or changes should be included in results.
    - :pageSize (integer()): The maximum number of changes to return per page.
    - :restrictToMyDrive (boolean()): Whether to restrict the results to changes inside the My Drive hierarchy. This omits changes to files such as those in the Application Data folder or shared files which have not been added to My Drive.
    - :spaces (String.t): A comma-separated list of spaces to query within the user corpus. Supported values are &#39;drive&#39;, &#39;appDataFolder&#39; and &#39;photos&#39;.
    - :supportsTeamDrives (boolean()): Whether the requesting application supports Team Drives.
    - :teamDriveId (String.t): The Team Drive from which changes will be returned. If specified the change IDs will be reflective of the Team Drive; use the combined Team Drive ID and change ID as an identifier.

  ## Returns

  {:ok, %GoogleApi.Drive.V3.Model.ChangeList{}} on success
  {:error, info} on failure
  """
  @spec drive_changes_list(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, GoogleApi.Drive.V3.Model.ChangeList.t()} | {:error, Tesla.Env.t()}
  def drive_changes_list(connection, page_token, optional_params \\ [], opts \\ []) do
    optional_params_config = %{
      :alt => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :userIp => :query,
      :includeCorpusRemovals => :query,
      :includeRemoved => :query,
      :includeTeamDriveItems => :query,
      :pageSize => :query,
      :restrictToMyDrive => :query,
      :spaces => :query,
      :supportsTeamDrives => :query,
      :teamDriveId => :query
    }

    request =
      Request.new()
      |> Request.method(:get)
      |> Request.url("/drive/v3/changes")
      |> Request.add_param(:query, :pageToken, page_token)
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(opts ++ [struct: %GoogleApi.Drive.V3.Model.ChangeList{}])
  end

  @doc """
  Subscribes to changes for a user.

  ## Parameters

  - connection (GoogleApi.Drive.V3.Connection): Connection to server
  - page_token (String.t): The token for continuing a previous list request on the next page. This should be set to the value of &#39;nextPageToken&#39; from the previous response or to the response from the getStartPageToken method.
  - optional_params (KeywordList): [optional] Optional parameters
    - :alt (String.t): Data format for the response.
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): An opaque string that represents a user for quota purposes. Must not exceed 40 characters.
    - :userIp (String.t): Deprecated. Please use quotaUser instead.
    - :includeCorpusRemovals (boolean()): Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.
    - :includeRemoved (boolean()): Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access.
    - :includeTeamDriveItems (boolean()): Whether Team Drive files or changes should be included in results.
    - :pageSize (integer()): The maximum number of changes to return per page.
    - :restrictToMyDrive (boolean()): Whether to restrict the results to changes inside the My Drive hierarchy. This omits changes to files such as those in the Application Data folder or shared files which have not been added to My Drive.
    - :spaces (String.t): A comma-separated list of spaces to query within the user corpus. Supported values are &#39;drive&#39;, &#39;appDataFolder&#39; and &#39;photos&#39;.
    - :supportsTeamDrives (boolean()): Whether the requesting application supports Team Drives.
    - :teamDriveId (String.t): The Team Drive from which changes will be returned. If specified the change IDs will be reflective of the Team Drive; use the combined Team Drive ID and change ID as an identifier.
    - :resource (Channel): 

  ## Returns

  {:ok, %GoogleApi.Drive.V3.Model.Channel{}} on success
  {:error, info} on failure
  """
  @spec drive_changes_watch(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, GoogleApi.Drive.V3.Model.Channel.t()} | {:error, Tesla.Env.t()}
  def drive_changes_watch(connection, page_token, optional_params \\ [], opts \\ []) do
    optional_params_config = %{
      :alt => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :userIp => :query,
      :includeCorpusRemovals => :query,
      :includeRemoved => :query,
      :includeTeamDriveItems => :query,
      :pageSize => :query,
      :restrictToMyDrive => :query,
      :spaces => :query,
      :supportsTeamDrives => :query,
      :teamDriveId => :query,
      :resource => :body
    }

    request =
      Request.new()
      |> Request.method(:post)
      |> Request.url("/drive/v3/changes/watch")
      |> Request.add_param(:query, :pageToken, page_token)
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(opts ++ [struct: %GoogleApi.Drive.V3.Model.Channel{}])
  end
end
