# Copyright 2017 Google Inc.
#
# Licensed under the Apache License, Version 2.0 (the &quot;License&quot;);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an &quot;AS IS&quot; BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


# NOTE: This class is auto generated by the swagger code generator program.
# https://github.com/swagger-api/swagger-codegen.git
# Do not edit the class manually.

defmodule GoogleApi.Games.V1.Api.Achievements do
  @moduledoc """
  API calls for all endpoints tagged `Achievements`.
  """

  alias GoogleApi.Games.V1.Connection
  import GoogleApi.Games.V1.RequestBuilder


  @doc """
  Increments the steps of the achievement with the given ID for the currently authenticated player.

  ## Parameters

  - connection (GoogleApi.Games.V1.Connection): Connection to server
  - achievement_id (String): The ID of the achievement used by this method.
  - steps_to_increment (Integer): The number of steps to increment.
  - opts (KeywordList): [optional] Optional parameters
    - :alt (String): Data format for the response.
    - :fields (String): Selector specifying which fields to include in a partial response.
    - :key (String): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String): OAuth 2.0 token for the current user.
    - :pretty_print (Boolean): Returns response with indentations and line breaks.
    - :quota_user (String): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.
    - :user_ip (String): IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    - :consistency_token (String): The last-seen mutation timestamp.
    - :request_id (String): A randomly generated numeric ID for each request specified by the caller. This number is used at the server to ensure that the request is handled correctly across retries.

  ## Returns

  {:ok, %GoogleApi.Games.V1.Model.AchievementIncrementResponse{}} on success
  {:error, info} on failure
  """
  @spec games_achievements_increment(Tesla.Env.client, String.t, Integer.t, keyword()) :: {:ok, GoogleApi.Games.V1.Model.AchievementIncrementResponse.t} | {:error, Tesla.Env.t}
  def games_achievements_increment(connection, achievement_id, steps_to_increment, opts \\ []) do
    optional_params = %{
      :"alt" => :query,
      :"fields" => :query,
      :"key" => :query,
      :"oauth_token" => :query,
      :"prettyPrint" => :query,
      :"quotaUser" => :query,
      :"userIp" => :query,
      :"consistencyToken" => :query,
      :"requestId" => :query
    }
    %{}
    |> method(:post)
    |> url("/achievements/{achievementId}/increment", %{
         "achievementId" => URI.encode_www_form(achievement_id)
       })
    |> add_param(:query, :"stepsToIncrement", steps_to_increment)
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%GoogleApi.Games.V1.Model.AchievementIncrementResponse{})
  end

  @doc """
  Lists the progress for all your application&#39;s achievements for the currently authenticated player.

  ## Parameters

  - connection (GoogleApi.Games.V1.Connection): Connection to server
  - player_id (String): A player ID. A value of me may be used in place of the authenticated player&#39;s ID.
  - opts (KeywordList): [optional] Optional parameters
    - :alt (String): Data format for the response.
    - :fields (String): Selector specifying which fields to include in a partial response.
    - :key (String): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String): OAuth 2.0 token for the current user.
    - :pretty_print (Boolean): Returns response with indentations and line breaks.
    - :quota_user (String): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.
    - :user_ip (String): IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    - :consistency_token (String): The last-seen mutation timestamp.
    - :language (String): The preferred language to use for strings returned by this method.
    - :max_results (Integer): The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified maxResults.
    - :page_token (String): The token returned by the previous request.
    - :state (String): Tells the server to return only achievements with the specified state. If this parameter isn&#39;t specified, all achievements are returned.

  ## Returns

  {:ok, %GoogleApi.Games.V1.Model.PlayerAchievementListResponse{}} on success
  {:error, info} on failure
  """
  @spec games_achievements_list(Tesla.Env.client, String.t, keyword()) :: {:ok, GoogleApi.Games.V1.Model.PlayerAchievementListResponse.t} | {:error, Tesla.Env.t}
  def games_achievements_list(connection, player_id, opts \\ []) do
    optional_params = %{
      :"alt" => :query,
      :"fields" => :query,
      :"key" => :query,
      :"oauth_token" => :query,
      :"prettyPrint" => :query,
      :"quotaUser" => :query,
      :"userIp" => :query,
      :"consistencyToken" => :query,
      :"language" => :query,
      :"maxResults" => :query,
      :"pageToken" => :query,
      :"state" => :query
    }
    %{}
    |> method(:get)
    |> url("/players/{playerId}/achievements", %{
         "playerId" => URI.encode_www_form(player_id)
       })
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%GoogleApi.Games.V1.Model.PlayerAchievementListResponse{})
  end

  @doc """
  Sets the state of the achievement with the given ID to REVEALED for the currently authenticated player.

  ## Parameters

  - connection (GoogleApi.Games.V1.Connection): Connection to server
  - achievement_id (String): The ID of the achievement used by this method.
  - opts (KeywordList): [optional] Optional parameters
    - :alt (String): Data format for the response.
    - :fields (String): Selector specifying which fields to include in a partial response.
    - :key (String): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String): OAuth 2.0 token for the current user.
    - :pretty_print (Boolean): Returns response with indentations and line breaks.
    - :quota_user (String): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.
    - :user_ip (String): IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    - :consistency_token (String): The last-seen mutation timestamp.

  ## Returns

  {:ok, %GoogleApi.Games.V1.Model.AchievementRevealResponse{}} on success
  {:error, info} on failure
  """
  @spec games_achievements_reveal(Tesla.Env.client, String.t, keyword()) :: {:ok, GoogleApi.Games.V1.Model.AchievementRevealResponse.t} | {:error, Tesla.Env.t}
  def games_achievements_reveal(connection, achievement_id, opts \\ []) do
    optional_params = %{
      :"alt" => :query,
      :"fields" => :query,
      :"key" => :query,
      :"oauth_token" => :query,
      :"prettyPrint" => :query,
      :"quotaUser" => :query,
      :"userIp" => :query,
      :"consistencyToken" => :query
    }
    %{}
    |> method(:post)
    |> url("/achievements/{achievementId}/reveal", %{
         "achievementId" => URI.encode_www_form(achievement_id)
       })
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%GoogleApi.Games.V1.Model.AchievementRevealResponse{})
  end

  @doc """
  Sets the steps for the currently authenticated player towards unlocking an achievement. If the steps parameter is less than the current number of steps that the player already gained for the achievement, the achievement is not modified.

  ## Parameters

  - connection (GoogleApi.Games.V1.Connection): Connection to server
  - achievement_id (String): The ID of the achievement used by this method.
  - steps (Integer): The minimum value to set the steps to.
  - opts (KeywordList): [optional] Optional parameters
    - :alt (String): Data format for the response.
    - :fields (String): Selector specifying which fields to include in a partial response.
    - :key (String): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String): OAuth 2.0 token for the current user.
    - :pretty_print (Boolean): Returns response with indentations and line breaks.
    - :quota_user (String): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.
    - :user_ip (String): IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    - :consistency_token (String): The last-seen mutation timestamp.

  ## Returns

  {:ok, %GoogleApi.Games.V1.Model.AchievementSetStepsAtLeastResponse{}} on success
  {:error, info} on failure
  """
  @spec games_achievements_set_steps_at_least(Tesla.Env.client, String.t, Integer.t, keyword()) :: {:ok, GoogleApi.Games.V1.Model.AchievementSetStepsAtLeastResponse.t} | {:error, Tesla.Env.t}
  def games_achievements_set_steps_at_least(connection, achievement_id, steps, opts \\ []) do
    optional_params = %{
      :"alt" => :query,
      :"fields" => :query,
      :"key" => :query,
      :"oauth_token" => :query,
      :"prettyPrint" => :query,
      :"quotaUser" => :query,
      :"userIp" => :query,
      :"consistencyToken" => :query
    }
    %{}
    |> method(:post)
    |> url("/achievements/{achievementId}/setStepsAtLeast", %{
         "achievementId" => URI.encode_www_form(achievement_id)
       })
    |> add_param(:query, :"steps", steps)
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%GoogleApi.Games.V1.Model.AchievementSetStepsAtLeastResponse{})
  end

  @doc """
  Unlocks this achievement for the currently authenticated player.

  ## Parameters

  - connection (GoogleApi.Games.V1.Connection): Connection to server
  - achievement_id (String): The ID of the achievement used by this method.
  - opts (KeywordList): [optional] Optional parameters
    - :alt (String): Data format for the response.
    - :fields (String): Selector specifying which fields to include in a partial response.
    - :key (String): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String): OAuth 2.0 token for the current user.
    - :pretty_print (Boolean): Returns response with indentations and line breaks.
    - :quota_user (String): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.
    - :user_ip (String): IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    - :consistency_token (String): The last-seen mutation timestamp.

  ## Returns

  {:ok, %GoogleApi.Games.V1.Model.AchievementUnlockResponse{}} on success
  {:error, info} on failure
  """
  @spec games_achievements_unlock(Tesla.Env.client, String.t, keyword()) :: {:ok, GoogleApi.Games.V1.Model.AchievementUnlockResponse.t} | {:error, Tesla.Env.t}
  def games_achievements_unlock(connection, achievement_id, opts \\ []) do
    optional_params = %{
      :"alt" => :query,
      :"fields" => :query,
      :"key" => :query,
      :"oauth_token" => :query,
      :"prettyPrint" => :query,
      :"quotaUser" => :query,
      :"userIp" => :query,
      :"consistencyToken" => :query
    }
    %{}
    |> method(:post)
    |> url("/achievements/{achievementId}/unlock", %{
         "achievementId" => URI.encode_www_form(achievement_id)
       })
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%GoogleApi.Games.V1.Model.AchievementUnlockResponse{})
  end

  @doc """
  Updates multiple achievements for the currently authenticated player.

  ## Parameters

  - connection (GoogleApi.Games.V1.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :alt (String): Data format for the response.
    - :fields (String): Selector specifying which fields to include in a partial response.
    - :key (String): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String): OAuth 2.0 token for the current user.
    - :pretty_print (Boolean): Returns response with indentations and line breaks.
    - :quota_user (String): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.
    - :user_ip (String): IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    - :consistency_token (String): The last-seen mutation timestamp.
    - :body (AchievementUpdateMultipleRequest): 

  ## Returns

  {:ok, %GoogleApi.Games.V1.Model.AchievementUpdateMultipleResponse{}} on success
  {:error, info} on failure
  """
  @spec games_achievements_update_multiple(Tesla.Env.client, keyword()) :: {:ok, GoogleApi.Games.V1.Model.AchievementUpdateMultipleResponse.t} | {:error, Tesla.Env.t}
  def games_achievements_update_multiple(connection, opts \\ []) do
    optional_params = %{
      :"alt" => :query,
      :"fields" => :query,
      :"key" => :query,
      :"oauth_token" => :query,
      :"prettyPrint" => :query,
      :"quotaUser" => :query,
      :"userIp" => :query,
      :"consistencyToken" => :query,
      :"body" => :body
    }
    %{}
    |> method(:post)
    |> url("/achievements/updateMultiple")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%GoogleApi.Games.V1.Model.AchievementUpdateMultipleResponse{})
  end
end
