# Copyright 2017 Google Inc.
#
# Licensed under the Apache License, Version 2.0 (the &quot;License&quot;);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an &quot;AS IS&quot; BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


# NOTE: This class is auto generated by the swagger code generator program.
# https://github.com/swagger-api/swagger-codegen.git
# Do not edit the class manually.

defmodule GoogleApi.Games.V1.Api.Revisions do
  @moduledoc """
  API calls for all endpoints tagged `Revisions`.
  """

  alias GoogleApi.Games.V1.Connection
  import GoogleApi.Games.V1.RequestBuilder


  @doc """
  Checks whether the games client is out of date.

  ## Parameters

  - connection (GoogleApi.Games.V1.Connection): Connection to server
  - client_revision (String): The revision of the client SDK used by your application. Format: [PLATFORM_TYPE]:[VERSION_NUMBER]. Possible values of PLATFORM_TYPE are:   - \&quot;ANDROID\&quot; - Client is running the Android SDK.  - \&quot;IOS\&quot; - Client is running the iOS SDK.  - \&quot;WEB_APP\&quot; - Client is running as a Web App.
  - opts (KeywordList): [optional] Optional parameters
    - :alt (String): Data format for the response.
    - :fields (String): Selector specifying which fields to include in a partial response.
    - :key (String): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String): OAuth 2.0 token for the current user.
    - :pretty_print (Boolean): Returns response with indentations and line breaks.
    - :quota_user (String): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.
    - :user_ip (String): IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    - :consistency_token (String): The last-seen mutation timestamp.

  ## Returns

  {:ok, %GoogleApi.Games.V1.Model.RevisionCheckResponse{}} on success
  {:error, info} on failure
  """
  @spec games_revisions_check(Tesla.Env.client, String.t, keyword()) :: {:ok, GoogleApi.Games.V1.Model.RevisionCheckResponse.t} | {:error, Tesla.Env.t}
  def games_revisions_check(connection, client_revision, opts \\ []) do
    optional_params = %{
      :"alt" => :query,
      :"fields" => :query,
      :"key" => :query,
      :"oauth_token" => :query,
      :"prettyPrint" => :query,
      :"quotaUser" => :query,
      :"userIp" => :query,
      :"consistencyToken" => :query
    }
    %{}
    |> method(:get)
    |> url("/revisions/check")
    |> add_param(:query, :"clientRevision", client_revision)
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%GoogleApi.Games.V1.Model.RevisionCheckResponse{})
  end
end
