# Copyright 2017 Google Inc.
#
# Licensed under the Apache License, Version 2.0 (the &quot;License&quot;);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an &quot;AS IS&quot; BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# NOTE: This class is auto generated by the swagger code generator program.
# https://github.com/swagger-api/swagger-codegen.git
# Do not edit the class manually.

defmodule GoogleApi.CivicInfo.V2.Api.Representatives do
  @moduledoc """
  API calls for all endpoints tagged `Representatives`.
  """

  alias GoogleApi.CivicInfo.V2.Connection
  alias GoogleApi.Gax.{Request, Response}

  @doc """
  Looks up political geography and representative information for a single address.

  ## Parameters

  - connection (GoogleApi.CivicInfo.V2.Connection): Connection to server
  - optional_params (KeywordList): [optional] Optional parameters
    - :alt (String.t): Data format for the response.
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): An opaque string that represents a user for quota purposes. Must not exceed 40 characters.
    - :userIp (String.t): Deprecated. Please use quotaUser instead.
    - :address (String.t): The address to look up. May only be specified if the field ocdId is not given in the URL.
    - :includeOffices (boolean()): Whether to return information about offices and officials. If false, only the top-level district information will be returned.
    - :levels ([String.t]): A list of office levels to filter by. Only offices that serve at least one of these levels will be returned. Divisions that don&#39;t contain a matching office will not be returned.
    - :roles ([String.t]): A list of office roles to filter by. Only offices fulfilling one of these roles will be returned. Divisions that don&#39;t contain a matching office will not be returned.
    - :body (RepresentativeInfoRequest): 

  ## Returns

  {:ok, %GoogleApi.CivicInfo.V2.Model.RepresentativeInfoResponse{}} on success
  {:error, info} on failure
  """
  @spec civicinfo_representatives_representative_info_by_address(Tesla.Env.client(), keyword()) ::
          {:ok, GoogleApi.CivicInfo.V2.Model.RepresentativeInfoResponse.t()}
          | {:error, Tesla.Env.t()}
  def civicinfo_representatives_representative_info_by_address(
        connection,
        optional_params \\ [],
        opts \\ []
      ) do
    optional_params_config = %{
      :alt => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :userIp => :query,
      :address => :query,
      :includeOffices => :query,
      :levels => :query,
      :roles => :query,
      :body => :body
    }

    request =
      Request.new()
      |> Request.method(:get)
      |> Request.url("/representatives")
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(
      opts ++ [struct: %GoogleApi.CivicInfo.V2.Model.RepresentativeInfoResponse{}]
    )
  end

  @doc """
  Looks up representative information for a single geographic division.

  ## Parameters

  - connection (GoogleApi.CivicInfo.V2.Connection): Connection to server
  - ocd_id (String.t): The Open Civic Data division identifier of the division to look up.
  - optional_params (KeywordList): [optional] Optional parameters
    - :alt (String.t): Data format for the response.
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): An opaque string that represents a user for quota purposes. Must not exceed 40 characters.
    - :userIp (String.t): Deprecated. Please use quotaUser instead.
    - :levels ([String.t]): A list of office levels to filter by. Only offices that serve at least one of these levels will be returned. Divisions that don&#39;t contain a matching office will not be returned.
    - :recursive (boolean()): If true, information about all divisions contained in the division requested will be included as well. For example, if querying ocd-division/country:us/district:dc, this would also return all DC&#39;s wards and ANCs.
    - :roles ([String.t]): A list of office roles to filter by. Only offices fulfilling one of these roles will be returned. Divisions that don&#39;t contain a matching office will not be returned.
    - :body (DivisionRepresentativeInfoRequest): 

  ## Returns

  {:ok, %GoogleApi.CivicInfo.V2.Model.RepresentativeInfoData{}} on success
  {:error, info} on failure
  """
  @spec civicinfo_representatives_representative_info_by_division(
          Tesla.Env.client(),
          String.t(),
          keyword()
        ) ::
          {:ok, GoogleApi.CivicInfo.V2.Model.RepresentativeInfoData.t()} | {:error, Tesla.Env.t()}
  def civicinfo_representatives_representative_info_by_division(
        connection,
        ocd_id,
        optional_params \\ [],
        opts \\ []
      ) do
    optional_params_config = %{
      :alt => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :userIp => :query,
      :levels => :query,
      :recursive => :query,
      :roles => :query,
      :body => :body
    }

    request =
      Request.new()
      |> Request.method(:get)
      |> Request.url("/representatives/{ocdId}", %{
        "ocdId" => URI.encode_www_form(ocd_id)
      })
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(opts ++ [struct: %GoogleApi.CivicInfo.V2.Model.RepresentativeInfoData{}])
  end
end
