# Copyright 2017 Google Inc.
#
# Licensed under the Apache License, Version 2.0 (the &quot;License&quot;);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an &quot;AS IS&quot; BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


# NOTE: This class is auto generated by the swagger code generator program.
# https://github.com/swagger-api/swagger-codegen.git
# Do not edit the class manually.

defmodule GoogleApi.AndroidManagement.V1.Api.SignupUrls do
  @moduledoc """
  API calls for all endpoints tagged `SignupUrls`.
  """

  alias GoogleApi.AndroidManagement.V1.Connection
  import GoogleApi.AndroidManagement.V1.RequestBuilder


  @doc """
  Creates an enterprise signup URL.

  ## Parameters

  - connection (GoogleApi.AndroidManagement.V1.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :access_token (String): OAuth access token.
    - :pretty_print (Boolean): Returns response with indentations and line breaks.
    - :key (String): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :quota_user (String): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
    - :pp (Boolean): Pretty-print response.
    - :fields (String): Selector specifying which fields to include in a partial response.
    - :alt (String): Data format for response.
    - :__/xgafv (String): V1 error format.
    - :callback (String): JSONP
    - :oauth_token (String): OAuth 2.0 token for the current user.
    - :upload_type (String): Legacy upload protocol for media (e.g. \&quot;media\&quot;, \&quot;multipart\&quot;).
    - :bearer_token (String): OAuth bearer token.
    - :upload_protocol (String): Upload protocol for media (e.g. \&quot;raw\&quot;, \&quot;multipart\&quot;).
    - :callback_url (String): The callback URL to which the admin will be redirected after successfully creating an enterprise. Before redirecting there the system will add a query parameter to this URL named enterpriseToken which will contain an opaque token to be used for the create enterprise request. The URL will be parsed then reformatted in order to add the enterpriseToken parameter, so there may be some minor formatting changes.
    - :project_id (String): The id of the Google Cloud Platform project which will own the enterprise.

  ## Returns

  {:ok, %GoogleApi.AndroidManagement.V1.Model.SignupUrl{}} on success
  {:error, info} on failure
  """
  @spec androidmanagement_signup_urls_create(Tesla.Env.client, keyword()) :: {:ok, GoogleApi.AndroidManagement.V1.Model.SignupUrl.t} | {:error, Tesla.Env.t}
  def androidmanagement_signup_urls_create(connection, opts \\ []) do
    optional_params = %{
      :"access_token" => :query,
      :"prettyPrint" => :query,
      :"key" => :query,
      :"quotaUser" => :query,
      :"pp" => :query,
      :"fields" => :query,
      :"alt" => :query,
      :"$.xgafv" => :query,
      :"callback" => :query,
      :"oauth_token" => :query,
      :"uploadType" => :query,
      :"bearer_token" => :query,
      :"upload_protocol" => :query,
      :"callbackUrl" => :query,
      :"projectId" => :query
    }
    %{}
    |> method(:post)
    |> url("/v1/signupUrls")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%GoogleApi.AndroidManagement.V1.Model.SignupUrl{})
  end
end
