# Copyright 2017 Google Inc.
#
# Licensed under the Apache License, Version 2.0 (the &quot;License&quot;);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an &quot;AS IS&quot; BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# NOTE: This class is auto generated by the swagger code generator program.
# https://github.com/swagger-api/swagger-codegen.git
# Do not edit the class manually.

defmodule GoogleApi.Admin.Reports_v1.Api.UserUsageReport do
  @moduledoc """
  API calls for all endpoints tagged `UserUsageReport`.
  """

  alias GoogleApi.Admin.Reports_v1.Connection
  alias GoogleApi.Gax.{Request, Response}

  @doc """
  Retrieves a report which is a collection of properties / statistics for a set of users.

  ## Parameters

  - connection (GoogleApi.Admin.Reports_v1.Connection): Connection to server
  - user_key (String.t): Represents the profile id or the user email for which the data should be filtered.
  - date (String.t): Represents the date in yyyy-mm-dd format for which the data is to be fetched.
  - optional_params (KeywordList): [optional] Optional parameters
    - :alt (String.t): Data format for the response.
    - :fields (String.t): Selector specifying which fields to include in a partial response.
    - :key (String.t): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String.t): OAuth 2.0 token for the current user.
    - :prettyPrint (boolean()): Returns response with indentations and line breaks.
    - :quotaUser (String.t): An opaque string that represents a user for quota purposes. Must not exceed 40 characters.
    - :userIp (String.t): Deprecated. Please use quotaUser instead.
    - :customerId (String.t): Represents the customer for which the data is to be fetched.
    - :filters (String.t): Represents the set of filters including parameter operator value.
    - :maxResults (integer()): Maximum number of results to return. Maximum allowed is 1000
    - :orgUnitID (String.t): the organizational unit&#39;s ID to filter usage parameters from users belonging to a specific OU or one of its sub-OU(s).
    - :pageToken (String.t): Token to specify next page.
    - :parameters (String.t): Represents the application name, parameter name pairs to fetch in csv as app_name1:param_name1, app_name2:param_name2.

  ## Returns

  {:ok, %GoogleApi.Admin.Reports_v1.Model.UsageReports{}} on success
  {:error, info} on failure
  """
  @spec reports_user_usage_report_get(Tesla.Env.client(), String.t(), String.t(), keyword()) ::
          {:ok, GoogleApi.Admin.Reports_v1.Model.UsageReports.t()} | {:error, Tesla.Env.t()}
  def reports_user_usage_report_get(connection, user_key, date, optional_params \\ [], opts \\ []) do
    optional_params_config = %{
      :alt => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :userIp => :query,
      :customerId => :query,
      :filters => :query,
      :maxResults => :query,
      :orgUnitID => :query,
      :pageToken => :query,
      :parameters => :query
    }

    request =
      Request.new()
      |> Request.method(:get)
      |> Request.url("/usage/users/{userKey}/dates/{date}", %{
        "userKey" => URI.encode_www_form(user_key),
        "date" => URI.encode_www_form(date)
      })
      |> Request.add_optional_params(optional_params_config, optional_params)

    connection
    |> Connection.execute(request)
    |> Response.decode(opts ++ [struct: %GoogleApi.Admin.Reports_v1.Model.UsageReports{}])
  end
end
