# Copyright 2017 Google Inc.
#
# Licensed under the Apache License, Version 2.0 (the &quot;License&quot;);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an &quot;AS IS&quot; BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# NOTE: This class is auto generated by the swagger code generator program.
# https://github.com/swagger-api/swagger-codegen.git
# Do not edit the class manually.

defmodule GoogleApi.ConsumerSurveys.V2.Api.Results do
  @moduledoc """
  API calls for all endpoints tagged `Results`.
  """

  alias GoogleApi.ConsumerSurveys.V2.Connection
  import GoogleApi.ConsumerSurveys.V2.RequestBuilder

  @doc """
  Retrieves any survey results that have been produced so far. Results are formatted as an Excel file. You must add \&quot;?alt&#x3D;media\&quot; to the URL as an argument to get results.

  ## Parameters

  - connection (GoogleApi.ConsumerSurveys.V2.Connection): Connection to server
  - survey_url_id (String): External URL ID for the survey.
  - opts (KeywordList): [optional] Optional parameters
    - :alt (String): Data format for the response.
    - :fields (String): Selector specifying which fields to include in a partial response.
    - :key (String): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String): OAuth 2.0 token for the current user.
    - :pretty_print (Boolean): Returns response with indentations and line breaks.
    - :quota_user (String): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.
    - :user_ip (String): IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    - :body (ResultsGetRequest): 

  ## Returns

  {:ok, %GoogleApi.ConsumerSurveys.V2.Model.SurveyResults{}} on success
  {:error, info} on failure
  """
  @spec consumersurveys_results_get(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, GoogleApi.ConsumerSurveys.V2.Model.SurveyResults.t()} | {:error, Tesla.Env.t()}
  def consumersurveys_results_get(connection, survey_url_id, opts \\ []) do
    optional_params = %{
      :alt => :query,
      :fields => :query,
      :key => :query,
      :oauth_token => :query,
      :prettyPrint => :query,
      :quotaUser => :query,
      :userIp => :query,
      :body => :body
    }

    %{}
    |> method(:get)
    |> url("/surveys/{surveyUrlId}/results", %{
      "surveyUrlId" => URI.encode_www_form(survey_url_id)
    })
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%GoogleApi.ConsumerSurveys.V2.Model.SurveyResults{})
  end
end
