# Copyright 2017 Google Inc.
#
# Licensed under the Apache License, Version 2.0 (the &quot;License&quot;);
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an &quot;AS IS&quot; BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


# NOTE: This class is auto generated by the swagger code generator program.
# https://github.com/swagger-api/swagger-codegen.git
# Do not edit the class manually.

defmodule GoogleApi.DNS.V1.Api.Changes do
  @moduledoc """
  API calls for all endpoints tagged `Changes`.
  """

  alias GoogleApi.DNS.V1.Connection
  import GoogleApi.DNS.V1.RequestBuilder


  @doc """
  Atomically update the ResourceRecordSet collection.

  ## Parameters

  - connection (GoogleApi.DNS.V1.Connection): Connection to server
  - project (String): Identifies the project addressed by this request.
  - managed_zone (String): Identifies the managed zone addressed by this request. Can be the managed zone name or id.
  - opts (KeywordList): [optional] Optional parameters
    - :alt (String): Data format for the response.
    - :fields (String): Selector specifying which fields to include in a partial response.
    - :key (String): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String): OAuth 2.0 token for the current user.
    - :pretty_print (Boolean): Returns response with indentations and line breaks.
    - :quota_user (String): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.
    - :user_ip (String): IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    - :body (Change): 

  ## Returns

  {:ok, %GoogleApi.DNS.V1.Model.Change{}} on success
  {:error, info} on failure
  """
  @spec dns_changes_create(Tesla.Env.client, String.t, String.t, keyword()) :: {:ok, GoogleApi.DNS.V1.Model.Change.t} | {:error, Tesla.Env.t}
  def dns_changes_create(connection, project, managed_zone, opts \\ []) do
    optional_params = %{
      :"alt" => :query,
      :"fields" => :query,
      :"key" => :query,
      :"oauth_token" => :query,
      :"prettyPrint" => :query,
      :"quotaUser" => :query,
      :"userIp" => :query,
      :"body" => :body
    }
    %{}
    |> method(:post)
    |> url("/{project}/managedZones/{managedZone}/changes", %{
         "project" => URI.encode_www_form(project),
         "managedZone" => URI.encode_www_form(managed_zone)
       })
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%GoogleApi.DNS.V1.Model.Change{})
  end

  @doc """
  Fetch the representation of an existing Change.

  ## Parameters

  - connection (GoogleApi.DNS.V1.Connection): Connection to server
  - project (String): Identifies the project addressed by this request.
  - managed_zone (String): Identifies the managed zone addressed by this request. Can be the managed zone name or id.
  - change_id (String): The identifier of the requested change, from a previous ResourceRecordSetsChangeResponse.
  - opts (KeywordList): [optional] Optional parameters
    - :alt (String): Data format for the response.
    - :fields (String): Selector specifying which fields to include in a partial response.
    - :key (String): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String): OAuth 2.0 token for the current user.
    - :pretty_print (Boolean): Returns response with indentations and line breaks.
    - :quota_user (String): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.
    - :user_ip (String): IP address of the site where the request originates. Use this if you want to enforce per-user limits.

  ## Returns

  {:ok, %GoogleApi.DNS.V1.Model.Change{}} on success
  {:error, info} on failure
  """
  @spec dns_changes_get(Tesla.Env.client, String.t, String.t, String.t, keyword()) :: {:ok, GoogleApi.DNS.V1.Model.Change.t} | {:error, Tesla.Env.t}
  def dns_changes_get(connection, project, managed_zone, change_id, opts \\ []) do
    optional_params = %{
      :"alt" => :query,
      :"fields" => :query,
      :"key" => :query,
      :"oauth_token" => :query,
      :"prettyPrint" => :query,
      :"quotaUser" => :query,
      :"userIp" => :query
    }
    %{}
    |> method(:get)
    |> url("/{project}/managedZones/{managedZone}/changes/{changeId}", %{
         "project" => URI.encode_www_form(project),
         "managedZone" => URI.encode_www_form(managed_zone),
         "changeId" => URI.encode_www_form(change_id)
       })
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%GoogleApi.DNS.V1.Model.Change{})
  end

  @doc """
  Enumerate Changes to a ResourceRecordSet collection.

  ## Parameters

  - connection (GoogleApi.DNS.V1.Connection): Connection to server
  - project (String): Identifies the project addressed by this request.
  - managed_zone (String): Identifies the managed zone addressed by this request. Can be the managed zone name or id.
  - opts (KeywordList): [optional] Optional parameters
    - :alt (String): Data format for the response.
    - :fields (String): Selector specifying which fields to include in a partial response.
    - :key (String): API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    - :oauth_token (String): OAuth 2.0 token for the current user.
    - :pretty_print (Boolean): Returns response with indentations and line breaks.
    - :quota_user (String): Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.
    - :user_ip (String): IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    - :max_results (Integer): Optional. Maximum number of results to be returned. If unspecified, the server will decide how many results to return.
    - :page_token (String): Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.
    - :sort_by (String): Sorting criterion. The only supported value is change sequence.
    - :sort_order (String): Sorting order direction: &#39;ascending&#39; or &#39;descending&#39;.

  ## Returns

  {:ok, %GoogleApi.DNS.V1.Model.ChangesListResponse{}} on success
  {:error, info} on failure
  """
  @spec dns_changes_list(Tesla.Env.client, String.t, String.t, keyword()) :: {:ok, GoogleApi.DNS.V1.Model.ChangesListResponse.t} | {:error, Tesla.Env.t}
  def dns_changes_list(connection, project, managed_zone, opts \\ []) do
    optional_params = %{
      :"alt" => :query,
      :"fields" => :query,
      :"key" => :query,
      :"oauth_token" => :query,
      :"prettyPrint" => :query,
      :"quotaUser" => :query,
      :"userIp" => :query,
      :"maxResults" => :query,
      :"pageToken" => :query,
      :"sortBy" => :query,
      :"sortOrder" => :query
    }
    %{}
    |> method(:get)
    |> url("/{project}/managedZones/{managedZone}/changes", %{
         "project" => URI.encode_www_form(project),
         "managedZone" => URI.encode_www_form(managed_zone)
       })
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%GoogleApi.DNS.V1.Model.ChangesListResponse{})
  end
end
